{% for doctor in doctors %}
<div class="row doctors-info">
  <div class="small-12 medium-2 columns">
    <img class="doctor-img" src="{{  MEDIA_URL }}{{ doctor.photo }}" alt="The Best Dentist of Los Algodones">
  </div>
  <div class="small-12 medium-10 columns">
  <h3><a href="{% url 'doctor' doctor.slug %}" title="{{ doctor.name }}" class="text-purple">D.D.S. {{ doctor.name }}</a></h3>
    <p>{{ doctor.university }}</p>
    <ul>
      {% for study in doctor.studies %}
      <li>{{ study.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div><!-- .doctors-info -->
{% endfor %}

