{% extends 'pages/page.html' %}
{% load staticfiles doctor_tags %}

{% block content %}
<div class="row doctors-info">
  <div class="small-12 large-3 medium-4 columns">
    <img class="doctor-img" src="{{ MEDIA_URL }}{{ doctor.photo }}" alt="The Best Dentist of Los Algodones">
  </div>
  <div class="large-9 medium-8 columns">
    <h3>D.D.S. {{ doctor.name }}</h3>
    <p>{{ doctor.university }}</p>
    <ul>
      {% for study in doctor.studies %}
      <li>{{ study.name }}</li>
      {% endfor %}
    </ul>

    {% if doctor.credentials %}
    <div class="row collapse gallery-credentials">
      {% for credential in doctor.credentials %}
      <div class="small-6 medium-3 columns">
        <img src="{{ MEDIA_URL }}{{ credential.credential }}" >
      </div>
      {% endfor %}
    </div><!-- .gallery-credentials -->
    {% endif %}
    
  </div>
</div>
<div class="row credentials">
  <div class="small-12 medium-4 columns">
    <img src="{% static 'img/certifications.png' %}">
  </div>
  <div class="small-12 medium-8 columns">
    <h3>Sani's International Credentials and Certified Dentists in our group.</h3>
  </div>
  <div class="small-12 columns">
    <p>After being visited by the Medical Tourism Association staff In 2013 Sani Dental Group was honored with the IPSC "International Patient Services Certification" by the MTA. Our clinic takes great pride on being the first and only Dental Clinic in Mexico with this certification, once again we put ourselved appart being the best option for international patients.</p>
    <p>Sani Dental Group is a proud member of the American Dental Association (ADA). We were one of the first dental clinics in Los Algodones to become members of this association.</p>
  </div>
</div>
{% endblock %}
