{% extends 'pages/page.html' %}
{% load staticfiles reviews_tags %}

{% block content %}

	<div class="cover-clinical">
		<div class="row align-center align-middle">
			<div class="small-8 medium-8 columns">
				<p class="caption-clinical-cases">
				<span>Save up to </span>
				<span>70% </span>
				<span>on your treatment </span>
				<span>by visiting Los Algodones Mexico</span></p>
			</div>
			<div class="small-4 medium-4 columns">
				<img src="{{ MEDIA_URL }}{{ clinical_cases.photo }}" alt="">
			</div>
		</div>
	</div><!-- .cover-clinical -->

	{% for before_after in clinical_cases.before_afters %}
	<div class="clinical-case-content">
		<div class="row">
			<div class="small-12 columns">
				<p class="lead">{{ clinical_cases.full_name }}</p>
				<p>
					<small>{{ before_after.city }}, {{ before_after.country }}, {{ before_after.date|date:"d M Y" }}</small>
				</p>
				<p>
				<h5>Get to know me</h5>
				<p>{{ clinical_cases.excerpt }}</p>
				{% if clinical_cases.groups|length > 0 %}
				<p>
					<strong class="treatments-list">Treatments: </strong>
					{% for group in clinical_cases.groups %}
						{% if forloop.last %}
							{{ group.name }}.
						{% else %}
							{{ group.name }},
						{% endif %}
					{% endfor %}
				</p>
				{% endif %}

				{% if  before_after.procedures|length > 0 %}
				<p>
					<strong class="treatments-list">Procedures: </strong>
					{% for procedure in before_after.procedures %}
						{% if forloop.last %}
							{{ procedure.name }}.
						{% else %}
							{{ procedure.name }},
						{% endif %}
					{% endfor %}
				</p>
				{% endif %}
			</div>
		</div>
	</div><!-- .clinical-case-content -->

	<div class="ba-pics">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<p>Before</p>
				<img src="/media/{{ before_after.before }}" >
			</div>
			<div class="small-12 medium-6 columns">
				<p>After</p>
				<img src="/media/{{ before_after.after }}" >
			</div>
		</div>
	</div><!-- .ba-pics -->

	<div class="video-review-content">
		<div class="row">
			<div class="small-12 columns">
				<h5>Testimonial</h5>
			</div>
		</div>
		{% for video in clinical_cases.videos %}
		<div class="row">
			<div class="small-12 columns">
				<div class="responsive-embed widescreen">
					<iframe width="560" height="315" src="{{ video.url }}rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		{% endfor %}
	</div><!-- .video-review-content -->

	<div class="clinical-gallery">
		<div class="row">
			<div class="small-12 columns">
				<h5>Gallery</h5>
			</div>
		</div>
		<div class="row small-up-2 medium-up-3 large-up-4">
		{% for gallery in clinical_cases.galleries %}
			<div class="column column-block">
				<img src="{{ MEDIA_URL }}{{ gallery.photo }}" id="{{ forloop.counter }}" class="thumbnail">
			</div>
		{% endfor %}
		</div>
	</div><!-- .clinical-gallery -->

	{% endfor %}{# end clinical_cases.before_afters #}

{% endblock %}