{% extends 'pages/page.html' %}
{% load reviews_tags mezzanine_tags %}

{% block content %}

	{% for clinical_case in clinical_cases %}
	<div class="clinical-case-list">
			<div class="row">
				<div class="small-12 medium-3 columns hide-for-small-only">
        	<a href="{{ clinical_case.slug }}" title="{{ clinical_case.full_name }}"><img src="{{ MEDIA_URL }}{{ clinical_case.photo }}" alt="Clinical Case of {{ clinical_case.full_name }}" class="thumbnail"></a>
      	</div>
      	<div class="small-12 medium-9 columns">
	      	<p class="lead"><a href="{{ clinical_case.slug }}" title="{{ clinical_case.full_name }}">{{ clinical_case.full_name }}</a></p>
	      	<p><small>{{ clinical_case.date|date:"d M Y" }}</small></p>
					{% if  clinical_case.groups|length > 0 %}
					<p class="treatments-list">
						<strong>Treatments: </strong>
						{% for treatment  in clinical_case.groups %}
							{% if forloop.last %}
								{{ treatment.name }}.
							{% else %}
								{{ treatment.name }},
							{% endif %}
						{% endfor %}
					</p>
					{% endif %}
					<p>
						{{ clinical_case.excerpt|truncatewords:20 }}
						<a href="{{ clinical_case.slug }}" title="{{ clinical_case.full_name }}" class="read-more-link">See full story...</a>
					</p>
      	</div>
			</div>
	</div>
	{% endfor %}

{% include 'includes/pagination-general.html'%}

{% endblock %}