{% extends 'pages/page.html' %}
{% load staticfiles reviews_tags mezzanine_tags %}

{% block content %}
<div class="video-review-content">
	<div class="row">
		<div class="small-12 columns">
			<div class="responsive-embed">
				<iframe width="400" height="225" src="{{ video_review.url }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="small-12 columns">
			<p class="lead">{{ video_review.full_name }}</p>
			<p>
				<small>{{ video_review.city }}, {{ video_review.country }}, {{ video_review.date|date:"d M Y" }}</small></p>
			<p>
				{{ video_review.comment|safe }}
			</p>
			<div class="share">
				<ul>
					<li>
						<a href="https://facebook.com/sharer.php?u={{ HOME_URL }}{{ video_review.url }}" 
						   title="Facebook" 
						   target="_blank">Facebook</a>
					</li>
					<li>
						<a href="https://twitter.com/intent/tweet?url={{ HOME_URL }}{{ video_review.url }}"
						   title="Twitter"
						   target="_blank">Twitter</a>
					</li>
					<li>
						<a href="https://plus.google.com/share?url={{ HOME_URL }}{{ video_review.url }}" 
							 title="Google" 
						   target="_blank">Google +</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/cws/share?url={{ HOME_URL }}{{ video_review.url }}" 
							 title="Linkedin" 
						   target="_blank">Linkedin</a>
					</li>
				</ul>
			</div><!-- .share -->
		</div>
	</div>
	<div class="callout primary radius">
		<p><b>Disclaimer:</b> All content shown in this blog and in any linked materials are not intended and should not be construed as medical advice. Any recommendations are based on personal, not professional, opinion only. If the reader or any other person has a medical concern about their dental care and treatments, please contact us directly. For more information please read our <a href="/disclaimer" title="Disclaimer">Disclaimers</a> and <a href="/faq" title="FAQ">FAQ</a> pages.</p>
	</div>
</div><!-- .video-review-content -->
{% endblock %}