{% extends 'pages/page.html' %}
{% load reviews_tags mezzanine_tags %}

{% block content %}

	{% for video_review in video_reviews %}
	<div class="video-review-content">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="responsive-embed">
					<iframe width="400" height="225" src="{{ video_review.url }}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<p class="lead">{{ video_review.full_name }}</p>
				<p>
					<small>{{ video_review.city }}, {{ video_review.country }}, {{ video_review.date|date:"d M Y" }}</small></p>
				<p>
					{{ video_review.comment|truncatewords:36 }}
					<a href="{% url 'video-review' video_review.pk %}" title="Read more" class="read-more-link">View more...</a>
				</p>
			</div>
		</div>
	</div>
	{% endfor %}

{% include 'includes/pagination-general.html'%}

{% endblock %}