{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
	<p><b>SANI DENTAL GROUP</b> is the largest dental group in Los Algodones, Baja California, and one of the largest in Mexico. It was originally established in 1985 by D.D.S. Enrique Jimenez in Guadalajara, Jalisco, Mexico. After years spent honing his skills, he decided to move north to Los Algodones where he established a new office. Since then, SANI has grown from a 2-chair, one dentist office, to a 30+ dentists group with three different offices in Los Algodones.</p> 

	<p>Given the high demand caused by the many referrals from past patients, we’ve decided to develop and add a laboratory to produce our own <b>Porcelain/Metal crowns,</b> E-max (pure porcelain crowns) and acrylic plates as well as TCS and combined metal partials, thereby nullifying our dependence on outside labs and ensuring the material and skilled labor quality.</p>

	<p>Along the way, we have acquired vast experience as an independent private practice, and have become an institution in which our specialized staff members have perfected their skills in each of their individual fields.</p>

	<p>Our staff consists of more than 30 doctors with different <b>specialties and experience ranging from 5 to 30 years,</b> serving patients mainly from the USA and Canada.</p>

	<p>They are graduates from the best universities in Mexico, and they have taken refresher courses in several prestigious institutions including Harvard School of Dental Medicine, in Boston, Massachusetts; International Center of Laser Education, Indianapolis MN and Mega'Gen Implants Factory in Seoul, Korea. Our doctor’s team has specialized in Laser dentistry, Oral surgery, Dental Implantology, Cosmetic Dentistry, Orthodontics, Endodontics, Periodontics, Health services administration, among other dental treatments you may need.</p>

	<p>Your dental treatment can be performed by one, two, three, or more doctors. You will be seen by a specialist for each treatment you require.</p>

	<p>Sani Dental Group offers everything you need in one place: </p>
	<div class="row align-middle why-us">
		<div class="small-4 medium-2 columns">
			<img src="{% static 'img/icons/icon-lodging.png' %}" alt="Hotel in los algodones">
		</div>
		<div class="small-8 medium-8 columns">
			<p>We assist you with the <b class="text-aqua">setup of your trip and lodging.</b></p>
		</div>
	</div>
	<div class="row align-middle why-us">
		<div class="small-4 medium-2 columns">
			<img src="{% static 'img/icons/icon-shuttle.png' %}" alt="sani dental shuttle service">
		</div>
		<div class="small-8 medium-8 columns">
			<p>We offer our patients <b class="text-aqua">free shuttle services </b>from Airport/Border to our clinics.</p>
		</div>
	</div>
	<div class="row align-middle why-us">
		<div class="small-4 medium-2 columns">
			<img src="{% static 'img/icons/icon-payment.png' %}" alt="sani dental group payment methods">
		</div>
		<div class="small-8 medium-8 columns">
			<p>We accept all forms of <b class="text-aqua">dollar payment</b> such as cash, personal and travelers’ checks, and/or credit cards.</p>
		</div>
	</div>
	<div class="row align-middle why-us">
		<div class="small-4 medium-2 columns">
			<img src="{% static 'img/icons/icon-warranty.png' %}" alt="sani dental group warranty">
		</div>
		<div class="small-8 medium-8 columns">
			<p>All our dental work has up to <b class="text-aqua">5 year full warranty.</b></p>
		</div>
	</div>
	<!-- why us -->
	<h3 class="page-sub">Technology</h3>
	<p>In addition to the professional staff, many certifications, and continuous education; our facilities are equipped with counting-edge technologies.</p>
	<div class="row align-center">
		<div class="small-12 medium-4">
			<img src="{% static 'img/images/imagen-technology-1.jpg' %}" alt="state of the art dental equipment">
		</div>
		<div class="small-12 medium-4">
			<img src="{% static 'img/images/imagen-technology-2.jpg' %}" alt="dental equipment">
		</div>
		<div class="small-12 medium-4">
			<img src="{% static 'img/covers/cover-home.jpg' %}" alt="sani dental group dental clinic">
		</div>
	</div>
{% endblock %}
