{% extends 'pages/page.html' %}
{% block content %}
<p>One of our Dental Advisors will get back to you as soon as possible to confirm your appointment. We may contact you via e-mail, so please check your inbox and junk mail. If you do not receive an e-mail in the following 24 hours, please call us at our toll free number <b>855 SANI-DDS</b>.</p>
{% endblock %}