{% extends 'pages/page.html' %}
{% load staticfiles sani_tags %}

{% block included_right_panel %}
	{% include 'includes/sidebar-info.html' %}
{% endblock %}

{% block content %}
<p>At Sani Dental Group we are proud to have the best team to offer world class service to our patients and of course, the Best Dentists!.
If you think you have what it takes you can make a career at the #1 growing clinic in the region, apply by filling out the following form, a member of our administration department will contact you shortly.</p>
<form class="carrer-form" id="carrers-form" action="/api/carrers/" method="post" data-abide novalidate enctype="multipart/form-data">{% csrf_token %}
	<div class="row">
		<div class="small-12 medium-6 columns">
			<label for="">Full name <span class="required">*</span></label>
			<input type="text" name="name" required pattern="[a-zA-Z]+">
			<small class="form-error">This field is required.</small>
		</div>
		<div class="small-medium-6 columns">
			<label for="">Email <span class="required">*</span></label>
			<input type="email" name="email" required>
			<small class="form-error">This field is required.</small>
		</div>
		<div class="small-12 medium-6 columns">
			<label for="">Contact number</label>
			<input type="tel" name="phone">
		</div>
		<div class="small-12 medium-6 columns">
			<label for="">City residence</label>
			<input type="text" name="city">
		</div>
		<div class="small-12 medium-6 columns">
			<label>Gender <span class="required">*</span></label>
			<select name="gender" size="1" required>
				<option value="" selected="selected"> -- </option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
		<div class="small-12 medium-6 columns">
			<label>Date of birth <span class="required">*</span></label>
			<input type="text" name="birthday" id="dateForm" required>
		</div>
		<div class="small-12 medium-6 columns">
			<label for="">Highest education grade? <span class="required">*</span></label>
			<input type="text" name="education_grade" required>
			<small class="form-error">This field is required.</small>
		</div>
		<div class="small-12 medium-6 columns">
			<label>Position <span class="required">*</span></label>
			<select name="position" size="1" required>
				<option value="" selected="selected"> -- </option>
				{% list_positions %}
			</select>
		</div>
	</div>

	<p><b>Languajes:</b></p>
	<div class="row">
		<div class="small-12 medium-4 columns">
			<div class="row collapse">
				<div class="small-5 columns">
					<label class="text-left middle">English </label>
				</div>
				<div class="small-5 columns">
					<input type="text" name="english" required>
				</div>
				<div class="small-2 columns">
					<label for="" class="text-left middle">&nbsp; %</label>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="row collapse">
				<div class="small-5 columns">
					<label class="text-left middle">Spanish </label>
				</div>
				<div class="small-5 columns">
					<input type="text" name="spanish" required>
				</div>
				<div class="small-2 columns">
					<label for="" class="text-left middle">&nbsp; %</label>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="row collapse">
				<div class="small-5 columns">
					<label class="text-left middle">French </label>
				</div>
				<div class="small-5 columns">
					<input type="text" name="french" required>
				</div>
				<div class="small-2 columns">
					<label for="" class="text-left middle">&nbsp; %</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<label><b>Attach resume:</b></label>
			<input type="file" name="resume">
		</div>
		<div class="small-12 columns text-right">
			<button type="submit" class="btn-green large">Apply Now</button>
		</div>
	</div>
</form>
{% endblock %}
