{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
  {% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="row align-center">
  <div class="small-12 medium-3 columns sani-sticky-menu" data-sticky-container>
    <nav class="sticky" data-sticky data-anchor="faq-list" data-sticky-on="medium">
      <ul class="vertical menu" data-magellan>
        <li><a href="#treatment" title="Treatment">About the dental Treatment</a></li>
        <li><a href="#service" title="Service">About our service</a></li>
        <li><a href="#trip" title="Trip">About the trip</a></li>
      </ul>
    </nav>
  </div><!--.sani-sticky-menu -->
  <div class="small-12 medium-9 columns" id="faq-list">
    <div id="treatment" data-magellan-target="treatment" class="sani-sticky-container">
      <h4>Dental Treatment</h4>
      <dl>
        <dt>Is there a consultation or diagnosis fee?</dt>
        <dd>Absolutely not! At Sani Dental Group you can make your appointment and you will be diagnosed from among the best Los Algodones Dentists. Feel free to contact us and setup your appointment today with absolutely no charge. At the end of your diagnosis you will receive treatment options and you can choose the best one for your condition with the help of your dentist.</dd>
        <dt>Does Sani Dental Group offer a warranty to its patients?</dt>
        <dd>Yes, all treatments have a 2 year warranty.</dd>
        <dt>How often should I get a dental check up and cleaning?</dt>
        <dd>The American Dental Association recommends having a professional dental cleaning at least once every six months.</dd>
        <dt>When should I take my child to the dentist for the first check up?</dt>
        <dd>It is recommended to take children to the dentist for the first time after the eruption of their first tooth, normally between the age of 6 months and one year.</dd>
        <dt>Do you offer tooth-colored fillings? Can they replace my old metal fillings?</dt>
        <dd>Yes, they are called resin fillings. They are performed in one day and are priced at $45 USD. If you have metal fillings that you want to replace, there will be no extra charge for removing them.</dd>
        <dt>What causes sensitive teeth?</dt>
        <dd>There are many reasons why a patient develops sensitive teeth. Using special toothpaste may help control the sensibility, but it will not solve the problem. Common scenarios that can create sensitive teeth are:</dd>
         <ul>
          <li>If you have a tooth decay.</li>
          <li>Tooth erosion due to teeth grinding; this can damage the enamel and create a bigger problem in the future if it's left unattended.</li>
          <li>A cracked tooth can also create sensitive teeth.</li>
          <li>Receding Gums, this can be caused by several reasons; from incorrect teeth brushing to a periodontal disease.</li>
          <li>Teeth whitening (sometimes); depending on the technique used by the doctor, teeth whitening can leave your teeth sensitive for a couple of days.</li>
        </ul>
        <dt>What are my options for replacing a missing tooth?</dt>
        <dd>There are several tooth replacement options. One of the options consists in fabricating a partial denture to replace the missing tooth. Partial dentures seem like orthodontic retainers, usually carrying one or two teeth. The denture may also be attached to other teeth using wire clips.</dd>
        <dd>Other option to replace a missing tooth is a dental bridge. Bridges are usually fixed, stable, and feel like natural teeth. Exceptional bridges would fit properly as if there were no missing teeth. However, the dental bridge has the disadvantage of compelling the patient to treat with two, otherwise healthy teeth, apart from the extracted/missing tooth.</dd>
        <dd>Dental implants are the best possible alternative for replacing a missing tooth. Dental implants are artificial roots for teeth, which are attached to the jawbone before adding crowns. The titanium implants merge biologically with the human body. Titanium is the metal that dentists rely on because of the compatibility with human bones and tissues. Dental implants fit in missing teeth positions and cause no grinding of neighboring teeth. They can be used as replacement of multiple teeth, and are not limited in life span. The implants are also fixed and feel just like normal teeth.</dd>
        <dt>Why do I need a mouth guard?</dt>
        <dd>Mouth guards are used to protect your teeth from bruxism (teeth grinding), and are a great way to protect your crowns and implants by avoiding extra pressure on them.</dd>
        <dt>Should I tell my dentist I have diabetes?</dt>
        <dd>Yes, people with diabetes require special care when it comes to dental procedures. Even if you write it down on your file, it’s highly recommended to inform your doctor at every appointment about your condition and the medications you may be taking.</dd>
      </dl>   
      <div class="show-for-small-only go-back-list">
        <a href="#promotions-menu" title="Promotions Menu">Go Back To Menu</a>
      </div>
    </div><!-- .sani-sticky-container -->
    <div id="service" data-magellan-target="service" class="sani-sticky-container">
      <h4>About our service</h4>
      <dl>
        <dt>Is there a consultation or diagnosis fee?</dt>
        <dd>Absolutely not! At Sani Dental Group you can make your appointment and you will be diagnosed from among the best Los Algodones Dentists. Feel free to contact us and setup your appointment today with absolutely no charge. At the end of your diagnosis you will receive treatment options and you can choose the best one for your condition with the help of your dentist.</dd>
        <dt>Does Sani Dental Group offer a warranty to its patients?</dt>
        <dd>Yes, all treatments have a 2 year warranty.</dd>
        <dt>Can I pay in American Dollars?</dt>
        <dd>Of course! US dollars are the local currency in Los Algodones. You will not need any other type of currency during your visit.</dd>
        <dt>Can I pay with credit card or check?</dt>
        <dd>Yes! Sani Dental Group wants to make it easy for you; we accept cash, personal, traveler and cashier checks, money orders, and credit cards (Visa and Master Card). A 4% fee will apply in all credit & debit card payments.</dd>
        <dt>Can I use my Dental Insurance?</dt>
        <dd>Yes, even when we don’t work directly with foreign dental insurance companies we can fill out all the necessary paperwork so your insurance company can reimburse your money. A $30 USD fee will be charged for administrative purposes, just ask for this service at our front desk on your first appointment.</dd>
        <dt>Do you offer sedation?</dt>
        <dd>Yes, you will not need to be sedated for any treatment at Sani Dental Group; local anesthetic will be applied. However, if you prefer to be sedated we can arrange that for you. We work with professional specialists that will make your treatment a “pleasant dream”. Nitrous Oxide or IV Sedation can be used at patient's request; they are priced at $600 USD. Please let our staff know if you choose to use this service at the moment of making your appointment.</dd>
        <dt>I’m driving down to Los Algodones, where can I leave my car?</dt>
        <dd>Sani Dental Group has its own parking lot at –free of charge for our patients- just next to our Clinic on Alamo Street (2 blocks away from the border).</dd>
      </dl>
      <div class="show-for-small-only go-back-list">
        <a href="#promotions-menu" title="Promotions Menu">Go Back To Menu</a>
      </div>
    </div><!-- .sani-sticky-container -->
    <div id="trip" data-magellan-target="trip" class="sani-sticky-container">
      <h4>About the trip</h4>
      <dl>
        <dt>Do I need a passport to go to Mexico?</dt>
        <dd>Even when you don’t need a passport to cross the border to Mexico, it will be needed to go back into the US. Special considerations might be granted by the US and Canadian Governments to Citizens in need of medical treatment. Sani Dental Group can issue an expedite letter to you stating your need to cross the border for dental treatment. Contact us for more information.</dd>
        <dt>I’m driving down to Los Algodones, where can I leave my car?</dt>
        <dd>Sani Dental Group has its own parking lot -at no charge for our patients- just next to our Clinic at Alamo Street (2 blocks away from the border).</dd>
        <dt>Does the border line have a schedule?</dt>
        <dd>Yes, the border line opens at 6:00 am and closes at 10:00 pm.</dd>
        <dt>Is it safe to stay in Mexico overnight?</dt>
        <dd>Yes. Staying in Mexico is not a problem at all; there might be other cities across the country where people may need to take precautions, but not in Los Algodones.</dd>
        <dd>Los Algodones is a small and safe town, located just on the border and is known for Dental Tourism. Every day we receive thousands of North American tourists, so you will be surrounded by them. Everyone in town speaks English, and everything is within a walking distance.</dd>
        <dd>If you need to stay overnight we have an agreement with the only hotel in town “Hacienda Los Algodones”, so we can arrange your lodging needs at a special price. Feel free to contact us for more information.</dd>
        <dt>Where can I spend the night?</dt>
        <dd>We have an agreement with the best hotels in town <a href="http://haciendalosalgodones.com" title="Hacienda Los Algodones">“Hacienda Los Algodones”</a> and <a href="http://mediplazalosalgodones.com/cielito-lindo" title="Cielito Lindo Hotel">"Cielito Lindo Hotel"</a>, so we can arrange your lodging needs at a special price. </dd>
        <dd>If you prefer to stay overnight on the U.S. side, then Yuma, Arizona will be the best option. Located just 7 miles east of the border crossing, Yuma offers a variety of hotels; you can see where they are located by clicking on the following link <a href="/patient-resources/lodging/" title="Lodging">http://sanidentalgroup.com/patient-resources/lodging/</a></dd>
      </dl>
      <div class="show-for-small-only go-back-list">
        <a href="#promotions-menu" title="Promotions Menu">Go Back To Menu</a>
      </div>
    </div><!-- .sani-sticky-container -->
  </div>
</div>
{% endblock %}