{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags keyword_tags pages_tags prices_tags %}

{% block included_right_panel %}
	{% include 'includes/sidebar-free-quote.html' %}
{% endblock %}

{% block content %}
<p>This estimate should not be considered as an official price for your treatment as it's only after diagnosis when we can determine the right treatment for you.</p>
<div class="text-right">
	<a href="/patient-resources/dental-financing-options/" title="Financing Options" class="button btn-pink">Financing Options</a>
</div>

<div class="free-quote">
	{% render_procedure_groups %}
	<p>* The price may vary depending on the value of gold</p>
</div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'quote.js' %}"></script>
{% endblock extra_js %}

