{% extends 'pages/page.html' %}
{% load staticfiles %}


{% block content %}
<div class="small-12">
	<h4>Welcome to Sani Dental Group’s Facebook Page. We’re glad you are here.</h4>

	<p>This page provides you a place to know more about our services, products, initiatives, and news. We invite you to leave comments, photos, videos, and links that relate to the subjects covered on this page here. While this is an open forum, it’s also a friendly one, so we’ll review all comments and will remove any that are offensive or inappropriate. The comments posted on this page don’t represent the opinions of Sani Dental Group.</p>
		
	<strong>We reserve the right to remove any comments or posts that meet any of the following criteria:</strong>
	<ul>
		<li>Abusive, stalking, harassing, threatening, or attacking others.</li>
		<li>Defamatory, offensive, vulgar, or obscene violence.</li>
		<li>Hateful in language targeting race, religion, gender, nationality, or political beliefs.</li>
		<li>Fraudulent, deceptive, misleading, or unlawful content.</li>
		<li>Trolling or deliberate disruption of discussion.</li>
		<li>Violations of any intellectual property rights.</li>
		<li>Spamming.</li>
		<li>Uploading files that contain viruses that could damage the operation of other people’s computers.</li>
		<li>Commercial solicitation.</li>
		<li>Solicitation of donations.</li>
		<li>Embedding a link in your post to draw traffic to your own site.</li>
	</ul>
	<p>If you have any doubt or complain about our services, we recommend send an e-mail to <a href="mailto:assistance@sanidentalgroup.com?Subject=Hello%20Sani%20Assistance" title="Assistence">assistance@sanidentalgroup.com</a> to receive the fastest resolution.</p>
</div>
{% endblock %}




{% load staticfiles %}