{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-info.html' %}
{% endblock %}

{% block content %}
<!--=========== SPAN ===========-->
<h3>It's great to have you here!</h3>
<p>By filling this simple form you will be receiving our monthly newsletter with dental health information and exclusive promotions.</p>
	<form action="//sanidentalgroup.us6.list-manage.com/subscribe/post?u=071f2faa922de56113596b9c3&amp;id=f46c3a3dcf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" data-abide novalidate>
	{% csrf_token %}
		<div class="row">
			<div class="small-12 columns">
				<div data-abide-error class="alert callout" style="display: none;">
					<p><i class="fi-alert"></i> There are some errors in your form.</p>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<input type="text" name="FNAME" placeholder="Full Name" required pattern="[a-zA-Z]+">
				<span class="form-error">Full name required.</span>
			</div>
			<div class="small-12 medium-6 columns">
				<input type="email" name="EMAIL" placeholder="Email" required>
				<span class="form-error">Email required.</span>
			</div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_071f2faa922de56113596b9c3_f46c3a3dcf" tabindex="-1" value="">
			</div>
			<fieldset class="small-12 columns text-right">
				<button class="button large btn-pink" type="submit">Subscribe!</button>
			</fieldset>
			<div class="small-12 columns">
				<small>We will never spam you or share your email address. 
			By clicking on "Subscribe" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</small>
			</div>
		</div>
	</form>
{% endblock %}
