{% extends "base.html" %}
{% load mezzanine_tags keyword_tags pages_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block open_graph %}
{% include 'includes/open-graph.html' %}
{% endblock %}

{% block main %}
<section class="row expanded{% if not page.use_right_panel %} align-center{% endif %}" role="main">
	{% block content_main %}
		<main id="content" class="small-12 medium-12{% if page.use_right_panel %} large-8{% else %} large-10{% endif %}" role="main">
			<div class="container">
			{% block page_title %}
			<div class="row align-center{% if not page.use_right_panel %} expanded{% endif %}">
				<div class="small-12 medium-10 columns">
					<div class="page-title">
						<h1>{{ page.title }}</h1>
						{% if page.subtitle %}
						<h2 >{{ page.subtitle }}</h2>
						{% endif %}
					</div>
				</div>
			</div>
			{% endblock %}{# /page_title #}
			
			<div class="row align-center{% if not page.use_right_panel %} expanded{% endif %}">
				<div class="small-12 medium-10 columns">
					{% block content %}{% endblock %}
				</div>
			</div>
			</div>
		</main><!-- #content -->

		{% if page.use_right_panel %}
		{% block right_panel %}
		<aside id="sidebar" class="small-12 medium-12 large-4" data-sticky-container>
		{% block included_right_panel %}
			{% include 'includes/sidebar-contact.html' %}
		{% endblock %}
		</aside><!-- #sidebar -->
		{% endblock %}{# /right_panel #}
		{% endif %}
	{% endblock %}{# /content_main #}
</section>
{% endblock %}{# /main #}