{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-info.html' %}
{% endblock %}
{% block content %}
<div id="form">
	<div class="row align-center">
		<div class="small-12 medium-10 columns">
			<h3>Get a Free Estimate by Filling the Form Below</h3>
			<p>Our team of patient coordinators will help you set your appointment and solve all your doubts.</p>
		</div>
	</div>
	<form action="" method="POST"  data-abide novalidate>{% csrf_token %}{% load widget_tweaks %}
		<div class="row align-center">
 			<div class="small-12 columns">
				<div data-abide-error class="alert callout" style="display: none;">
					<p><i class="fi-alert"></i> There are some errors in your form.</p>
				</div>
			</div>
			<div class="small-12 medium-10 columns">
				<span>{{ form.first_name.errors.as_text }}</span>
				{{ form.first_name|attr:'type:text'|attr:'name:first_name'|attr:'placeholder:First name'|attr:'pattern:[a-zA-Z]+'|attr:'required:required' }}
			</div>
			<div class="small-12 medium-10 columns">
				<span>{{ form.last_name.errors.as_text }}</span>
				{{ form.last_name|attr:'type:text'|attr:'name:last_name'|attr:'placeholder:Last name'|attr:'pattern:[a-zA-Z]+'|attr:'required:required' }}
			</div>
			<div class="small-12 medium-10 columns">
				<span>{{ form.email.errors.as_text }}</span>
				{{ form.email|attr:'type:email'|attr:'name:email'|attr:'placeholder:Email'|attr:'required:required' }}
			</div>
			<fieldset class="small-12 medium-12 columns text-center">
				<button class="button btn-purple" type="submit">I Want My Estimate</button>
			</fieldset>
		</div>
		<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">
	</form>
</div>
{% endblock %}