{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-info.html' %}
{% endblock %}

{% block content %}
<p>Every online appointment needs to be confirmed by our patient support team, please fill out the information below and we will contact you shortly.</p>
<p>Please consider that by filling this information you are only asking for a specific time and date. Once you receive the confirmation e-mail, you will have your official appointment.</p>
{% include 'includes/self-booking-form.html' %}
{% endblock %}
{% block extra_js %}
	<script src="{% static 'selfbooking.js' %}"></script>
{% endblock extra_js %}
