{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block content %}
	<form id="test-form" method="post" action="/api/testform/">
		{% csrf_token %}
		<input type="text" name="nombre" placeholder="Name">
		<input type="email" name="email" placeholder="Email">
		<button type="submit" class="small button btn-gold">Send Email</button>
	</form>

{% endblock %}


