{# VIEW DEPRECATED #}
{% extends 'pages/richtextpage.html' %}
{% block content %}
  <div id="video-gallery" class="royalSlider videoGallery rsDefault">
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=KcK2Q9fd288?rel=0" href="http://img.youtube.com/vi/KcK2Q9fd288/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Crowns </h5>
        <span></span>
      </div>
    </a><!-- /Video 1 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=mC38IR-vaIw?rel=0" href="http://img.youtube.com/vi/mC38IR-vaIw/0.jpg">
      <div class="rsTmb">
        <h5>Impacted lower 3rd Molar Extraction Disto Angular </h5>
        <span></span>
      </div>
    </a><!-- /Video 2 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=Phm-1W91n2Y?rel=0" href="http://img.youtube.com/vi/Phm-1W91n2Y/0.jpg">
      <div class="rsTmb">
        <h5>Dental Implant Vs Bridge</h5>
        <span></span>
      </div>
    </a><!-- /Video 3 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=oi6VxGiRc8s?rel=0" href="http://img.youtube.com/vi/oi6VxGiRc8s/0.jpg">
      <div class="rsTmb">
        <h5>Dental Implants Bone Grafting</h5>
        <span></span>
      </div>
    </a><!-- /Video 4 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=sOJRo3rH_-M?rel=0" href="http://img.youtube.com/vi/sOJRo3rH_-M/0.jpg">
      <div class="rsTmb">
        <h5>Dental Implants with Sinus Lift </h5>
        <span></span>
      </div>
    </a><!-- /Video 5 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=yhjR3N_bGnM?rel=0" href="http://img.youtube.com/vi/yhjR3N_bGnM/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Dentures </h5>
        <span></span>
      </div>
    </a><!-- /Video 6 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=vYMnGHI_Lbc?rel=0" href="http://img.youtube.com/vi/vYMnGHI_Lbc/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Home Care</h5>
        <span></span>
      </div>
    </a><!-- /Video 7 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=ReTs_Qy776Q?rel-0" href="http://img.youtube.com/vi/ReTs_Qy776Q/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Implant Placement</h5>
        <span></span>
      </div>
    </a><!-- /Video 8 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=mnK6T6zwi4o?rel=0" href="http://img.youtube.com/vi/mnK6T6zwi4o/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Partials</h5>
        <span></span>
      </div>
    </a><!-- /Video 9 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=rGZT_emb2po?rel=0" href="http://img.youtube.com/vi/rGZT_emb2po/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Scaling Planing </h5>
        <span></span>
      </div>
    </a><!-- /Video 10 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=cwo5yKoOpTU?rel=0" href="http://img.youtube.com/vi/cwo5yKoOpTU/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Root Canal Treatment (Animated Movie) </h5>
        <span></span>
      </div>
    </a><!-- /Video 11 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=lO3elmkyERw?rel=0" href="http://img.youtube.com/vi/lO3elmkyERw/0.jpg">
      <div class="rsTmb">
        <h5>Dental Patient Education - Tooth Fillings in 3D </h5>
        <span></span>
      </div>
    </a><!-- /Video 12 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=mLxyufp4VQs?rel=0" href="http://img.youtube.com/vi/mLxyufp4VQs/0.jpg">
      <div class="rsTmb">
        <h5>Endodontics - What Causes a Tooth Ache?</h5>
        <span></span>
      </div>
    </a><!-- /Video 13 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=0KuFLdP-EsI?rel=0" href="http://img.youtube.com/vi/0KuFLdP-EsI/0.jpg">
      <div class="rsTmb">
        <h5>Gingival Recession</h5>
        <span></span>
      </div>
    </a><!-- /Video 14 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=hboMM1f0uBc?rel=0" href="http://img.youtube.com/vi/hboMM1f0uBc/0.jpg">
      <div class="rsTmb">
        <h5>Impacted Wisdom - Teeth Removal (Animation)</h5>
        <span></span>
      </div>
    </a><!-- /Video 15 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=DOwr2qRQluo?rel=0" href="http://img.youtube.com/vi/DOwr2qRQluo/0.jpg">
      <div class="rsTmb">
        <h5>Implant versus Dental Bridge - Which Is More Reliable?</h5>
        <span></span>
      </div>
    </a><!-- /Video 16 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=aI--EI3ce2o?rel=0" href="http://img.youtube.com/vi/aI--EI3ce2o/0.jpg">
      <div class="rsTmb">
        <h5>Inlay Procedure</h5>
        <span></span>
      </div>
    </a><!-- /Video 17 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=8Et8MsWZAP4?rel=0" href="http://img.youtube.com/vi/8Et8MsWZAP4/0.jpg">
      <div class="rsTmb">
        <h5>KaVo Everest Engine with 5-Axis Technology</h5>
        <span></span>
      </div>
    </a><!-- /Video 18 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=YxRvDuNK8DE?rel=0" href="http://img.youtube.com/vi/YxRvDuNK8DE/0.jpg">
      <div class="rsTmb">
        <h5>Onlay Procedure</h5>
        <span></span>
      </div>
    </a><!-- /Video 19 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=WbeuxxCc_7c?rel=0" href="http://img.youtube.com/vi/WbeuxxCc_7c/0.jpg">
      <div class="rsTmb">
        <h5>Técnica All on 4 en Art&amp;Dent</h5>
        <span></span>
      </div>
    </a><!-- /Video 20 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=gK5yn6xZXek?rel=0" href="http://img.youtube.com/vi/aI--EI3ce2o/0.jpg">
      <div class="rsTmb">
        <h5>Immediate Load Implants Overview</h5>
        <span></span>
      </div>
    </a><!-- /Video 21 -->
    <a class="rsImg" data-rsvideo="http://www.youtube.com/watch?v=S_D7a1inIvE?rel=0" href="http://img.youtube.com/vi/S_D7a1inIvE/0.jpg">
      <div class="rsTmb">
        <h5>LANAP Patient Education - FDA Approved</h5>
        <span></span>
      </div>
    </a><!-- /Video 22 -->
  </div>
{% endblock %}
