{# VIEW DEPRECATED #}
{% extends 'pages/richtextpage.html' %}
{% block content %}
<dl class="tabs vertical custom-tabs" data-tab>
  <dd class="active"><a href="#panel1a" title="Crowns">Crowns</a></dd>
  <dd><a href="#panel2a" title="Dental Implants / Surgery">Dental Implants / Surgery</a></dd>
  <dd><a href="#panel3a" title="Full Mouth Restoration">Full Mouth Restoration</a></dd>
  <dd><a href="#panel4a" title="Cosmetic">Cosmetic</a></dd>
  <dd><a href="#panel5a" title="Laser">Laser</a></dd>
  <dd><a href="#panel6a" title="Orthodontics">Orthodontics (Braces)</a></dd>
</dl>
<div class="tabs-content vertical custom-tabs-content">
  <div class="content active" id="panel1a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Crowns</h2>
      </div>
      <div class="medium-8 columns">
        <p>A crown is an artificial restoration that fits over the remaining part of a prepared tooth, making it strong and giving it the shape of a natural tooth.<br>
        Crowns are an ideal restoration for teeth that have been broken, or have been weakened by decay or a very large filling.They can be made of porcelain fused to metal, full metal (E-max), zirconium or gold.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/crown.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Porcelain fused to metal</h3>
      </div>
      <div class="medium-8 columns">
        <p>Porcelain fused to metal dental crowns are one of dentistry's primary restorations of choice because, when properly constructed and seated, they are strong, reliable and esthetic and a good choice for either front or back teeth. These crowns are strong enough to withstand heavy biting force, and at the same time can have an excellent cosmetic appearance.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/porcelain.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Zirconium Crowns</h3>
      </div>
      <div class="medium-8 columns">
        <p>Zirconium is a very strong substance that can endure wear and tear of everyday use. The look of zirconium crowns is so close to natural teeth that it is hard to tell the difference and it is this quality which makes it very useable within dental work.<br>
        This means that Zirconium will produce the best aesthetic effect, which is important if your new crowns are to be at the front. It is particularly the case when the crowns will be seen beside natural teeth.<br>
        This type of procedure requires 8 days for laboratory work. Its preparation can be done in one day and requires a second visit after 8 days to place the finished crown.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/zirconium.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Zirconium Crowns</h3>
      </div>
      <div class="medium-8 columns">
        <p>This is a type of all-porcelain crown with an appealing translucent color which is combined with extra strength and durability. This crown is made from a single block of lithium disilicate ceramic: this is a top grade material which has been harvested for its toughness, durability and opaque qualities. These crowns are recommended only for front teeth.
        The time of porcelain crown treatments involves three days, around 1 or 2 hours each. However, it is always desirable to spend an additional day to make any adjustments if needed.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/e-max.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Gold Crowns</h3>
      </div>
      <div class="medium-8 columns">
        <p>Gold crowns are made with gold fused in porcelain material used mainly for your molar teeth due to the fact that they are not tooth coloured. Gold alloys used in dentistry are very strong and long lasting and as a result can last for a very long time.<br>
        The time of gold crowns treatments involves three days, around 1 or 2 hours each.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/gold.jpg" alt="">
      </div>
    </div>
  </div><!-- Crowns -->
  <div class="content" id="panel2a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Dental Implants / Surgery</h2>
      </div>
      <div class="medium-8 columns">
        <p><strong>Implant treatment has two stages.</strong><br>
        The first step in an implant treatment is the placement of the implant in the jaw. This is done via a minor surgical procedure under local anesthesia.<br>
        Temporary crowns or dentures are fitted immediately after implantation to restore temporary functions and aesthetics. The implant is then left to heal over a period of 3 to 4 months.<br>
        The second step consists of the abutment placement on the implant. This creates the final step of the foundation where the crown will be attached. The patient will have a makeover smile.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/implant.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Bone Graft</h3>
      </div>
      <div class="medium-8 columns">
        <p>The dental bone graft is an additional procedure that becomes necessary in some cases of dental implants. A bone graft is only called for when there is no sufficient jawbone to hold the dental implants steady.<br>
        The jawbone is designed to have sufficient bone in it since it is also what naturally holds the teeth. Unfortunately, the bone can be surprisingly vulnerable when faced with certain problems. For example, if you lose a tooth and neglect it for a long time, the gums may recede and there may be bone loss. Aside from that, some gum diseases also lead to bone loss. There are also natural cases wherein the lack of bone in the jaw area is an inborn trait. In such circumstances, bone grafting often becomes necessary.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/bone-craft.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Sinus Lift</h3>
      </div>
      <div class="medium-8 columns">
        <p>A sinus lift is also known as sinus augmentation, which increases bone in the molar area. In most cases, individuals who have lost their teeth suffer from a smaller or narrower sinus cavity that doesn't leave any room or enough bone for implant insertion.<br>
        In most cases, the sinus lift procedure will be performed prior to a dental implant, but in some cases, both procedures may be performed at the same time. At its most basic description, a sinus lift adds bone to the upper jaw bone in the molar or pre molar areas in order to make it thicker.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/sinus-lift.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Implant supported</h3>
      </div>
      <div class="medium-8 columns">
        <p><strong>Implants supported bridge</strong><br>
        An implant-supported bridge is similar to a regular dental bridge, but it is supported by implants and not by natural teeth. In most cases, when an implant-supported bridge is used, one implant is placed in the jawbone for each missing tooth. Then, the crowns are connected to each other to form one piece.<br>
        An implant-supported bridge reduces the pressure on the individual implants in the bone, and spreads it across the entire bridge.</p>
        <p><strong>Implants supported dentures</strong><br>
        An implant-supported denture is used when a person doesn't have any teeth in the jaw, but has enough bone in the jaw to support implants. An implant-supported denture has special attachments that snap onto attachments on the implants.<br>Usually, a regular denture made to fit an upper jaw is quite stable on its own and doesn't need the extra support offered by implants. However, you can receive an implant-supported denture in either the upper or lower jaw.<br>
        The implants are usually placed in the jawbone at the front of the mouth because there tends to be more bone in the front of the jaw than in the back. This is usually true even if teeth have been missing for some time. Once you lose teeth, you begin to lose bone in the area. Also, the front jaw doesn't have many nerves or other structures that could interfere with the placement of implants.<br>
        Some people prefer to have fixed (permanent) crown and bridgework in their mouths that can't be removed.
        </p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/implant-support.jpg" alt="">
      </div>
    </div>
  </div><!-- Dental Implants / Surgery -->
  <div class="content" id="panel3a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>All on four</h2>
      </div>
      <div class="medium-8 columns">
        <p>The All-on-Four treatment concept provides patients with an immediately loaded fixed acrylic prosthesis supported by 4 implants.<br>
        The principle involves the use of 4 implants restored with straight and angled multiunit abutments, which support a provisional, fixed, and immediately loaded, full-arch prosthesis placed on the same day of surgery. The All-on-Four treatment has been developed to maximize the use of available bone and allows immediate function. The definitive acrylic prosthesis is delivered within 4 months after implant insertion.<br>
        All-on-four is a specially effective treatment for upper arch restoration because longer, stronger implants can be used on the back part of the jaw.<br>
        This treatment is attractive to those with denture or in need of full upper and/or lower restorations. With the All-on-Four procedure, qualified patients receive just four implants and a full set of new replacement teeth in just one appointment. The real appeal is how quickly permanent implants can be placed so that patients can leave the same day with fixed, non-removable replacement teeth.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/all-on-four.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>All on Six</h3>
      </div>
      <div class="medium-8 columns">
        <p>The All-on-6 procedure is very similar to All-on-4, in which a series of high-tech dental implants is used to support denture appliances or porcelain fused to metal crowns. <br>
        The All-on-6 method consists of six dental implants that are precisely positioned within the jawbone, which is used as a natural anchor. Each dental implant is designed to organically integrate with the mouth, much like a natural tooth root. This way, the bite remains just as strong as it would have been with a brand new set of teeth.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/all-on-six.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Plates</h3>
      </div>
      <div class="medium-8 columns">
        <p>Plates are removable appliances that can replace missing teeth and help restore your smile. Plates will improve the look of your smile.<br>
        Immediate dentures are ready to wear in three days as your tooth extractions and can be in the form of a partial or a complete denture.<br>
        Immediate dentures are not as effective as permanent dentures; we strongly suggest other new treatments for permanent teeth, paying a little fraction of the cost of this treatment in the US.<br>
        If your natural roots are in good condition, they can be used to anchor a permanent denture. Porcelain crowns over your own teeth are strongly suggested, if necessary can be complemented with implants and a fixed denture. Even if there are no teeth, with the help of six implants on top or bottom you may have a full bridge to recover your permanent teeth.<br>
        Sometimes some of your teeth can be saved to preserve your jawbone and provide stability and support for the denture. An overdenture fits over a small number of remaining natural teeth after they have been prepared by your dentist. Implants can serve the same function, too.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/plates.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Implants supported dentures</h3>
      </div>
      <div class="medium-8 columns">
        <p>An implant-supported denture is used when a person doesn't have any teeth in the jaw, but has enough bone in the jaw to support implants. An implant-supported denture has special attachments that snap onto attachments on the implants. Usually, a regular denture made to fit an upper jaw is quite stable on its own and doesn't need the extra support offered by implants. However, you can receive an implant-supported denture in either the upper or lower jaw.<br>
        The implants are usually placed in the jawbone at the front of the mouth because there tends to be more bone in the front of the jaw than in the back. This is usually true even if teeth have been missing for some time. Once you lose teeth, you begin to lose bone in the area. Also, the front jaw doesn't have many nerves or other structures that could interfere with the placement of implants.<br>
        Some people prefer to have fixed (permanent) crown and bridgework in their mouths that can't be removed.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/suported-denture.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>TCS or Partial flexible</h3>
      </div>
      <div class="medium-8 columns">
        <p>TCS are thermoplastic removable flexible partial dentures. Each appliance is indicated for use as a removable full or partial denture in place of traditional acrylic or saddles on cast-metal partials.<br>
        The TCS is a flexible partial that allows restorations to adjust with the contours of the mouth. Partial Dentures have proved to be stain resistant, durable, and comfortable in the mouth. This, along with the natural hue of the appliance, allows it to blend with surrounding gums and dentition to ensure your patient 100 percent confidence.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/tcs.jpg" alt="">
      </div>
    </div>
  </div><!-- Full Mouth Restoration -->
  <div class="content" id="panel4a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Cosmetics</h2>
      </div>
      <div class="medium-8 columns">
        <p>Cosmetic dental treatments can bring a major change to your entire personality. There is no doubt that cosmetic dentistry is on the rise; everyone desires to have a beautiful, natural smile to be proud of. Cosmetic dentistry has given back the confidence that is very important in a person to socialize.<br/>
        Cosmetic dentistry is not only beneficial during and after the results have been gained, it spawns to years of maintenance to a saved tooth.<br/>
        We provide several choices for cosmetic dental work such as veneers, whitening, deep cleaning, E-max crowns, among others.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/cosmetic.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Veneers</h3>
      </div>
      <div class="medium-8 columns">
        <p>A veneer is a thin shield of porcelain used to cover the front surface of the tooth. The porcelain covers the whole of the front of the tooth with a thicker section, replacing the broken or damaged part. It is a recommended solution for either malformed or severely discolored teeth, since this treatment restores teeth functions and improves teeth appearance. The final effect is a natural-looking great set of teeth.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/veneers.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Deep cleaning</h3>
      </div>
      <div class="medium-8 columns">
        <p>Dental cleanings involve removing plaque (soft bacteria infested film) and calculus deposits that have built up on teeth over time.<br/>
        Professional cleaning includes tooth scaling, tooth polishing, and debridement if too much tartar has been accumulated. Deep cleaning includes cleaning of teeth roots, below the gum level. This involves the use of various instruments or devices to loosen and remove deposits from teeth. Most dental hygienists recommend having the teeth professionally cleaned every six months.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/deep-cleaning.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <h3>Whitening</h3>
      </div>
      <div class="medium-8 columns">
        <p>Teeth whitening has become one of the most popular ways to enhance your smile, we offer a range of teeth whitening options and our qualified dental professionals will provide you with all the facts you need to make an informed decision about your teeth.<br/>
        There are several options for teeth whitening; the regular whitening is performed by applying a hydrogen peroxide based bleaching gel to the teeth, a blue-spectrum specially patented light will shine on the teeth, speeding up and intensifying the whitening process. The procedure time is around 20 minutes. The laser technology is performed by applying a translucent bleaching gel on the teeth and a laser light is used to activate the crystals to absorb the energy from the light and penetrate the teeth enamel to increase the lightening effect on the teeth. The length of time in the cosmetic dentist's chair depends on the degree of discoloration you have.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/whitening.jpg" alt="">
      </div>
    </div>
  </div><!-- Cosmetic -->
  <div class="content" id="panel5a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Laser</h2>
      </div>
      <div class="medium-8 columns">
        <p>A laser is a high-technology device that generates a beam of concentrated light. This beam of light brings energy into the mouth to help the dentist remove areas of infection or tooth decay with great precision and accuracy.<br/>
        The laser beam sterilizes the affected area and seals off blood vessels, which minimizes the chance of infection or bleeding.</p>
        <p><strong>Dental Laser is much more comfortable both during and after treatment. Other benefits include:</strong></p>
        <ul class="circle">
          <li>Minimal damage to the surrounding tissues</li>
          <li>Some procedures with lasers don't require sutures</li>
          <li>Some procedures don't require anesthesia</li>
          <li>Minimal bleeding due to high-energy light beams which inhibits blood loss</li>
          <li>Minimal bacterial infections because the light beams sterilize the area</li>
          <li>Wounds heal faster and tissues can regenerate</li>
        </ul>
        <p>The laser whitening technology is performed by applying a translucent bleaching gel into the teeth and a laser light is used to activate the crystals to absorb the energy from the light and penetrate the teeth enamel to increase the lightening effect on the teeth. The length of time in the cosmetic dentist's chair depends on the degree of discoloration you have.<br/>
        Laser cleaning reduces practically to nothing the sensitivity that you may experience in your teeth and gums a few days after treatment, and promotes a faster recovery of the tissues.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/laser.jpg" alt="">
      </div>
    </div>
  </div><!-- Laser -->
  <div class="content" id="panel6a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Orthodontics (Braces)</h2>
      </div>
      <div class="medium-8 columns">
        <p>Orthodontics is a type of dental treatment that aims to improve the appearance, position and function of abnormally arranged teeth.<br/>
        Orthodontics uses mechanical devices, such as a brace, over a certain period of time (Usually 18 to 24 months) to correct the position of the teeth.<br/>
        Orthodontics is a specialty field of dentistry that diagnoses, prevents and treats irregularities of the teeth and face. Treatment can correct an irregular or "bad" bite, also known as a malocclusion.<br/>
        It also can benefit long-term dental health. Straight, properly aligned teeth are easier to brush and floss. This can help reduce the risk of tooth decay. It also can help prevent gingivitis, an inflammation that damages gums. This type of gum disease can destroy bone that surrounds the teeth and lead to tooth loss.</p>
      </div>
      <div class="medium-4 columns">
        <img src="/static/img/braces.jpg" alt="">
      </div>
    </div>
  </div><!-- Orthodontics (Braces) -->
</div>
{% endblock %}