{% extends 'pages/page.html' %}
{% load staticfiles %}
{% block content %}
<form action="/api/review/" method="post" data-abide novalidate>
  {% csrf_token %}
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="review-rating">
        <span>Quality</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="quality" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Service</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="service" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Communication</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="communication" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Cleanliness</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="cleanliness" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Price</span>
       <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="price" value="5" class="qualification">
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div class="review-rating">
        <span>Comfort</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="comfort" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Value</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="value" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Location</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="location" value="5" class="qualification">
        </div>
      </div>
      <div class="review-rating">
        <span>Satisfaction</span>
        <div class="star-holder">
          <div class="star-rating write"></div>
          <input type="hidden" name="satisfaction" value="5" class="qualification">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <fieldset class="small-12 medium-6 columns">
      <legend>Was your diagnosis consultation on time (if applicable):</legend>
      <input type="radio" name="question_1" value="1" id="_yes" required><label for="_yes">Yes</label>
      <input type="radio" name="question_1" value="0" id="_no"><label for="_no">No</label>
    </fieldset>
    <fieldset class="small-12 medium-6 columns">
      <legend>Were your following appointments on time (if applicable):</legend>
      <input type="radio" name="question_2" value="1" id="_yes" required><label for="_yes">Yes</label>
      <input type="radio" name="question_2" value="0" id="_no"><label for="_no">No</label>
    </fieldset>
  </div>

  <div class="row">
  
    <div class="medium-12 columns"><hr></div>
    <div class="small-12 medium-6 columns">
      <input type="text" name="first_name" placeholder="First Name" required pattern="[a-zA-Z]+">
    </div>
    <div class="small-12 medium-6 columns">
      <input type="text" name="last_name" placeholder="Last Name" required pattern="[a-zA-Z]+">
    </div>
    <div class="small-12 medium-6 columns">
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="small-12 medium-6 columns">
      <input type="text" name="date" id="dateForm" placeholder="Date of Appointment" required>
    </div>
    <div class="small-12 medium-6 columns">
      <input type="text" name="city" placeholder="City of Residence" required>
    </div>
    <div class="small-12 medium-6 columns">
      <input type="text" name="country" placeholder="Country of Residence" required>
    </div>
    <div class="small-12 medium-6 columns">
      <label>How did you find us?</label>
      <select name="find_us" size="1" id="find-list" required>
        <option value="" selected="selected">--</option>
        <option value="acquaintance">Acquaintance</option>
        <option value="Advertising">Advertising</option>
        <option value="Internet Research">Internet Research</option>
      </select>
    </div>
    <div id="acquaintance-name" class="medium-6 columns" style="display: none;">
      <label>Name:</label>
      <input type="text" name="acquaintance" minlength="2">
      <small id="alert-acquaintance">
          * For the <strong>"Reward program"</strong>
          of Sani patients
      </small>
    </div>
    <div class="small-12 medium-6 columns">
      <label>Select your clinic</label>
      <select name="clinic" required>
          <option>Sani Dental Group</option>
          <option>Sani Dental Group Platinum</option>
          <option>Sani Dental Group Class</option>
      </select>
    </div>
    <div class="small-12 medium-12 columns">
      <textarea name="comment" placeholder="Your message" cols="30" rows="10" required></textarea>
    </div>
    <div class="small-12 medium-12 columns">
        <button type="submit" class="button large btn-pink">Submit Review</button>
    </div>
  </div>
</form>
{% endblock %}
{% block right_panel %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'reviews.js' %}"></script>
{% endblock extra_js %}