//
// Mixins
// --------------------------------------------------

@mixin imagecaption( $vertical, $horizontal , $padding-caption, $bg-color){
	position: absolute;
	width: 100%; 
	bottom: $vertical;
	left: $horizontal;
	padding: $padding-caption;
	background-color: $bg-color;
}

@mixin btn-brand($btn-color){
	@include button(false, $btn-color, transparent, $white, solid);
	border: 2px solid $btn-color;
	font-weight: bold;
	&:hover,
	&:active, 
	&:focus{
		color: $btn-color;
	} 
}

@mixin leftborder($width-border, $color-border, $left-pad ){
	border-left-width: rem-calc($width-border);
	border-left-style: solid;
	border-color: $color-border;
	padding-left: rem-calc($left-pad);
}