//
// Variables
// --------------------------------------------------

$brand-purple:        #732b74 !default;
$brand-blue:          #034EA2 !default;
$brand-dark-blue:     #3e465a !default;
$brand-aqua:          #1e98a7 !default;
$brand-pink:          #fd226f !default;
$brand-light-blue: 		#24B7DA !default;
$brand-gold: 		      #F98A26 !default;
$brand-green: 		    #78BA00 !default;


// Buttons
$btn-purple-color:           $brand-purple !default;
$btn-blue-color:             $brand-blue !default;
$btn-dark-blue-color:        $brand-dark-blue !default;
$btn-light-blue-color:       $brand-light-blue !default;
$btn-pink-color:             $brand-pink !default;
$btn-green-color:            $brand-green !default;

// Header
$menu-link: 					$brand-dark-blue;

$navigation-link:           #ddd !default;
$navigation-link-hover:     #fff !default;

// Cover
$aqua-bg-color: 			$brand-aqua !default;

// Global
$global-border-color: #cacaca !default;





