{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<h3>Bone Graft</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>The dental bone graft is an additional procedure that becomes necessary in some cases of dental implants. A bone graft is only called for when there is no sufficient jawbone to hold the dental implants steady. The jawbone is designed to have sufficient bone in it since it is also what naturally holds the teeth. Unfortunately, the bone can be surprisingly vulnerable when faced with certain problems.</p>
		<p>For example, if you lose a tooth and neglect it for a long time, the gums may recede and there may be bone loss. Aside from that, some gum diseases also lead to bone loss. There are also natural cases wherein the lack of bone in the jaw area is an inborn trait. In such circumstances, bone grafting often becomes necessary.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/bone-graft-1.jpg' %}" alt="Bone Graft for dental implants" class="thumbnail img-radius">
	</div>
</div>

<h3>Sinus Lift</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>A sinus lift is also known as sinus augmentation, which increases bone in the molar area. In most cases, individuals who have lost their teeth suffer from a smaller or narrower sinus cavity that doesn't leave any room or enough bone for implant insertion. In most cases, the sinus lift procedure will be performed prior to a dental implant, but in some cases, both procedures may be performed at the same time.</p>
		<p>At its most basic description, a sinus lift adds bone to the upper jaw bone in the molar or pre molar areas in order to make it thicker.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/sinus-lift-1.jpg' %}" alt="sinus lift surgery" class="thumbnail img-radius">
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Bone Graft and Sinus Lift Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Sam Vong</span> 
			<span class="place">Peachland, BC, Canada</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Bone Graft</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“Very Very Pleased with Dr.Omar and the Staff! Got 5 Implants, 2 Tooth Extraction, Deep Cleaning on Upper and Lower and 2 Bone Graft! All of it done with in 4 hours with just anesthetics! Dr. Omar was very knowledgeable on what he was doing and made sure that I was always comfortable...”<a href="/review/3226/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Betty Peeler </span> 
			<span class="place">Henderson, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Sinus Lift</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I can't say enough about how wonderful everyone at the clinic has been to me and my husband and sister in law. The clinic is state of the art. I have not seen as good in the States. Work and care was done by multiple professionals. I love that instead of one doing all the work. At least 10 people worked on my sister who had...”<a href="/review/2639/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}