{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<h3>Los Algodones Cosmetic Dentistry</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Cosmetic dental treatments can bring a major change to your entire personality. There is no doubt that cosmetic dentistry is on the rise; everyone desires to have a beautiful, natural smile to be proud of. Cosmetic dentistry has given back the confidence that is very important in a person to socialize.</p>
		<p>Cosmetic dentistry is not only beneficial during and after the results have been gained, it spawns to years of maintenance to a saved tooth.</p>
		<p>We provide several choices for cosmetic dental work such as veneers, whitening, deep cleaning, E-max crowns, among others.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/cosmetic-1.jpg' %}" alt="Cosmetic dentistry in los algodones" class="thumbnail img-radius">
	</div>
</div>

<h3>Porcelain Veneers</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>A porcelain veneer is a thin shield of porcelain used to cover the front surface of the tooth. The porcelain veneer covers the whole of the front of the tooth with a thicker section, replacing the broken or damaged part. Veneers are a recommended solution for either malformed or severely discolored teeth, since this treatment restores teeth functions and improves teeth appearance. The final effect is a natural-looking great set of teeth.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/cosmetic-2.jpg' %}" alt="Porcelain Veneers in Mexico" class="thumbnail img-radius">
	</div>
</div>

<h3>Deep cleaning</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Dental cleanings involve removing plaque (soft bacteria infested film) and calculus deposits that have built up on teeth over time.</p>
		<p>Professional cleaning includes tooth scaling, tooth polishing, and debridement if too much tartar has been accumulated. Deep cleaning includes cleaning of teeth roots, below the gum level. This involves the use of various instruments or devices to loosen and remove deposits from teeth. Most dental hygienists recommend having the teeth professionally cleaned every six months.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/cosmetic-3.jpg' %}" alt="deep cleaning dental clinic in los algodones" class="thumbnail img-radius">
	</div>
</div>

<h3>Whitening</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Teeth whitening has become one of the most popular ways to enhance your smile, we offer a range of teeth whitening options and our qualified dental professionals will provide you with all the facts you need to make an informed decision about your teeth.</p>
		<p>There are several options for teeth whitening; the regular whitening is performed by applying a hydrogen peroxide based bleaching gel to the teeth, a blue-spectrum specially patented light will shine on the teeth, speeding up and intensifying the whitening process.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/cosmetic-4.jpg' %}" alt="Dental whitening" class="thumbnail img-radius">
	</div>
</div>
 <p>The procedure time is around 20 minutes. The laser technology is performed by applying a translucent bleaching gel on the teeth and a laser light is used to activate the crystals to absorb the energy from the light and penetrate the teeth enamel to increase the lightening effect on the teeth. The length of time in the cosmetic dentist's chair depends on the degree of discoloration you have.</p>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Cosmetics Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">John McCullough</span>
			<span class="place">Fairfield, Solano</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Cleaning/Whitening</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I knew that I needed yet more periodontal work for receding gums. I have had 2 previous procedures done here in Calif. and while satisfied with my Periodontis' work, I was always blown away by the price. I did some internet research this time around. In 2015 I had a deep cleaning done in the Lago Chapala area outside of Guadalajara...”<a href="/review/3110/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Jeri Denniston</span>
			<span class="place">Mayer, United States</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Cleaning/Whitening</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“This was our first visit to Sani Dental and we were impressed. My husband needed an emergency tooth repair, and so we took the opportunity to try the dental service in Los Algodones. Since he was having major work done, I decided to get a consult and have my teeth cleaned - just $35, including the consult!...”<a href="/review/2714/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}
