{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
{% for group in crowns %}
    <div id="id-group-{{ group.pk }}" data-magellan-target="id-group-{{ group.pk }}" class="sani-sticky-container">
    <h4>{{ group.name }}</h4>
    <table>
        <thead>
            <tr>
                <th width="80%">Service</th>
                <th width="20%">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for procedure in group.get_procedures %}
            <tr>
                <td>{{ procedure.name }}</td>
                <td>${{ procedure.our_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endfor %}
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>A dental crown is an artificial restoration that fits over the remaining part of a prepared tooth, making it strong and giving it the shape of a natural tooth.</p>
		<p>Dental Crowns are an ideal restoration for teeth that have been broken, or have been weakened by decay or a very large filling.They can be made of porcelain fused to metal, full porcelain (E-max), zirconium, or gold.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/crown-1.jpg' %}" alt="dental crowns in mexico" class="thumbnail img-radius">
	</div>
</div>

<h3>Porcelain fused to metal Crowns</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Porcelain fused to metal dental crowns are one of dentistry's primary restorations of choice because, when properly constructed and seated, they are strong, reliable and esthetic, and a good choice for either front or back teeth. These crowns are strong enough to withstand heavy biting force and at the same time they can have an excellent cosmetic appearance. The elaboration time frame for porcelain fused to metal crowns is between 3 to 5 days depending in the specific conditions of the patient. Most of the time the treatment is done after 72 hours, which involves daily appointments of one to two hours each.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/crown-2.jpg' %}" alt="Porcelain fused to metal Crowns"  class="thumbnail img-radius">
	</div>
</div>

<h3>Zirconium Crowns</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Zirconium is a very strong substance that can endure wear and tear of everyday use. The look of zirconium crowns is so similar to natural teeth that it is hard to tell the difference and it is this quality which makes it very usable within dental work.</p>
		<p>This means that Zirconium will produce the best aesthetic effect, which is important if your new crowns are to be at the front.</p>
		<p>It is particularly the case when the crowns will be seen beside natural teeth. The time for elaboration is 5 days.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/crown-3.jpg' %}" alt="Zirconium Crowns" class="thumbnail img-radius">
	</div>
</div>

<h3>E-max Crowns</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>This is a type of all-porcelain crown with an appealing translucent color which is combined with extra strength and durability. This crown is made from a single block of lithium disilicate ceramic: this is a top grade material which has been harvested for its toughness, durability and opaque qualities. These crowns are recommended only for front teeth. The time required for E-max crowns is 4 days for the full procedure (daily appointments of one to two hours each). It is always desirable to spend an additional day to make any adjustments if needed.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/crown-4.jpg' %}" alt="E-max Crowns" class="thumbnail img-radius">
	</div>
</div>

<h3>Gold Crowns</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Gold crowns are made with gold fused in porcelain material used mainly for your molar teeth due to the fact that they are not tooth coloured. Gold alloys used in dentistry are very strong and long lasting; as a result, they can last for a very long time. The elaboration time of gold crowns involves six days with daily appointments, around 1 or 2 hours each. Patients interested in Gold Crowns must request this specific type of crown at least one week prior to the initial appointment.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/crown-5.jpg' %}" alt="Gold Crowns" class="thumbnail img-radius">
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Crowns Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Sky Kerri Douglas</span> 
			<span class="place">Whangarei, New Zealand</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Crowns</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>"First of all I would like to acknowledge the colorful, clean and safe streets of Los Algodones where i found the natives to be generally happy, creative and peaceful people. The Sani shuttle picked me up from the airport and took me to my room..."<a href="/review/2837/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Chris Brown</span> 
			<span class="place">Modesto, United States</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Crowns</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I was extremely satisfied with my experience here! Me and my girlfriend came down here. I had 3 crowns put in and my girlfriend had a tooth pulled and a partial done. We our both very young and were pretty nervous to go to Mexico for work...”<a href="/review/2561/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Ken Brown</span> 
			<span class="place">Salt Lake City, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Crowns</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“They Sani group was fantastic from start to finish. First off their assessment confirmed what my Dentist here in the US said and their treatment plan was the same but the difference!!! I was quoted $23,000, with a second opinion coming in at $15,000. Sani quoted me...”<a href="/review/2749/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}