{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Dental implants are the best solution to replace missing teeth. After the procedure is finished, a dental implant will have the same strength and stability as a natural tooth. It will also look and feel like a natural tooth. A dental implant typically lasts for life and requires practically the same amount of care as that of a regular tooth.</p>
		<p>Dental implants have one disadvantage: they are expensive. Because of their high price in the United States, many American dentists just don’t offer them as an option to most patients. However, many Americans have been able to afford this procedure by coming to Los Algodones, Mexico, just 5 minutes from the US border near Yuma, Arizona. In fact, prices for dental implants in Los Algodones are routinely 50% to 80% less than prices for dental implants in the USA and Canada.</p>
	</div>
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/treatments/dental-implant1.jpg' %}" alt="los algodones dental implants" class="thumbnail img-radius">
	</div>
</div>

<p>A dental implant is a process that requires at least 2 visits separated by several weeks. It works with a principle called osseointegration, which refers to the natural fusion of the dental implant with the jawbone. It’s because of osseointegration that the dental implant receives the same stability and strength of a natural tooth.</p>

<p>After qualifying for the procedure, a date for the first surgery is set. On this day, the dental surgeon removes any remains of the destroyed tooth that may still exist. He then inserts the dental implant in the place of the lost tooth and closes the wound. In a few cases, the jawbone might not have enough bone to support the implant. In these cases, the necessary bone will be taken from another part of the body, sometimes the hip, and transplanted into the jawbone. This procedure is called a bone graft or bone grafting. However, it is not necessary in most cases and the surgery to insert the implant will take only an hour or two and will take place at the dentist’s office. If a bone graft is needed, the surgery may take place in a hospital, depending on the amount of bone needed and where it will be taken from.</p>

<p>The second surgery takes place when the dental implant has successfully osseointegrated with the jawbone, a process that will take from 3 to 6 months. The patient will then come back for a second surgery, during which the surgeon will insert an abutment on top of the implant. If certain conditions are met, this step may be done at the same time as the first one, which will speed the process and eliminate the need of a second surgery. In any case, the patient will have to wait for his or her gums to heal. It is important to ask your Los Algodones dentist about the best solution for your unique dental needs.</p>

<p>The final step of the dental implant process involves inserting a crown or another type of artificial implant on the abutment.</p>

<p>Because dental implants are complex, you will have to take several steps to prepare for them. These may include a complete dental evaluation, x-rays, a medical history evaluation, stopping or changing medications you are taking for other purposes, and the cessation smoking for a specific amount of time before and after the process.</p>

<p>Sani Dental Group in Los Algodones, is recognized for their excellence in the area of dental implants and full mouth reconstruction. Additionally, Sani Dental Group is the only dental center in Los Algodones to be certified by the Medical Tourism Association. If you are considering dental implants, we invite you to contact one of the leading dental implant specialists at Sani Dental Group to discover how affordable a beautiful new smile can be!</p>

<h3>Implant supported</h3>

<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Implants supported bridge
		An implant supported bridge is similar to a regular dental bridge, but it is supported by dental implants and not by natural teeth. In most cases, when an implant supported bridge is used, one implant is placed in the jawbone for each missing tooth. Then, the crowns are connected to each other to form one piece.</p>
		<p>An implant supported bridge reduces the pressure on the individual implants in the bone, and spreads it across the entire bridge.</p>
	</div>
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/treatments/dental-implant2.jpg' %}" alt="dental implants in mexico" class="thumbnail img-radius">
	</div>
</div>

<h3>Implants supported dentures</h3>
<p>An implant supported denture is used when a person doesn't have any teeth in the jaw, but has enough bone in the jaw to support dental implants. An implant supported denture has special attachments that snap onto attachments on the implants.</p>
<p>Usually, a regular denture made to fit an upper jaw is quite stable on its own and doesn't need the extra support offered by implants. However, you can receive an implant supported denture in either the upper or lower jaw.</p>
<p>The implants are usually placed in the jawbone at the front of the mouth because there tends to be more bone in the front of the jaw than in the back. This is usually true even if teeth have been missing for some time. Once you lose teeth, you begin to lose bone in the area. Also, the front jaw doesn't have many nerves or other structures that could interfere with the placement of implants.</p>
<p>Some people prefer to have fixed (permanent) crown and bridgework in their mouths that can't be removed.</p>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

<div class="show-for-small-only cta-middle">
	<div class="row text-center">
		<div class="small-12 medium-12 columns">
			<h3>Get the smile you deserve at a price you can pay</h3>
			<a href="#" title="I Want An Estimate" class="button btn-purple text-center">I Want An Estimate</a>
		</div>
	</div>
</div>

{# Reviews #}
<h3>Dental Implants Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Adrienne Perri</span> 
			<span class="place">Edmonton, Canada</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Implants</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
				</div>
			</div>
		</div>
	</div>
	<p>“A friend had implants done in Los Algodones which prompted me to do some research as I was told by my dentist that I would need implants which in Canada would have cost me double than what I paid at Sani Dental. The minute I walked into the offices of Sani Dental, I knew I had made the right decision with my choice...”<a href="/review/3579/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Debby Hamilton</span> 
			<span class="place">Eloy, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Implants</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I have used Sani for several years. This is a first class dental office. This visit I had 2 implants put in. It was pretty painless. I like the fact that when you go in, they expat your mouth and have dentists on hand for any type of dental situation needed. Their prices are so far below American dental offices...”<a href="/review/3348/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}
	
{# Before and After #}
<!--
<h3>Before &amp; after</h3>
<p><i>Implant Rehabilitation</i></p>
<div class="ba-pics">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<p>Before</p>
			<img src="http://lorempixel.com/338/254" >
		</div>
		<div class="small-12 medium-6 columns">
			<p>After</p>
			<img src="http://lorempixel.com/338/254" >
		</div>
	</div>
</div>
-->
{# End Before and After #}
{% endblock %}