{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<h3>Getting Your Dentures at Sani Dental Group</h3>

<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Unfortunately, some people lose their teeth and it's usually not their fault. People lose their teeth for many reasons: Some people are born with poor teeth, while others lose their teeth over many years due to accidents, disease, poor dental hygiene, smoking, and more. For example, the second most common cause of tooth loss is trauma -caused by accidents- which can happen to anyone, even children. Genetics or some types of non-dental diseases may also cause tooth loss.</p>
		<p>The most basic form of restoring lost teeth are removable dentures. While there are newer, more modern options on the market, some conditions may prevent patients from getting other solutions. For example, patients with certain chronic illnesses, like diabetes or cancer, patients who have to take certain medications, like anticoagulants, patients with a long history of smoking, or children who are often too young for permanent treatments. And some people, for personal reasons, choose not to get treatments that involve surgery. In these cases, the best solution might be dentures.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/denture-1.jpg' %}" alt="partial and complete dentures" class="thumbnail img-radius">
	</div>
</div>

<p><strong>Dentures are a proven and reliable method of restoring teeth for people who have lost them. In fact, they offer several advantages:</strong></p>

<p>They restore the chewing function. The main function of teeth is chewing, and not being able to chew affects the way we eat and the types of food we’re able to eat. Dentures allow a person to chew practically every type of food and get the nutrients he or she needs from all food groups.</p>

<p>They restore any lost speech function. We use our teeth and tongue to modify the air that goes out of our mouths to create the sounds that we use to talk. Dentures will allow a person to speak normally again if the loss of teeth has affected his or her way of speaking.</p>

<p>They are relatively cheap compared to other alternatives, thus making them more affordable and available to more people.</p>

<p>Dentures can be used as a temporary solution. This is especially practical when a patient’s situation is expected to improve in the future. For example, a teenager who lost all of his or her teeth in an accident may not yet have the jawbone structure needed for implants. A denture will solve the problem until the patient grows up.</p>

<p>Dentures look like regular teeth. Today’s dentures come in different sizes, and materials, so there is always a model that will look natural with your facial features.</p>

<p>If you need dentures or another type of full mouth restoration at affordable prices, but with the same quality and service that you’re used to, come to Sani Dental Group, in Los Algodones, Mexico, just south of Yuma, Arizona.</p>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Dentures Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">James Lauck</span> 
			<span class="place">Phoenix, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Dentures</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I want to thank the clinic staff for reviewing and accepting that my first set of permanent dentures had problems and replaced them with new dentures at no cost to me. The second set of permanent dentures are working great. Thanks again to all those who worked to make me a happy customer.” <a href="/review/2820/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}