{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<h3>All on 4</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>The All-on-Four treatment concept provides patients with an immediately loaded fixed acrylic prosthesis supported by 4 implants.</p>
		<p>The principle involves the use of 4 implants restored with straight and angled multiunit abutments, which support a provisional, fixed, and immediately loaded, full-arch prosthesis.</p>
		<p>The All-on-Four treatment has been developed to maximize the use of available bone and allows immediate function. The definitive acrylic prosthesis is delivered within 4-6 months after implant insertion.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/fmr-1.jpg' %}" alt="All on 4 in mexico" class="thumbnail img-radius">
	</div>
</div>

<p>All-on-four is a specially effective treatment for upper arch restoration because longer, stronger implants can be used on the back part of the jaw.</p>

<p>This treatment is attractive to those with denture or in need of full upper and/or lower restorations. With the All-on-Four procedure, qualified patients receive just four implants and a full set of new replacement teeth in just one appointment. The real appeal is how quickly permanent implants can be placed so that patients can leave  with fixed, non-removable replacement teeth.</p>

<h3>All on 6</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>The All-on-6 procedure is very similar to All-on-4; a series of high-tech dental implants is used to support denture appliances or porcelain fused to metal crowns. </p>
		<p>The All-on-6 method consists of six dental implants that are precisely positioned within the jawbone, which is used as a natural anchor. Each dental implant is designed to organically integrate with the mouth, much like a natural tooth root.</p>

		<p>This way, the bite remains just as strong as it would have been with a brand new set of teeth.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/fmr-2.jpg' %}" alt="All on 6 in mexico" class="thumbnail img-radius">
	</div>
</div>

<h3>Plates</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>Plates are removable appliances that can replace missing teeth and help restore your smile. Plates will improve the look of your smile.</p>
		<p>Immediate dentures are ready to wear three days after your tooth extractions and can have the form of a partial or a complete denture.</p>
		<p>Immediate dentures are not as effective as permanent dentures; we strongly suggest other new treatments for permanent teeth, paying a little fraction of the cost of this treatment in the US.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/fmr-3.jpg' %}" alt="dental plates" class="thumbnail img-radius">
	</div>
</div>
<p>If your natural roots are in good condition, they can be used to anchor a permanent denture. Porcelain crowns over your own teeth are strongly suggested, if necessary the treatment can be complemented with implants and a fixed denture. Even if there are no teeth, with the help of six implants on top or bottom you may have a full bridge to recover your permanent teeth.</p>
<p>Sometimes some of your teeth can be saved to preserve your jawbone and provide stability and support for the denture. An overdenture fits over a small number of remaining natural teeth after they have been prepared by your dentist. Implants can serve the same function, too.</p>

<h3>Implants supported dentures</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>An implant-supported denture is used when a person doesn't have any teeth, but has enough bone in the jaw to support implants. An implant-supported denture has special attachments that snap onto attachments on the implants. Usually, a regular denture made to fit an upper jaw is quite stable on its own and doesn't need the extra support offered by implants. However, you can receive an implant-supported denture in either the upper or lower jaw.</p>

		<p>The implants are usually placed in the jawbone at the front of the mouth because there tends to be more bone in the front of the jaw than in the back. This is usually true even if teeth have been missing for some time. Once you lose teeth, you begin to lose bone in the area. Also, the front jaw doesn't have many nerves or other structures that could interfere with the placement of implants.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/fmr-4.jpg' %}" alt="Implants supported dentures" class="thumbnail img-radius">
	</div>
</div>
<p>Some people prefer to have fixed (permanent) crown and bridgework in their mouths that can't be removed.</p>

<h3>TCS or Partial flexible</h3>
<div class="row">
	<div class="small-12 medium-10 columns">
		<p>TCS are thermoplastic removable flexible partial dentures. Each appliance is indicated for use as a removable full or partial denture in place of traditional acrylic or saddles on cast-metal partials. The TCS is a flexible partial that allows restorations to adjust with the contours of the mouth.</p>
		<p>Partial Dentures have proved to be stain resistant, durable, and comfortable in the mouth. This, along with the natural hue of the appliance, allows it to blend with surrounding gums and dentition to ensure our patients 100 percent confidence.</p>
	</div>
	<div class="class small-12 medium-2">
		<img src="{% static 'img/treatments/fmr-5.jpg' %}" alt="flexible partial dentures" class="thumbnail img-radius">
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Price List" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Full Mouth Restoration Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Rudy Strasswimmer</span> 
			<span class="place">Venice Florida, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Full Mouth Restoration</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“Just completed my 6 month follow-up visit after 6 implants were healing. Basically had 3/4 full mouth restoration done. Complete lower jaw, 1/2 + upper jaw crowns/bridge redone(15 crowns, 6 implants w/abutments/crowns, and one crown redone under warrantee because it was temporary for the 6 month wait and had to be redone to fit my new bite)...”<a href="/review/2794/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Bea Pludow</span> 
			<span class="place">Prescott, USA</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Full Mouth Restoration</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I was treated like a special patient! Met at the border by the little van, checked in right away and then personally walked to my 1st procedure in a different building, everything is sparkly clean and modern, everyone greats you by name and in English (cause I don't remember any of my Spanish!) tells you who they are and what is going to happen next. State of the art 3D x-rays...”<a href="/review/2715/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Anthony Reyes</span> 
			<span class="place">LAKE ELSINORE, United States</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Full Mouth Restoration</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I had all my teeth pulled (24 teeth) and had 4 implants (Nobel Biocare) placed May 2015. 8 months later January 2016 with everything healed up and my snap-on over-dentures were chewing through everything in sight. August 2016 and one of my locators for my top snap-on over-denture came unglued and went down the drain and was gone. Adios. Within 24 hours, I had an appointment with the prosthodontist (Dr. Karen) and within 15 minutes...”<a href="/review/2424/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}