{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>A laser is a high-technology device that generates a beam of concentrated light. This beam of light brings energy into the mouth to help the dentist remove areas of infection or tooth decay with great precision and accuracy.</p>
		<p>The dental laser beam sterilizes the affected area and seals off blood vessels, which minimizes the chance of infection or bleeding.</p>
		<p><strong>Dental Laser is much more comfortable both during and after treatment. Other benefits include:</strong></p>
		<ul>
			<li>Minimal damage to the surrounding tissues</li>
			<li>Some procedures with lasers don't require sutures</li>
			<li>Some procedures don't require anesthesia</li>
			<li>Minimal bleeding due to high-energy light beams which inhibits blood loss</li>
			<li>Minimal bacterial infections because the light beams sterilize the area</li>
			<li>Wounds heal faster and tissues can regenerate</li>
		</ul>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/laser-1.jpg' %}" alt="Dental Laser" class="thumbnail img-radius">
	</div>
</div>

<h3>Laser Dental Whitening and Cleaning</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>The laser whitening technology is performed by applying a translucent bleaching gel into the teeth and a laser light is used to activate the crystals to absorb the energy from the light and penetrate the teeth enamel to increase the lightening effect on the teeth. The length of time in the cosmetic dentist's chair depends on the degree of discoloration you have.</p>
		
		<p>Laser cleaning reduces practically to nothing the sensitivity that you may experience in your teeth and gums a few days after treatment, and promotes a faster recovery of the tissues.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/laser-1.jpg' %}" alt="Laser Dental Whitening and Cleaning" class="thumbnail img-radius">
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Read more" class="button small btn-pink">Click here</a>
	</div>
</div>

{# Reviews #}
<h3>Cosmetics Reviews</h3>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">John McCullough</span> 
			<span class="place">Fairfield, Solano</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Cleaning/Whitening</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“I knew that I needed yet more periodontal work for receding gums. I have had 2 previous procedures done here in Calif. and while satisfied with my Periodontis' work, I was always blown away by the price. I did some internet research this time around. In 2015 I had a deep cleaning done in the Lago Chapala area outside of Guadalajara...”<a href="/review/3110/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>

<div class="review-content">
	<div class="review-info" itemscope itemtype="http://schema.org/Review">
		<div itemprop="author" itemscope itemtype="http://schema.org/Person">
			<span class="name" itemprop="name">Jeri Denniston</span> 
			<span class="place">Mayer, United States</span>
		</div>
		<div class="review-rating">
			<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
				<span class="treatment" itemprop="name">Cleaning/Whitening</span>
			</div>
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<div class="star-holder">
					<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
					<!-- <span itemprop="bestRating">5</span> -->
				</div>
			</div>
		</div>
	</div>
	<p>“This was our first visit to Sani Dental and we were impressed. My husband needed an emergency tooth repair, and so we took the opportunity to try the dental service in Los Algodones. Since he was having major work done, I decided to get a consult and have my teeth cleaned - just $35, including the consult!...”<a href="/review/2714/" title="Read more" class="read-more-link">Read full review...</a></p>
</div>
{# End Reviews #}

{% endblock %}