{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<h3>Dental Veneers at Sani Dental Group</h3>
<div class="row">
	<div class="small-12 medium-9 columns">
		<p>Sadly, some teeth lose their natural lustrous appearance because of accidents or disease or even poor eating and dental care. While the health concerns of teeth should be treated first, sometimes these teeth end up being perfectly healthy, but aesthetically unpleasing, typically looking stained, chipped or damaged.</p>
		<p>Many Americans struggle with paying for expensive treatments to keep their teeth healthy. Because of this, they often don’t go the extra step to improve the looks of their teeth. But let’s be honest. Your smile is important.</p>
	</div>
	<div class="class small-12 medium-3">
		<img src="{% static 'img/treatments/veneers-1.jpg' %}" alt="Veneers in los algodones mexico"  class="thumbnail img-radius">
	</div>
</div>

 <p>Your smile is a crucial part of your face and your presentation. Having bad teeth may make you feel self-conscious. Bad teeth are the reason many people are afraid to smile or speak in public.</p>

<p>Nevertheless, healthy teeth can often benefit from simple solutions, like veneers. In fact, many Americans just take a quick trip south of the border from Yuma, Arizona to visit Sani Dental Group in Los Algodones to receive dental veneers at very reasonable prices.</p>

<p>In simple words, dental veneers are covers made out of dental porcelain or a dental composite material. As such, they are used with reconstructions or simply for aesthetic purposes. While some dentists still use composite veneers, the trend is for dentists to use porcelain veneers, even though they may cost a bit more. This is because porcelain veneers have a higher rate of acceptance by the body and they look and feel more natural than composite veneers. In addition, composite veneers are manufactured by hand by the dentist, while porcelain veneers are typically manufactured in a dental laboratory, using a mold or other type of imprint from the dentist. Because of this, porcelain veneers allow for much less human error in their production, which is always preferable for dental prosthetics. Nevertheless, after an evaluation, your dentist will tell you what type of veneers are the most appropriate for your case.</p>

<p>Note that veneers are only an option if the damaged tooth is still healthy and strong. If the tooth is damaged or it requires a lot of strength, for example a molar, then another option, such as a crown might be the most appropriate. Not that veneers are fragile, as they can still be used for normal chewing and tearing.</p>

<p>Veneers have the advantages of being simple, non invasive and inexpensive. They also look like natural teeth, don’t loosen with time, and they feel like natural teeth to the point that patients forget about them quickly.</p>

<p>At Sani Dental Group, we have the equipment and experience to give high-quality dental health care at affordable prices. Whether you want just to improve your appearance or would like to get veneers in addition to any necessary dental care, the highest quality veneers at affordable prices are available at Sani Dental Group. Call us today to schedule your free consultation.</p>

<div class="row align-middle">
	<div class="small-12 medium-12 columns">
		<h5>Are You Interested in This Treatment?</h5>
	</div>
	<div class="shrink columns">
		<p>Check Our Price List to Find Out How Much You Can Save</p>
	</div>
	<div class="columns">
		<a href="{% url 'page' 'price-list' %}" title="Read more" class="button small btn-pink">Click here</a>
	</div>
</div>
{% endblock %}