<table class="procedures" style="border-collapse: collapse;">
<h2 class="light-blue-text" style="color: #32c0d1;">Procedures</h2>
  <tr>
    <th style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;"><b>Procedure</b></th>
    <th style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: center; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;"><b>Price</b></th>
    <th style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: center; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;"><b>Quantity</b></th>
  </tr>
  {% for row in rows %}
  <tr>
    <td width="60%" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;">
      <p style="font-weight: normal; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; margin: none; font-size: 12px;">{{ row.procedure.name }}</p>
   </td>
   <td width="15%" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: center; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;">
      <p style="font-weight: normal; text-align: center; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; margin: none; font-size: 12px;">${{ row.procedure.our_price }}</p>
   </td>
   <td width="15%" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: center; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 12px;">
      <p style="font-weight: normal; text-align: center;; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; margin: none; font-size: 12px;">{{ row.quantity }}</p>
   </td>
 </tr>
 {% endfor %}
</table><!-- .procedures -->
<table width="100%" class="grand-total" style="border-collapse: collapse;">
  <tr>
    <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: right; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
      <h2 class="purple-text" style="color: #7d3180; text-align: right;">Grand Total: ${% with rows|last as last %} {{ last.total }} {% endwith %}</h2>
   </td>
 </tr>
</table><!-- .grand-total -->

              