{% load humanize %}

{% for group in groups %}
<div class="table-prices" {% if forloop.last %}id="last-price"{% endif %}>
	<h3 class="text-purple">{{ group.name }}</h3>
	<div class="row">
		{% for procedure in group.procedures %}
		
		<div id="procedure" class="small-12 medium-6 columns procedure-box">
			<div class="row align-middle">
				<div class="small-2 columns">
					<div class="quantity">
						<button type="button" class="btn-gray plus">+</button>
						<input type="text" value="">
						<button type="button" class="btn-gray minus">-</button>
					</div>
				</div>
				<div class="small-10 columns">
					<p class="procedure" data-id="{{ procedure.pk }}">{{ procedure.name }}</p>
					{% if not procedure.us_price %}
					<p class="us-quote-price">US $-,---</p>
					{% else %}
					<p class="us-quote-price">US ${{ procedure.us_price|intcomma }}</p>
					{% endif %}
					<p class="our-quote-price">Our price ${{ procedure.our_price|intcomma }}</p>
				</div>

			</div>
		</div>

		{% endfor %}
	</div>
</div><!-- .table-prices -->
{% endfor %}
