{% load humanize %}
<p>All transactions are in US dollars.</p>

<div class="row align-center">

	<div class="small-12 medium-3 columns sani-sticky-menu" data-sticky-container>
		<nav class="sticky" data-sticky data-anchor="price-list" data-sticky-on="medium">
			<ul class="vertical menu" data-magellan>
				{% for group in groups %}
				<li><a href="#id-group-{{ group.pk }}" title="{{ group.name }}">{{ group.name }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>

	<div class="small-12 medium-9 columns" id="price-list">
	{% for group in groups %}
		<div id="id-group-{{ group.pk }}" data-magellan-target="id-group-{{ group.pk }}" class="sani-sticky-container">
		<h4>{{ group.name }}</h4>
		<table>
			<thead>
				<tr>
					<th width="80%">Service</th>
					<th width="20%">Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for procedure in group.procedures %}
				<tr>
					<td>{{ procedure.name }}</td>
					<td>${{ procedure.our_price|intcomma }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% endfor %}
	</div>

</div>
