@charset 'utf-8';

// /Büt/
@import "~foundation-sites/scss/foundation";
@include foundation-global-styles;
@include foundation-typography;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-forms;
@include foundation-button;
@include foundation-callout;
@include foundation-responsive-embed;
@include foundation-table;
@include foundation-visibility-classes;
@import 'utils/mixins';
@import 'components/fonts';
@import 'components/review-rating';

// /Büt/
// @import "~foundation-sites/scss/foundation";
// @import 'foundation/settings';
// @include foundation-everything(true);
// @import '~motion-ui/motion-ui';
// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

$brand-colors: (
	purple: #732b74,
	blue: #034EA2,
	light-blue: #24B7DA,
	dark-blue: #3e465a,
	aqua: #1e98a7,
	pink: #fd226f,
	gold: #F98A26,
	green: #78BA00
);
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$body-font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$body-font-color: map-get($brand-colors, dark-blue);

// Utilities
@mixin push-bottom($margin: rem-calc(32)){
	margin-bottom: $margin;
}
//

body{
	font-family: $body-font-family;
	color: $body-font-color;
}

h1, h2, h3, h4, h5, h6{
	font-family: $body-font-family;
}

button,
.button,
[class*="btn-"]{
	font-family: $body-font-family;
}

.btn-pink{
	@include btn-brand(map-get($brand-colors, pink));
}

.btn-purple{
	@include btn-brand(map-get($brand-colors, purple));
}

.cta-middle{
	// background-color: $brand-aqua;
	background-color: map-get($brand-colors, aqua);
	color: $white;
	margin: rem-calc(30 -15);
	padding: rem-calc(20 10);
	h3{
		font-weight: bold;
		text-transform: uppercase;
	}
}


// Header
.navbar{
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);
	.phone{
		text-decoration: none;
		color: map-get($brand-colors, dark-blue);
		font-size: rem-calc(20);
		display: block;
		small{
			font-size: rem-calc(13);
		}
		img{
			max-width: rem-calc(45);
		}
	}
}

// Jumbotron
.jumbotron{
	padding-top: rem-calc(18);
	padding-bottom: rem-calc(18);
	background-color: map-get($brand-colors, purple);
	@include breakpoint(medium){
		padding-top: rem-calc(38);
		padding-bottom: rem-calc(38);
	}
	@include push-bottom;
	color: $white;
	h1{
		font-weight: bold;
		font-size: rem-calc(44);
		line-height: rem-calc(26);
		margin-bottom: 0;
		@include breakpoint(medium){
			font-size: rem-calc(80);
			line-height: rem-calc(64);
		}
		span{
			font-weight: normal;
			font-size: rem-calc(14);
			@include breakpoint(medium){
				font-size: rem-calc(46);
			}
		}
	}
}

// Content
.content{
	.callout{
		background-color: scale-color($light-gray, $lightness: 48%);
		border-color: scale-color($medium-gray, $lightness: 10%);
		color: $body-font-color;
	}

	.prices,
	.icons, 
	.payment,
	.promo{
		@include push-bottom;
	}

}

// Sidebar
.sidebar{
	background-color: map-get($brand-colors, aqua);
	padding: rem-calc(25 15);
	color: $white;
	margin-left: rem-calc(-15);
	margin-right: rem-calc(-15);
	@include breakpoint(medium){
		margin-left: 0;
		margin-right: 0;
	}
	@include push-bottom;
	.title{
		text-transform: uppercase;
		font-size: rem-calc(28);
		border-bottom: 1px solid $white;
		padding-bottom: rem-calc(15);
		margin-bottom: rem-calc(20);
	}
	.form-generic{
		label{
			font-size: inherit;
			color: $white;
		}
		a{
			color: $white;
			border-bottom: 1px dotted $white;
			&:hover{
				border-bottom-style: solid;
			}
		}
		button{
			font-size: rem-calc(18);
		}
	}
}

// Review
.review{
	background-color: scale-color($light-gray, $lightness: 48%);
	padding-top: rem-calc(48);
	padding-bottom: rem-calc(38);
	@include breakpoint(medium){
		padding-top: rem-calc(80);
	  padding-bottom: rem-calc(70);
	}
	.responsive-embed{
		@include push-bottom;
	}
}
.review-content{
	@include leftborder( 6, map-get($brand-colors, aqua), 12);
	margin-bottom: rem-calc(36);
	.review-info{
		.name{
			color: map-get($brand-colors, purple);
			font-weight: bold;
		}
		.place{
			color: $dark-gray;
			&:before{
				content: '- ';
			}
		}
		.treatment,
		.score{
			font-style: italic;
			margin-right: rem-calc(10);
		}
		.treatment{
			color: map-get($brand-colors, aqua);
		}
	}
	.review-rating{
		justify-content: flex-start;
	}
}

// Footer
footer{
	background-color: scale-color(map-get($brand-colors, dark-blue), $lightness: 6%);
	padding: rem-calc(16);
	color: $white;
	p{
		@include breakpoint(medium){
			margin-bottom: 0;
		}
	}
	.social-icons{
		img{
			width: rem-calc(40);
			margin-left: rem-calc(4);
		}
	}
}

// 
// Promotors
// -----------------------------

#promotors{
	.jumbotron{
		h1{
			font-size: rem-calc(32);
			line-height: rem-calc(22);
			@include breakpoint(medium){
				font-size: rem-calc(100);
				line-height: rem-calc(46);
			}
			span{
				font-size: rem-calc(18);
				@include breakpoint(medium){
					font-size: rem-calc(32);
				}
			}
		}
		.pic{
			border-radius: 50%;
			border: 4px solid $white;
			@include breakpoint(medium){
				border-width: 10px;
			}
		}
	}
	.icons{
		margin-top: rem-calc(52);
		.column{
			border-right: 1px solid #ddd;
			&:last-child{
				border-right: none;
			}
		}
	}
}


