@charset 'utf-8'

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

$radius: 20px

// Bulma
@import "~bulma/bulma"

// Rem
@function rem($size, $base-value: 16)
  @return ($size / $base-value) + rem

// Variables
$brand-aqua: #1e98a7 !default
$brand-pink: #fd226f !default
$brand-purple: #732b74 !default

body
  font-family: 'Lato', sans-serif

// Buttons
body, button, input, select, textarea
  font-family: 'Lato', sans-serif

.button
  &.is-pink
    background-color: $brand-pink
    border-color: transparent
    color: $white

// Color Helpers
.has-text-purple
  color: $brand-purple !important

// Embed
.video-container
  display: block
  position: relative
  height: 0
  width: 100%
  padding-top: 56.25%
  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    max-width: 100%
    border: 0

// Cover
.is-cover
  background-image: url('../img/landings/2019/cover.jpg')
  background-position: 50% 0
  background-size: cover
  // background-attachment: fixed
  position: relative
  &--la
    background-image: url('../img/landings/2019/cover.jpg')
  &--cancun
    background-image: url('../img/landings/2019/sani-cancun.jpg')
  &__title
    color: $white
    font-size: rem(22)
    font-weight: $weight-semibold
    +desktop
      font-size: rem(28)
    span
      font-size: rem(44)
      +desktop
        font-size: rem(54)

.contact-phone
  text-decoration: none
  color: $white
  font-size: $size-5
  display: block
  line-height: 1.2
  &:hover
    color: $white-ter
  img
    max-width: rem(45)
    margin-top: rem(8)

.contact-form
  color: $white-bis
  padding: rem(25) rem(24) rem(44) rem(24)
  border-radius: $radius
  margin-bottom: rem(-80)
  position: relative
  z-index: 1
  &--la
    background-color: $brand-aqua
  &--cancun
    background-color: $brand-purple
  &__title
    font-size: rem(28)
    border-bottom: 1px solid $white-bis
    padding-bottom: rem(15)
    margin-bottom: rem(20)
  label
    color: $white-bis
    font-weight: $weight-normal
  &__link
    color: $white-bis
    border-bottom: 1px dotted $white-bis
    &:hover
      color: $white-bis
      border-bottom-style: solid

// Offer
.is-offer
  background-image: url('../img/landings/2019/content.jpg')
  background-position: 50% 0
  background-size: cover
  // background-attachment: fixed
  position: relative
  &--la
    background-image: url('../img/landings/2019/content.jpg')
  &--cancun
    background-image: url('../img/landings/2019/content-cancun.jpg')
  &__title
    &--mobile
      margin-top: rem(16)
  &__icons
    +desktop
      margin-top: rem(32)

// Prices
.is-prices
  background-color: $white-ter

// Reviews
.is-reviews
.review
  &__rating
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: rem(15)

.rating
  display: flex
  &__star
    width: rem(20)
    height: rem(20)
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)
    background-color: $white
  



