{% load i18n future pages_tags %}
{% if on_home %}
<li>{% trans "Home" %}</li>
{% else %}
{% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li>
      <a href="{% url "home" %}" title="{% trans "Home" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <li class="current">
      {% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}
    </li>
    {% else %}
    <li>
      <a {% if not page.no_link %} href="{{ page.get_absolute_url }}" {% endif %}>{% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}</a>
    </li>
    {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}
{% endfor %}
{% endif %}