{% load staticfiles i18n  pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

  {% if branch_level == 0 %}

  <ul class="dropdown menu vertical align-center" data-dropdown-menu>
    {% for page in page_branch %}

      {% if not has_home and page.is_primary and forloop.first %}
      <li{% if on_home %} class="active"{% endif %}>
          <a href="{% url 'home' %}" title="Homepage">Homepage</a>
      </li>
      {% endif %}

      {% if page.in_menu %}
      <!-- Dropdown About Us -->
      <li class="{% if page.is_current_or_ascendant %}active{% endif %}">
        <a {% if not page.no_link %} href="{{ page.get_absolute_url }}" {% endif %} title="{% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}">
          {% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}
          {% if page.has_children_in_menu %}
          <i class="fa fa-angle-down" aria-hidden="true"></i>
          {% endif %}
        </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
      </li>
      {% endif %}
    {% endfor %}
    <li>
      {% include 'includes/search.html' %}
    </li>
  </ul>

  {% else %}

  <ul class="menu">
    {% for page in page_branch %}
      {% if page.in_menu %}
        <li>
          <a {% if not page.no_link %} href="{{ page.get_absolute_url }}" {% endif %}
          title="{% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}">
            {% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}
          </a>
          {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

{% endif %}
{% endspaceless %}
