{% load i18n  pages_tags %}
<nav>
	<!-- <a href="{{ HOME_URL }}">Homepage</a> -->
	{% for page in page_branch %}
		<a href="{{ page.get_absolute_url }}" title="{% if page.menu_title %}{{ page.menu_title }}{% else %}{{page.title}}{% endif %}">{% if page.menu_title %}{{ page.menu_title }}{% else %}{{page.title}}{% endif %}</a>
	{% endfor %}
</nav>