{% extends 'pages/page.html' %}
{% load staticfiles %}
{% block content %}
<dl class="tabs vertical custom-tabs" data-tab>
  <dd class="active"><a href="#panel1a" title="All on four">All on four</a></dd>
  <dd><a href="#panel6a" title="All on six">All on six</a></dd>
  <dd><a href="#panel8a" title="Porcelain Veneers">Porcelain Veneers</a></dd>
</dl>
<div class="tabs-content vertical custom-tabs-content ba">
  <!-- All on four -->
  <div class="content active" id="panel1a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>All on four</h2>
        <img src="http://sanidentalgroup.com/media/uploads/content/before-and-after/all-on-four.jpg" alt="all on four">
      </div>
    </div>
  </div>
  <!-- All on six -->
  <div class="content" id="panel6a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>All on six</h2>
        <img src="http://sanidentalgroup.com/media/uploads/content/before-and-after/all-on-six.jpg" alt="All on six">
      </div>
    </div>
  </div>
  <!-- Porcelain Veneers -->
  <div class="content" id="panel8a">
    <div class="row">
      <div class="medium-12 columns">
        <h2>Porcelain Veneers</h2>
        <img src="http://sanidentalgroup.com/media/uploads/content/before-and-after/porcelain-veneers.jpg" alt="Porcelain Veneers">
      </div>
    </div>
  </div>
</div>
{% endblock %}