{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block content %}
<div class="row align-center align-middle financing-content">
	<div class="small-4 medium-3 columns">
		<img src="{% static 'img/icons/finance-icons-01.png' %}">
	</div>
	<div class="small-8 medium-9 columns">
		<p class="lead">We work with two trustworthy <b>Finance companies.</b></p>
	</div>
</div>
<div class="row align-middle financing-content">
	<div class="small-4 medium-3 columns">
		<img src="{% static 'img/icons/finance-icons-02.png' %}">
	</div>
	<div class="small-8 medium-9 columns">
		<p class="lead"><b>To take advantage of this service, </b>call our office or use our contact form.</p>
	</div>
</div>
<div class="row align-center align-middle financing-content">
	<div class="small-4 medium-3 columns">
		<img src="{% static 'img/icons/finance-icons-03.png' %}">
	</div>
	<div class="small-8 medium-9 columns">
		<p class="lead">A patient coordinator will contact you <b>to assist you.</b></p>
	</div>
</div>
<div class="row align-center align-middle financing-content">
	<div class="small-4 medium-3 columns">
		<img src="{% static 'img/icons/finance-icons-04.png' %}">
	</div>
	<div class="small-8 medium-9 columns">
		<p class="lead">You will be provided with an <b>application form; </b>send it <b>by fax </b> to the Finance Company.</p>
	</div>
</div>
<div class="row align-center align-middle financing-content">
	<div class="small-4 medium-3 columns">
		<img src="{% static 'img/icons/finance-icons-05.png' %}">
	</div>
	<div class="small-8 medium-9 columns">
		<p class="lead">This form will provide the <b>Finance Company</b> your interest in a dental credit/loan.</p>
	</div>
</div>

<div class="subheader">
	<h5>Legal Policy</h5>
	<p>Sani Dental Group is not responsible for unauthorized credits, interest rates, or any other fee the financial company may apply when requesting the credit. Any doubt, disconformity, or clarification about the credit loan will be managed directly with the Finance Company. All payments, fees, and credit records must be discussed directly with the Finance Company.</p>
	<p>According to the Finance Company requirements, it is responsibility of the patient to verify the dental appointment confirmation in order to confirm with them the initial day of the dental treatment. Dental treatment will be authorized by Sani Dental Group once partially of fully paid by the patient of the Finance Company.</p>
</div>

{% endblock %}

{% block included_right_panel %}
{% include 'includes/sidebar-financing.html' %}
{% endblock %}