{% extends 'pages/page.html' %}
{% load mezzanine_tags staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-transportation.html' %}
{% endblock %}

{% block content %}
<h4>Sani Dental Group  Shuttle Service</h4>
<p>To all of our patients, Sani Dental Group offers a free shuttle service. If the service is desired by the traveler, it will only be necessary to call us 48 hours prior your appointment to schedule your vehicle. Sani Dental Group’s shuttle service is available every day from 8:00 am to 8:00 pm. </p>
<table class="unstriped hover" style="border: 1px solid #ccc; border-radius: 6px;">
	<thead>
		<tr>
			<td>PICK UP PLACE</td>
			<td>ONE WAY TRIP</td>
			<td>ROUND TRIP</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Los Algodones International Border</td>
			<td>FREE</td>
			<td>FREE</td>
		</tr>
		<tr>
			<td>Yuma International Airport</td>
			<td>FREE</td>
			<td>FREE</td>
		</tr>
		<tr>
			<td>Border Parking</td>
			<td>FREE</td>
			<td>FREE</td>
		</tr>
		<tr>
			<td>Hacienda Los Algodones Hotel</td>
			<td>FREE</td>
			<td>FREE</td>
		</tr>
		<tr>
			<td>Cielito Lindo Hotel</td>
			<td>FREE</td>
			<td>FREE</td>
		</tr>
	</tbody>
</table>

<img src="{% static 'img/patient-resources/transportation/maps/phoenix-car.jpg' %}" alt="{{ page.title }}" />
<h3>Driving directions from Phoenix to Los Algodones</h3>
<p>Take I-10 west, go out on exit 112 to incorporate to highway AZ-85 South towards Yuma, AZ-85 will convert to W Pima Street, incorporate to I-8 west, go out on exit 166 to incorporate on Algodones Rd. or Highway 186 heading south until you reach the border. Welcome to Algodones!</p>
{% endblock %}
