{% extends 'pages/page.html' %}
{% load mezzanine_tags staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-transportation.html' %}
{% endblock %}

{% block content %}
<img src="{% static 'img/patient-resources/transportation/maps/las-vegas-car.jpg' %}" />
<h3>Driving directions from Las Vegas to Los Algodones</h3>

<p>Take Flamingo Road towards Las Vegas Blvd, take a slight left turn continuing on Flamingo Road, incorporate to I-515 S/US-93 S on the ramp towards Henderson, incorporate to US-95 S (entering state of California), take a left to incorporate to I-40 E/US-95 S en direction towards Needles, take exit 144 onto US-95 S towards E Broadway/Blythe, take a right turn with direction to US-95 S/E Broadway St, (continue on to US-95 S), take a left to incorporate onto I-10 W, take exit 236 with direction to CA-78, take a left turn towards CA-78 W/S Neighbours Blvd., take a right turn towards CA-78 W/28th Ave., take a left turn with direction to CA-78 W/Rannells Blvd, take a right towards CA-78/32nd Ave/Ben Hulse Hwy (continue towards CA-78/Ben Hulse Hwy), take a left with direction to Ogilby Rd, then take another left to incorporate to I-8 E to Yuma, take exit 166 to Algodones Rd/California 186 towards Andrade/Mexico, go right onto CA-186 S until you reach the border. Welcome to Algodones!</p>
{% endblock %}
