{% extends 'pages/page.html' %}
{% load mezzanine_tags staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-transportation.html' %}
{% endblock %}

{% block content %}
<img src="{% static 'img/patient-resources/transportation/maps/los-angeles-car.jpg' %}" />
<h3>Driving directions from Los Angeles to Los Algodones</h3>

<p>Take I-10 east towards San Bernardino, keep driving following the signs to Brawley/El Centro/865 Expy., Incorporate to CA-78 E/CA/86 S, take a left in direction to CA-78, continue on CA-111 S, take the on I-8 east towards Yuma, keep driving until you reach exit 166 to Algodones Rd/CA-186 towards Andre/Mexico, grab CA-186 south until you reach the border. Welcome to Algodones!</p>
{% endblock %}
