{% extends 'pages/page.html' %}
{% load mezzanine_tags staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-transportation.html' %}
{% endblock %}

{% block content %}
<img src="{% static 'img/patient-resources/transportation/maps/san-diego-car.jpg' %}" />
<h3>Driving directions from San Diego to Los Algodones</h3>

<p>Take I-8 east heading towards Yuma, AZ., go out on exit 166 to incorporate on Algodones Rd. or Highway 186 heading south until you reach the border. Welcome to Algodones!</p>
{% endblock %}
