
{% extends 'pages/page.html' %}
{% load mezzanine_tags staticfiles %}

{% block included_right_panel %}
{% include 'includes/sidebar-transportation.html' %}
{% endblock %}

{% block content %}
<img src="{% static 'img/patient-resources/transportation/maps/phoenix-plane.jpg' %}" />
<h3>Airlines that go into Phoenix Airport</h3>

<div class="row">
	<div class="large-2 medium-4 columns">
		<a href="http://aa.com" title="American Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/american-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://aircanada.com" title="Air Canada Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/air-canada-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://greatlakesav.com" title="Great Lake Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/great-lake-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://hawaiianairlines.com" title="Hawaiian Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/hawaiian-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://jal.com" title="Japan Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/japan-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://united.com" title="United Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/united-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://alaskaair.com" title="Alaska Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/alaska-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://aeromexico.com" title="Aeromexico Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/aeromexico-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://allegiantair.com" title="Allegiant Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/allegiant-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://britishairways.com" title="British Airways">
			<img src="{% static 'img/patient-resources/transportation/airlines/british-airways.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://delta.com" title="Delta Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/delta-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://jetblue.com" title="Jetblue Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/jetblue-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://southwest.com" title="Southwest Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/southwest-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://spirit.com" title="Spirit Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/spirit-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://suncountry.com" title="Sun Country Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/sun-country-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://westjet.com" title="West Jet Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/west-jet-airlines.png' %}" alt="" />
		</a>
	</div>
	<div class="large-2 medium-4 columns">
		<a href="http://flyfrontier.com" title="Fronties Airlines">
			<img src="{% static 'img/patient-resources/transportation/airlines/frontier_airlines.png' %}" alt="" />
		</a>
	</div>
</div><!-- .row -->

<h3>Ground transportation options</h3>

<div class="row">
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/alamo-car-rental.png' %}" alt="" /> Ph. (619) 297-0311
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/fox-rent-a-car.png' %}" alt="" /> Ph. 1-855 849-4207
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/firstclass-shuttle.png' %}" alt="" /> Ph. (928) 373-2527
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/budget-rent-a-car.png' %}" alt="" /> Ph. (619) 542-8001
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/amtrak-car-rental.png' %}" alt="" /> Ph. 1-800 872-7245
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/national-car-rental.jpg' %}" alt="" /> Ph. (602) 275-4771
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/payless-car-rental.png' %}" alt="" /> Ph. (602) 681-9589
	</div>
	<div class="large-3 medium-4 columns">
		<img src="{% static 'img/patient-resources/transportation/drive/phoenix-car-rental.jpg' %}" alt="" /> Ph. (602) 904-3490
	</div>
</div><!-- .row -->

{% endblock %}
