{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="location-content">
	<div>
		<img src="{% static 'img/patient-resources/location/algodones-1.jpg' %}"
		     alt="Los Algodones Mexico">
	</div>
	<p>Los Algodones, Mexico, is located just seven miles west from Yuma, Arizona. Referred by many as the Dental Mecca of the world, it is the No. 1 destination for dental tourism in Mexico. Los Algodones is a touristic area, safe to walk around, and provides great comfort, attention, and specially security, compared to other border cities. Public transportation is not necessary in Los Algodones and you can return to the United States walking if you wish. You can still take advantage of our lodging and stay. We can facilitate the accommodations for your stay in Los Algodones so you can enjoy its friendly people along with thousands of Americans who cross daily to meet their dental needs. Once you get to know Los Algodones, you will not want to go anywhere else.</p>
</div>
<div class="location-content">
	<h3 class="page-sub">Clinic Location</h3>
	<div>
		<img src="{% static 'img/location/algodones-map-large.jpg' %}"
		     alt="Los algodones Map">
	</div>
	<p>It's very easy to get to any of our two locations, as they are both located just two blocks from the border crossing, in a touristic area safe for walking. To get to Sani Dental Group at Alamo Street, just cross the border and continue walking straight, without turning on any corners. You will have to cross two streets (“A” St. & “B” St.), then at the middle of the block you will find our clinic on the left side.<br/>
	<br/>
	To reach Sani Dental Group Platinum, just cross the border into Los Algodones, turn right on the first block which is "A Street". Then, turn left on the next block which is "3rd Street". Keep heading straight approximately 50 meters, almost reaching the end of the block, and you will have our elegant building on your right<br/>
	<br/>
	Upon request, a member of our staff can welcome you at the border crossing, just make your appointment and mention it to your patient coordinator.</p>
</div>
{% endblock %}