{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="lodging-city">
	<h3>Hotels in Los Algodones</h3>

	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="https://sanidental.s3.amazonaws.com/media_root/uploads/sani-dg/logos/logo-hacienda-los-algodones-2017.png" alt="Lodging Hacienda Los Algodones">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Hacienda los Algodones</h5></dt>
				<dd>Encino Street, Arboledas, Nuevo Algodones</dd>
				<dd>Los Algodones, B.C.</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9282571136" title="In The U.S. Call">(928) 257 1136</a> <b>or</b> <a href="tel:9282571138" title="In The U.S. Call">257 1138</a></dd>
				<dt>Tel. Mexico</dt>
				<dd><a href="tel:011526585173188" title="Tel. Mexico">011 52 (658) 517 3188</a></dd>
				<dt>Cell Phone</dt>
				<dd><a href="tel:0115216862484455" title="Cell Phone">011 52 1 (686) 248 4455</a></dd>
			</dl>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="mailto:reservations@haciendalosalgodones.com?Subject=Reservation%20Hacienda%20Los%20Algodones" title="Reservations">reservations@haciendalosalgodones.com</a></dd>
				<dd><a href="http://haciendalosalgodones.com/" targe="_blank" title="Hotel Hacienda Los Algodones"><b>www.haciendalosalgodones.com</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->
	
	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/cielito-lindo.png' %}" alt="Lodging Cielito Lindo">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Cielito Lindo</h5></dt>
				<dd>Alamo Street, 289 2nd Floor</dd>
				<dd>Los Algodones, B.C.</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9282571136" title="In The U.S. Call">(928) 257 1136</a> <b>or</b> <a href="tel:9283281814" title="In The U.S. Call">328 1814</a></dd>
				<dt>Tel. Mexico</dt>
				<dd><a href="tel:011526585173328" title="Tel. Mexico">011 52 (658) 517 3328</a></dd>
			</dl>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="mailto:cielitolindo@mediplaza.info?Subject=Reservation%20Cielito%20Lindo" title="Reservations">cielitolindo@mediplaza.info</a></dd>
				<dd><a href="http://mediplazalosalgodones.com/" targe="_blank" title="Mediplaza Los Algodones"><b>www.mediplazalosalgodones.com</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

</div><!-- .lodging-city-->

<div class="lodging-city">
	<h3>Hotels in Yuma</h3>
	
	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/inn-suites.jpeg' %}"
			     alt="Inn suites yuma hotel">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Best Western Inn</h5></dt>
				<dd>1450 Castle Dome Ave.</dd>
				<dd>Yuma, AZ 85365</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9287838341" title="In The U.S. Call">(928) 783 8341</a></dd>
				<dt>Fax</dt>
				<dd><a href="tel:9287831349" title="Fax">(928) 783 1349</a></dd>
			</dl>
			<p>Rooms starting at $77 USD • Complimentary breakfast from 5:00 a.m to 10:00 a.m • Happy hour with 2 free drinks</p>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="mailto:yuma@innsuites.com" title="Reservations">yuma@innsuites.com</a></dd>
				<dd><a href="http://www.innsuites.com/yuma-mall-hotel.html" rel="nofollow" targe="_blank" title="Yuma Mall Hotel"><b>Website</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/hilton-garden-inn.png' %}"
			     alt="Hilton garden inn yuma hotel">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Hilton Garden Inn Yuma Pivot Point</h5></dt>
				<dd>310 N Madison Ave.</dd>
				<dd>Yuma, AZ 85364</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9287831500" title="In The U.S. Call">(928) 783 1500</a></dd>
				<dt>Fax</dt>
				<dd><a href="tel:9287831540" title="Fax">(928) 783 1540</a></dd>
			</dl>
			<p>Rooms starting at $99 for a standard single / double occupancy room</p>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="http://hiltongardeninn3.hilton.com/en/hotels/arizona/hilton-garden-inn-yuma-pivot-point-YUMRSGI/index.html" rel="nofollow" targe="_blank" title="Reservations"><b>Website</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/hampton-inn-logo.jpg' %}"
			     alt="hampton inn yuma hotel">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Hampton Inn &amp; Suites Yuma</h5></dt>
				<dd>1600 East 16th Street</dd>
				<dd>Yuma, AZ 85365</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9283295600" title="In The U.S. Call">(928) 329 5600</a></dd>
				<dt>Fax</dt>
				<dd><a href="tel:9283295601" title="Fax">(928) 329 5601</a></dd>
			</dl>
			<p>Rooms starting at $99 for a standard single / double occupancy room</p>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="http://hamptoninn3.hilton.com/en/hotels/arizona/hampton-inn-and-suites-yuma-YUMAZHX/index.html" rel="nofollow" targe="_blank" title="Reservations"><b>Website</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/homewood-suites.png' %}"
			     alt="homewood suites yuma hotel">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Homewood Suites by Hilton Yuma</h5></dt>
				<dd>1955 East 16th Street</dd>
				<dd>Yuma, AZ 85365</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:9287824100" title="In The U.S. Call">(928) 782 4100</a></dd>
				<dt>Fax</dt>
				<dd><a href="tel:9287824109" title="Fax">(928) 782 4109</a></dd>
			</dl>
			<p>Specials rates starting with the 15% of discount • Complimentary breakfast, dinner and Happy Hour</p>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="http://homewoodsuites3.hilton.com/en/hotels/arizona/homewood-suites-by-hilton-yuma-YUMHWHW/index.html" rel="nofollow" targe="_blank" title="Reservations"><b>Website</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

	<div class="row lodging-item">
		<div class="small-12 medium-6 columns">
			<img src="{% static 'img/patient-resources/lodging/quechan-logo.png' %}"
			     alt="quechan winterhaven california hotel">
		</div>
		<div class="small-12 medium-6 columns">
			<dl>
				<dt><h5>Quechan Casino Resort</h5></dt>
				<dd>525 Algodones Rd</dd>
				<dd>Winterhaven, CA 92283</dd>
			</dl>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
				<dd><a href="tel:7605723900" title="In The U.S. Call">(760) 572 3900</a></dd>
			</dl>
			<p>$79 USD on weekdays, ask for our promo code <a href="tel:8557264337" title="Promo code">(855) 726 4337</a></p>
			<dl>
				<dt>Reservations</dt>
				<dd><a href="http://playqcr.com/" rel="nofollow" targe="_blank" title="Reservations"><b>Website</b></a></dd>
			</dl>
		</div>
	</div><!-- .lodging-item -->

</div><!-- Lodging Yuma-->
{% endblock %}