{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<p>For your convenience we accept different payment methods; please notice that there might be some restrictions for some of them, so we encourage you to read them carefully to make your dental vacation even easier.</p>

<div class="row align-middle">
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/patient-resources/payment/payment-icons-02.png' %}"
		     alt="Sani dental group payment method credit debit card">
	</div>
	<div class="small-12 medium-9 columns">
		<h3>Credit/Debit Card</h3>
		<p>We accept cards with the Visa or Master Card logo. With this payment method you will be charged an extra 4% transaction fee.</p>
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/patient-resources/payment/payment-icons-01.png' %}"
		     alt="Sani dental group payment method cash">
	</div>
	<div class="small-12 medium-9 columns">
		<h3>Cash</h3>
		<p>All transactions are in U.S. Currency</p>
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/patient-resources/payment/payment-icons-03.png' %}"
		     alt="Sani dental group payment method check">
	</div>
	<div class="small-12 medium-9 columns">
		<h3>Check</h3>
		<p>(Personal, travelers, cashiers) there is no extra fee with this payment method. </p>
	</div>
</div>

<div class="row align-middle">
	<div class="small-12 medium-3 columns">
		<img src="{% static 'img/patient-resources/payment/payment-icons-05.png' %}"
		     alt="Sani dental group payment method dental financing">
	</div>
	<div class="small-12 medium-9 columns">
		<h3>Dental Financing</h3>
		<p>Dental Financing options by third party trustworthy finance companies. If you want to take advantage of this service please <a href="/patient-resources/dental-financing-options" title="Dental Financing Options"><b>click here.</b></a></p>
	</div>
</div>
{% endblock %}