{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>404: Page Not Found</title>
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
		<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet">
		<style>
			body{
				color: #3e465a;
				font-family: Lato, sans-serif;
				margin: 0;
			}
			a{
				text-decoration: none;
			}
			.header-bar{
				color: #545454;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width:100%;
				padding: 1.25rem; 
				max-width: 69.375rem;
				margin: 0 auto;
				vertical-align: middle;
			}
			.call{
			  display: flex;
			  flex-flow: row wrap;
			  justify-content: center;
			  align-items: center;
			}
		  .call .icon-call{
		  	flex: 0 0 22%;
		    max-width: 22%;
		    padding-left: 0.9375rem;
		    padding-right: 0.9375rem;
		  }
	    .call .icon-call img{
	    	margin: 0 auto;
	    	display: block;
	    	max-width: 60px;
	    	margin-right: .625rem;
	    }
		  .tel{
		  	flex: 0 0 78%;
		    max-width: 78%;
		    padding-left: 0.9375rem;
		    padding-right: 0.9375rem;
	    }
	    .tel p{
	    	font-size: 1.5rem;
		    text-transform: uppercase;
		    font-weight: 800;
		    line-height: 1.3rem;
		    margin: 0.3125rem 0;
	    }
	    small{
	    	font-weight: 400;
	    	line-height: 0.375rem;
		    font-size: 0.6875rem;
		    margin-right: 0.5rem;
	    }
			.content-error{
				display: flex;
				flex-flow: row wrap;
				padding: 1.25rem;
				align-items: center;
				justify-content: center;
			}
			.error-text{
				text-align: center;
				flex: 0 0 100%;
				width: 100%;
				align-items: center;
			}
			.error-img{
				text-align: center;
				flex: 0 0 100%;
				width: 100%;
				align-items: center;
			}
			.error-headline h1{
				margin: 0;
				font-size: 50px;
			}
			.error-headline p{
				margin: 0;
				font-size: 32px;
			}
			.button-error{
				margin-top: 3.3125rem;
				margin-bottom: 2.5rem;
			}
			.button-error a{
				padding-right: .625rem;
				padding-left: .625rem;
				font-size: 10px;
			}
			.error-links{
				text-align: center;
			}
			.error-links a{
				color: #545454;
				padding-right: .625rem;
				padding-left: .625rem;
		    border-right: 1px solid #545454;
			}
			.error-links a:hover{
				color: #33cccc;
			}
			.error-links a:last-child {
		    border-right: none;
			}
			@media screen and (max-width:640px){
				.hide-for-small{
					display: none;
				}
			}
			@media screen and (min-width:1024px){
				.content-error{
					padding: 2.5rem;
				}
				.row-error{
					display: flex;
					align-items: center;
					justify-content: center;
					flex: 0 0 100%;
					width: 100%;
					max-width: 70rem;
				}
				.error-img{
					flex: 0 0 50%;
					width: 50%;
				}
				.error-headline h1{
					margin: 0;
					font-size: 60px;
				}
				.error-headline p{
					font-size: 38px;
					margin: 0;
				}
				.error-text{
					flex: 0 0 50%;
					width: 50%;
				}
				.error-text p{
					font-size: 26px;
				}
				.button-error a{
					text-decoration: none;
					font-size: 16px;
				}
			}
			.btn-gray{
				background-color: #FFF;
				color: #cacaca !important;
				border: 2px solid #cacaca;
				font-weight:bold;
			}
			.btn-gray:hover,
			.btn-gray:active, 
			.btn-gray:focus{
				background-color: transparent;
				color: #545454 !important;
				border-color: #545454 !important;
			} 
			.btn-landing{
				margin-top: .625rem;
				border-radius: .1875rem;
				padding-top: 1.25rem;
				padding-bottom: 1.25rem;
				padding-left: .3125rem;
				padding-right: .3125rem;
				color: #FFF;
				width: 100%;
				text-transform: uppercase;
			}
			.footer-bar{
				color: #545454;
			  background-color: #e6e6e6; 
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-around;
				width:100%;
				padding: 1.25rem;
			}
			.social{
			  flex-flow: row wrap;
			  justify-content: center;
			  align-items: center;
			  width: auto;
		  }
		  .social p{
		  	display: inline-block;
		  	margin-right: .625rem;
		  }
			.icon{
			  display: inline-block;
			  vertical-align: middle;
			  border-radius: 0.1875rem;
			  margin-left: 0.25rem;
			  width: 2rem;
			  height: 2rem;
			}
		</style>
	</head>
	<body id="">
		<header>
			<div class="container">
				<div class="header-bar">
					<div class="header-logo">
		      	<a href="/" title="Sani Dental Group">
							<img src="{% static 'img/logos/sani-dental-group.png %}"   
									 srcset="{% static 'img/logos/sani-dental-group.png %} 1x, {% static 'img/logos/sani-dental-group_2x.png %} 2x" 
									 alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
		      	</a>
		    	</div>
		    	<div class="call">
		        <div class="icon-call hide-for-small">
		          <img src="{% static 'img/icons/telephone.svg' %}" alt="">
		        </div>
		        <div class="tel">
		          <p class="text-brand-dark-blue"><small>Get Immediate<br> Assistance</small></p>
		          <p class="text-brand-dark-blue">855 sani-dds</p>
		        </div>
		      </div><!-- .call -->
				</div>
			</div>
		</header>
		<section class="content-error">
			<div class="row-error">
				<div class="error-img">
					<img src="{% static 'img/error.jpg' %}" alt="Error 404 :(">
					<div class="error-headline">
						<h1>Error 404:</h1>
						<p>Page Not Found</p>
					</div>
				</div>
				<div class="error-text">
					<h1>Whoops, we’re sorry,</h1>
					<p>that page has been deleted or possibly you addressed it incorrectly, so please use the menu to get back into the Sani Dental Guide web site.</p>
					<div class="button-error">
						<a href="/" title="Homepage" class="button btn-gray btn-landing">Please take me back to the Homepage</a>
					</div>
					<div class="error-links">
						<a href="/free-quote" title="Free Quote">Free Quote</a>
						<a href="/about-us" title="About Us">About Us</a>
						<a href="/price-list" title="Price List">Price List</a>
						<a href="/appointments" title="Appointments">Appointments</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="footer-bar">
					<p>&copy;  1985 - {% now "Y" %} Sani Dental Group</p>
					<div class="social">
						<p>Follow us</p>
						<a href="//facebook.com/sanidentalmexico" title="Facebook" class="icon" target="_blank">
							<img src="{% static 'img/facebook.svg' %}">
						</a>
						<a href="//twitter.com/SaniDentalGroup" title="Twitter" class="icon" target="_blank">
							<img src="{% static 'img/twitter.svg' %}">
						</a>
						<a href="//plus.google.com/+Sanidentalgroup" title="Google" rel="Publisher" class="icon" target="_blank">
							<img src="{% static 'img/google-plus.svg' %}">
						</a>
						<a href="//www.youtube.com/sanidentalgroup" title="Youtube" class="icon" target="_blank">
							<img src="{% static 'img/youtube.svg' %}">
						</a>
					</div>
				</div>
			</div>
		</footer>
		<script src="assets/js/bundle.js"></script>
	</body>
</html>