//
// Buttons
// --------------------------------------------------

$btn-gold-color: $brand-gold !default;

.btn-gold{
	@include btn-brand($btn-gold-color);
}

.btn-purple{
	@include btn-brand($btn-purple-color);
}

.btn-blue{
	@include btn-brand($btn-blue-color);
}

.btn-dark-blue{
	@include btn-brand($btn-dark-blue-color);
}

.btn-light-blue{
	@include btn-brand($btn-light-blue-color);
}

.btn-pink{
	@include btn-brand($btn-pink-color);
}

.btn-green{
	@include btn-brand($btn-green-color);
}

.btn-gray{
	@include button(false, $white, transparent, $dark-gray, solid);
	border: 1px solid $medium-gray;
	width: rem-calc(33);
	height: rem-calc(28);
	padding: 0;
	font-weight: bold;
	text-align: center;
	&:hover,
	&:focus{
		color: $medium-gray;
		outline: 0;
	}
}

a{
	&.go-back{
		color: $dark-gray;
	}
}

.read-more-link{
	color: $brand-blue;
	display: block;
	transition: all 0.25s ease-out;
	&:hover,
	&:focus{
		color: $brand-dark-blue;
	}
}

// Buttons styles

.large[class*="btn-"]{
	font-size: map-get($button-sizes, large);
}

.expanded[class*="btn-"]{
	@include button-expand(true);
}

