//
// Forms
// --------------------------------------------------

$inputs: '[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea';
$placeholder: '::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder';

#{$inputs} {
	height: rem-calc(42);
	margin-bottom: rem-calc(20);
}

form{
	label{
		margin-bottom: rem-calc(10);
		color: $brand-dark-blue;
	}
}

#acquaintance-name{
	display: none;
	position: relative;
	small{
		position: absolute;
	  color: $brand-blue;
	  right: rem-calc(15);
	  bottom: rem-calc(-5);
	}
}


.padding-none-left{
	padding-left: 0;
}
.padding-none-right{
	padding-right: 0;
}
// .area{
//   position: relative;
//   &:before{
//     content: '(';
//     position: absolute;
//     left: rem-calc(-14);
//     top: rem-calc(3);
//     font-size: rem-calc(22);
//   }
//   &:after{
//     content: ')';
//     position: absolute;
//     right: rem-calc(-14);
//     top: rem-calc(3);
//     font-size: rem-calc(22);
//   }
// }

span{
	&.required{
		color: get-color(alert);
	}
}
