.phone-ico{
	width: rem-calc(22);
	display: inline-block;
	vertical-align: middle;
	margin-left: rem-calc(5);
	margin-right: rem-calc(5);
}

// Medium
@media screen and #{breakpoint(medium)} {
	.phone-ico{
		width: rem-calc(28);
	}
}

//XXlarge
@media screen and #{breakpoint(xxlarge)} {
}