.before-after-img{
	position: relative;
	.before-after-img-caption{
		position: absolute;
		width: 100%; 
		top: 0;
		left: 0;
		text-align: center;
		padding: rem-calc(0 15);
		background-color: $brand-dark-blue;
		h3{
			color: $white; 
		} 
	}	
}