//
// Navigation
// --------------------------------------------------

#navigation{
	ul{
		li{
			> a{
				color: $brand-dark-blue;
				padding: rem-calc(20 12);
				i{
					position: absolute;
					right: rem-calc(15);
					top: rem-calc(22);
				}
			}
			&.active{
				> a{
					color: $white;
					background-color: scale-color($brand-dark-blue, $lightness: -25%);
				}
			}
			ul{
				background-color: $light-gray;
				border: 0;
				// top: rem-calc(46);
				left: rem-calc(0);
				li{
					a{
						padding-left: rem-calc(32);
					}
				}
			}
		}
	}
	.is-dropdown-submenu{
		position: relative;
	}
}

.btn-search{
	button{
		color: $brand-dark-blue;
  	padding: rem-calc(20 12);
  	width: 100%;
  	text-align: left;
  	cursor: pointer;
		&:hover,
		&:focus{
			background-color: #f2f2f2;
		}
	}
	.dropdown-pane{
		border: none;
		border-radius: 0;
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		width: auto;
	}
}


@media screen and #{breakpoint(medium)} {
	#menu-desktop{
		.menu{
			&.vertical{
				li{
					flex: 0 0 auto;
					a{
						padding: rem-calc(80 30);
					}
				}
			}
		}
	}

	#navigation{
		background-color: $brand-dark-blue;
		#menu-desktop{
			a{
				color: $navigation-link;
				padding: rem-calc(15 24);
				&:hover{
					color: $navigation-link-hover;
				}
			}
			li{
				> a{
					i{
						right: 0;
						top: rem-calc(16);
					}
				}
				ul{
					color: $white;
					background-color: rgba($brand-dark-blue, .9);
					a:hover{
						background-color: rgba($brand-aqua, .9);
						font-weight: bold;
					}
				}
			}
		}
		.is-dropdown-submenu{
			position: absolute;
			top: rem-calc(46);
		}
	}

	.btn-search{
		button{
			color: $navigation-link;
	  	padding: rem-calc(15 12);
			&:hover,
			&:focus{
				color: $white;
				background-color: transparent;
			}
		}
		.dropdown-pane{
			width: 100%;
			left: 0;
		}
	}
}


@media screen and #{breakpoint(xxlarge)} {
	#navigation{
		#menu-desktop{
			a{
				padding: rem-calc(15 40);
			}
		}
	}
}