//
// Pagination General
// --------------------------------------------------

.pagination-general{
	margin: rem-calc(40 0);
	a{
		color: $brand-dark-blue;
		padding: rem-calc(10);
		border-radius: $global-radius;
		&:hover{
			background-color: $light-gray;
		}
		&.active{
			background-color: $brand-dark-blue;
			color: $white;
		}
	}
	.number{
		margin: rem-calc(0 20);
	}
}