// Review Rating
//--------------------------------

.review-rating{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: rem-calc(15);

	.star-holder{
		width: 100px;
		background: url('../img/icons/gray-star.png') repeat-x;

		.star-rating{
			background: url('../img/icons/star.png') repeat-x;
	    height: 20px;
	    text-indent: 100%;
	    display: inherit;
	    overflow: hidden;
	    white-space: nowrap;
		}
	}
}

