// Share
//--------------------------------

.share{
	border-top: 1px solid $medium-gray;
	border-bottom: 1px solid $medium-gray;
	padding: rem-calc(12) 0;
	margin: rem-calc(32) 0;
	ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
  	list-style-type: none;
  	align-items: center;
  	width: 100%;
		&:before{
			  content: "Share: ";
		}
		li{
			flex: 0 0 100%;
  		max-width: 100%;
			margin-bottom: rem-calc(10);
			a{
			  border: 1px solid $medium-gray;
			  color: $medium-gray;
			  border-radius: $global-radius;
			  padding: rem-calc(5 10);
			  margin: rem-calc(0 5);
			  display: flex;
			  flex-flow: row nowrap;
			  justify-content: flex-start;
			  align-items: flex-start;
			  line-height: 1;
			  &:hover{
		  	  color: $dark-gray;
					border-color: $dark-gray;
			  }
			}
		}
	}
}

@media screen and #{breakpoint(medium)} {
	.share{
		ul{
			flex-wrap: wrap;
			li{
				flex-basis: auto;
				margin-bottom: 0;
				&:first-child{
					margin-left: rem-calc(10);
				}
			}
		}
	}
}