//
// Sidebar
// --------------------------------------------------

$sidebar-info-bg: smart-scale($white, 5%) !default;

#sidebar{

	.form-contact,
	.form-financing{
		padding: rem-calc(30 10);
		color: $white;
		h3{
			text-transform: uppercase;
			font-size: rem-calc(22);
		}
	}

	.form-contact{
		background-color: $brand-aqua;
		.row{
			margin: inherit;
		}
	}

	.form-financing{
		background-color: $brand-purple;
		label{
			color: $white;
			&.is-invalid-label{
				color: get-color(alert);
			}
		}
	}

	.form-free-quote{
		background-color: $light-gray;
		padding: rem-calc(30 10);
		color: $brand-dark-blue;
		.comparisson-quotes{
			div:first-child{
				border-right: 1px solid $dark-gray;
			}
			span{
				font-size: rem-calc(25);
			}
		}
		.savings{
			background-color: $brand-aqua;
			// background: linear-gradient( -90deg, $brand-aqua 90%, scale-color($brand-aqua, $lightness: -14%) 0%);
			background: linear-gradient( -90deg, $brand-aqua 90%, $brand-pink 0%);
			border-radius: rem-calc(6);
			padding: rem-calc(15);
			color: $white;
			margin: rem-calc(22 25);
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			height: rem-calc(100); 
			h3{
				margin-bottom: 0;
				transform: translateX(-40px) rotate(-90deg);
				font-size: rem-calc(20);
			}
			p{
				font-size: rem-calc(34);
				margin-bottom: 0;
			}
			.separator{
				border-left: 1px dotted $white;
				margin: rem-calc(0 8 0 5);
			}
		}
	}

	.sidebar-info{
		background-color: $sidebar-info-bg;
		color: $brand-dark-blue;
		padding-bottom: rem-calc(36);
		.mapa{
			margin-bottom: rem-calc(15);
			img{
				margin-bottom: rem-calc(15);
			}
		}
		dt{
			margin-top: rem-calc(8);
		}
		.mail{
			font-size: rem-calc(20);
		}
		.tel{
			h6{
				margin-bottom: 0;
			}
			p{
				font-size: rem-calc(26);
				a{
					color: $brand-aqua;
				}
			}
			dt{
				color: $brand-pink;
				margin-bottom: 0;
			}
			dd{
				a{
					color: $brand-dark-blue;
				}
			}
		}
	}
}

.sidebar-transportation{
	background-color: $white;
	padding: rem-calc(30 10);
	ul{
		li{
			a{
				color: $brand-pink;
				font-weight: bold
			}
			&:hover{
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
	.button{
		margin-top: rem-calc(20);
	}
}

