// Sticky
////////////////////

.sani-sticky-menu{
	margin-bottom: rem-calc(30);
	ul{
		li{
			a{
				color: $brand-dark-blue;
				&:hover{
					background-color: rgba($brand-dark-blue, .5);
					color: $white;
				}
				&.active{
					background-color: $brand-dark-blue;
					color: $white;
				}
			}
		}
	}
}

.sani-sticky-container{
	margin-bottom: rem-calc(40);
	h4{
		margin-bottom: rem-calc(14);
	}
	// padding: rem-calc(15);
	// border: 1px solid $global-border-color;
}





