// Type
/////////////////

body{
	font-weight: 400; 
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold; 
}

.page-title{
	margin-bottom: rem-calc(28);
	h1{
		color: $brand-blue;
		font-size: rem-calc(42);
	}
	h2{
		color: $brand-aqua;
		font-size: rem-calc(18);
		margin-bottom: rem-calc(20);
	}
	p{
		font-size: rem-calc(18);
	}
}

.sub-header{
	margin-bottom: rem-calc(16);
}

button, input, optgroup, select, textarea{
	font-family: $body-font-family;
}

.pagination{
	a:hover{
		font-weight: bold;
		color: $black;
	}
}

.text-brand-blue,
.text-blue{ color: $brand-blue; }
.text-brand-purple,
.text-purple{ color: $brand-purple; }
.text-brand-pink,
.text-pink{ color: $brand-pink; }
.text-brand-aqua,
.text-aqua{ color: $brand-aqua; }
.text-gray{ color: $dark-gray; }

.tel{
	a{
		color: $brand-dark-blue;
	}
}

//Medium
@media screen and #{breakpoint(medium)} {
	.page-sub{
		font-size: rem-calc(25);
	}
}





