{% load staticfiles %}
<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<h4 class="sub-header text-blue">Latest News</h4>
	</div>
</div>
<div class="row align-center">

	<div class="small-12 medium-3 columns">
		<a href="{{ url }}/about-us/events/#medical-tourism-congress-2019" title="Medical Tourism Congress 2019">
			<img class="c-events-img" 
			     src="{% static 'img/events/2019/medical-tourism-congress/smt.jpg' %}"
			     alt="Sani Team At The Congress"></a>
	</div>
	<div class="small-12 medium-7 columns u-mb2">
		<a href="{{ url }}/about-us/events/#medical-tourism-congress-2019" title="Medical Tourism Congress 2019"><h4 class="u-mb0 u-text-aqua">10th Medical Tourism Congress</h4></a>
		<p><small>March 20th &amp; 21st - 2019</small></p>
		<p>Sani Medical Tourism was part of the largest and only event in Latin America concerning business on Medical Tourism. The 10th Medical Tourism Congress took place on the 20 and 21 of May 2019 in the beautiful island of Cozumel, Mexico....</p>
		<div class="o-flex o-flex--right">
			<a href="{{ url }}/about-us/events/#medical-tourism-congress-2019" title="Medical Tourism Congress 2019" class="u-text-light-blue">View more...</a>
		</div>
	</div>
	
	<div class="small-12 medium-3 columns">
		<a href="{{ url }}/about-us/events/#hermes-prize-2019" title="Hermes Prize 2019">
			<img class="c-events-img" 
			     src="{% static 'img/events/2019/hermes-prize/SDG-Hermes.jpg' %}"
			     alt="Hermes prize"></a>
	</div>
	<div class="small-12 medium-7 columns u-mb2">
		<a href="{{ url }}/about-us/events/#hermes-prize-2019" title="Hermes Prize 2019"><h4 class="u-mb0 u-text-aqua">Congrats Dr. Hermes Somonte on his award</h4></a>
		<p><small>March 14th - 2019</small></p>
		<p>We're very proud to share with you that Dr. Hermes Somonte, one of our Oral and Maxillofacial surgeons, has been chosen to receive the highest distinction prize from the International Society for Research, Health, Business Development, and Technology-SIISDET....</p>
		<div class="o-flex o-flex--right">
			<a class="u-text-light-blue" href="{{ url }}/about-us/events/#hermes-prize-2019" title="Hermes Prize 2019">View more...</a>
		</div>
	</div>

	<div class="small-12 medium-3 columns">
		<a href="{{ url }}/about-us/events/#adventure-show-LA-2019" title="Adventure Show LA 2019">
			<img class="c-events-img" 
			     src="{% static 'img/events/2019/sani-adventure/SDG-adventure.jpg' %}"
			     alt="Los Angeles Travel and Adventure Show"></a>
	</div>
	<div class="small-12 medium-7 columns u-mb2">
		<a href="{{ url }}/about-us/events/#adventure-show-LA-2019" title="Adventure Show LA 2019"><h4 class="u-mb0 u-text-aqua">14th Annual Los Angeles Travel and Adventure Show</h4></a>
		<p><small>February 16th &amp; 17th - 2019</small></p>
		<p>Sani Medical Tourism was part of The 14th Annual Los Angeles Travel and Adventure Show. We had the opportunity to participate in the largest consumer travel show in the United States....</p>
		<div class="o-flex o-flex--right">
			<a href="{{ url }}/about-us/events/#adventure-show-LA-2019" title="Adventure Show LA 2019" class="u-text-light-blue">View more...</a>
		</div>
	</div>
</div>
{% block extra_css %}
<style>
	.o-flex {
		display: flex;
	}
	.o-flex--right{
		justify-content: flex-end;
	}
	.u-text-aqua{
		color: #1e98a7;
	}
	.u-text-light-blue{
		color: #034ea2;
	}
	.u-text-gray{
		color: #8a8a8a;
	}
	.u-mb0 {
		margin: 0;
	}
	.u-mb2 {
		margin-bottom: 32px;
	}
	.u-mb3 {
		margin-bottom: 48px;
	}
	.c-events-img {
		border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 10px;
	}
</style>
{% endblock %}