{% load staticfiles pages_tags extra_page_tags sani_tags %}
<footer>
	<div class="row">
		<div class="small-12 medium-4 columns">
			{% render_menu_footer %}
		</div>
		<div class="small-12 medium-4 columns">
			<h3>Our treatments</h3>
			<nav>
				<a href="/treatments/dental-implants-surgery/" title="Dental Implants">Dental Implants</a>
				<a href="/treatments/dentures/" title="Dentures">Dentures</a>
				<a href="/treatments/crowns/" title="Dental Crowns">Dental Crowns</a>
				<a href="/treatments/full-mouth-restoration/" title="Full Mouth Restoration">Full Mouth Restoration</a>
				<a href="/treatments/bone-graft-sinus-lift/" title="Bone Graft / Sinus Lift">Bone Graft / Sinus Lift</a>
				<a href="/treatments/cosmetics/" title="Cosmetics">Cosmetics</a>
				<a href="/treatments/laser/" title="Dental Laser">Dental Laser</a>
				<a href="/treatments/veneers/" title="Veneers">Veneers</a>
			</nav>
		</div>
		<div class="small-12 medium-4 columns">
			<div class="footer-newsletter">
				<h3>Suscribe to our newsletter!</h3>
				<form action="//sanidentalgroup.us6.list-manage.com/subscribe/post?u=071f2faa922de56113596b9c3&amp;id=f46c3a3dcf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" data-abide novalidate>
				{% csrf_token %}
					<div class="row">
						<div class="small-12 columns">
							<div data-abide-error class="alert callout hidden">
								<p><i class="fi-alert"></i> There are some errors in your form.</p>
							</div>
						</div>
						<div class="small-12 columns">
							<input type="text" name="FNAME" aria-label="Full Name" placeholder="Full Name" required pattern="[a-zA-Z]+">
							<span class="form-error">Full name required.</span>
						</div>
						<div class="small-12 columns">
							<input type="email" name="EMAIL" aria-label="Email" placeholder="Email" required>
							<span class="form-error">Email required.</span>
						</div>
						<div class="hidden" aria-hidden="true">
							<input type="text" name="b_071f2faa922de56113596b9c3_f46c3a3dcf" tabindex="-1" value="">
						</div>
						<fieldset class="small-12 columns text-center">
							<button class="expanded btn-pink" type="submit">Subscribe!</button>
						</fieldset>
						<div class="small-12 columns">
							<small>We will never spam you or share your email address. 
						By clicking on "Subscribe" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</small>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<p class="cookie-msg">We use cookies to create the most effective website for our visitors. Full details can be found in our <a href="/privacy-policy/" title="Privacy Policy">privacy policy</a>.</p>
		</div>
	</div>
</footer>
<div class="footer-bottom">
	<div class="row align-middle">
		<div class="small-12 medium-6 columns">
			<p>&copy;  1985 - {% now "Y" %} Sani Dental Group</p>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="social-icons">
				<a href="//facebook.com/sanidentalmexico" title="Facebook">
					<img src="{% static 'img/icons/facebook.svg' %}"
					     alt="sani dental group facebook">
				</a>
				<a href="//twitter.com/SaniDentalGroup" title="Twitter">
					<img src="{% static 'img/icons/twitter.svg' %}"
					     alt="sani dental group twitter">
				</a>
				<a href="//www.youtube.com/sanidentalgroup" title="Youtube">
					<img src="{% static 'img/icons/youtube.svg' %}"
					     alt="sani dental group youtube">
				</a>
				<a href="//plus.google.com/102206110701134622150" title="Google">
					<img src="{% static 'img/icons/google-plus.svg' %}"
					     alt="sani dental group google plus">
				</a>
			</div>
		</div>
	</div>
</div>




