{% load staticfiles pages_tags %}
<header>
	<section id="navigation">
		<div class="title-bar" data-responsive-toggle="menu-desktop" data-hide-for="medium">
			<!-- <button class="/" type="button" data-toggle>&nbsp;</button> -->
			<div class="title-bar-title">
				<button class="menu-icon" type="button" aria-label="Menu" data-toggle>&nbsp;</button>
			</div>
		</div><!-- Toggle Responsive -->

		<div id="menu-desktop" data-animate="hinge-in-from-top hinge-out-from-top">
		{% page_menu "pages/menus/dropdown.html" %}
		</div>
	</section><!-- .Menu -->

	<div class="top-bar">
	  <div class="top-bar-title">
			<a href="/" title="Sani Dental Group">
				<img src="{% static 'img/logos/sani-dental-group.png' %}" 
						 srcset="{% static 'img/logos/sani-dental-group.png' %} 1x,{% static 'img/logos/sani-dental-group_2x.png' %} 2x" 
						 alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
			</a>
		</div>
		<div class="top-bar-left">
			<p class="phone hide-for-small-only">Get Immediate Assistance
				<img src="{% static 'img/icons/telephone.svg' %}" class="phone-ico" alt="Sani dental group phone number">
				<a href="tel:+19282571307" title="Get Immediate Assistance">(928)-257-1307</a>
			</p>
			<a href="tel:+19282571307" title="Get Immediate Assistance" class="phone-sm show-for-small-only">
				<span class="row align-middle align-center">
					<span class="shrink">
						<img src="{% static 'img/landings/phone.png' %}" alt="Sani dental group phone number">
					</span>
					<span class="column">
						<small>Get Immediate Assistance</small><br>
						<b>	(928)-257-1307</b>
					</span>
				</span>
			</a>
		</div>
		<div class="top-bar-right">
			<a href="{% url 'page' 'free-quote' %}" title="Free Quote" class="button btn-purple">Free Quote</a>
			<a href="{% url 'page' 'appointments' %}" title="Appointment" class="button btn-blue">Appointment</a>
		</div>
	</div>
</header>