{% load staticfiles %}
<div class="row align-center home-treatments">
	<div class="small-12 medium-10 columns">
		<h4 class="sub-header text-blue">Which Treatment Are You Looking For?</h4>
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-implants.svg' %}" alt="Dental implants in los algodones Mexico">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Dental Implants</h3>
				<p>Long-term solution for teeth replacement that look and feel like your own teeth.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/dental-implants-surgery' %}" title="Dental Implants Surgery" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-dentures.svg' %}" alt="dentures in los algodones mexico">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Dentures</h3>
				<p>Comfortable, removable, and natural-looking option for missing teeth.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/dentures' %}" title="Dentures" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-crowns.svg' %}" alt="dental crowns in los algodones mexico">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Dental Crowns</h3>
				<p>Custom made covers to make your teeth stronger with the shape of a natural tooth.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/crowns' %}" title="Crowns" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-FMR.svg' %}" alt="Full Mouth Restoration procedure">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Full Mouth Restoration</h3>
				<p>Combine different procedures to replace all teeth in both of your jaws.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/full-mouth-restoration' %}" title="Full Mouth Restoration" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-bone-graft-sinus-lift.png' %}" alt="bone graft and sinus">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Bone Graft / Sinus Lift</h3>
				<p>Procedure where bone is added to your jaw before implants can be placed.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/bone-graft-sinus-lift' %}" title="Bone Graft Sinus Lift" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-cosmetics.svg' %}" alt="cosmetic dentistry in mexico">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Cosmetics</h3>
				<p>Different cosmetic treatments that improve the appearance and function of your teeth.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/cosmetics' %}" title="Cosmetics" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-dental-laser.png' %}" alt="dental laser">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Dental Laser</h3>
				<p>A sterilizing laser is used to clean and disinfect the teeth around the sensitive gum tissue.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/laser' %}" title="Laser" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
		<div class="row align-center treatment">
			<div class="small-12 medium-2 columns">
				<img src="{% static 'img/icons/icon-veneers.svg' %}" alt="veneers in los algodones mexico">
			</div>
			<div class="small-12 medium-6 columns">
				<h3>Dental Veneers</h3>
				<p>Covers made out of dental porcelain that protect your teeth to keep them healthy.</p>
			</div>
			<div class="small-12 medium-4 columns">
				<a href="{% url 'page' 'treatments/veneers' %}" title="Veneers" class="button btn-dark-blue">More Info</a>
			</div>
		</div><!-- .treatment -->
	</div>
</div><!-- .home-treatments -->