{% load staticfiles %}
<div id="app">
<form id="selfbooking-form" action="/api/selfbooking/" method="post" data-abide novalidate>
  {# Require #}
  {% csrf_token %}
  <input type="hidden" id="field_utm_appointments" name="field_utm_appointments" value=""><!-- UTM -->
  <input type="hidden" name="origin" value="Self-Booking from"><!-- Origin -->
  {# /Require #}
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
  </div>
  {# include proposal #}
  <div class="selfbooking" data-orbit 
  data-options="
  autoPlay: false;
  timerDelay: 1000;
  infiniteWrap: false;
  containerClass: selfbooking-container;
  slideClass: selfbooking-slide;
  nextClass: selfbooking-next;
  prevClass: selfbooking-prev;">
    <div class="selfbooking-container">

      <div class="is-active selfbooking-slide" id="step-1">
        <div class="row">
          <div class="small-12 medium-12 columns">
            <p class="step-titles">Step 1</p>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">First name <span class="required">*</span></label>
            <input type="text" id="first_name" name="first_name" v-model="firstName" required>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Last name <span class="required">*</span></label>
            <input type="text" id="last_name" name="last_name" v-model="lastName" required>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Email address <span class="required">*</span></label>
            <input type="email" id="email" name="email" v-model="email" pattern="email" required>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Where do you come from? <span class="required">*</span></label>
            <input type="text" id="location" name="location" v-model="location" required>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Contact number <span class="required">*</span></label>
            <input type="tel" name="number" v-model="phone" pattern="number" required>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Promo code</label>
            <input type="text" name="promo_code" v-model="promoCode">
          </div>

          <div class="small-12 columns">
            <div class="row align-middle">
              <div class="small-12 columns text-right">
                <button type="button" :class="{'disabled' : !step_one}" class="selfbooking-next button large btn-light-blue" :disabled="!step_one">Next &#9654;&#xFE0E;</button>
              </div>
            </div>
          </div>

        </div>
      </div><!-- #step-1 -->

      <div class="selfbooking-slide" id="step-2">
        <div class="row">
          <div class="small-12 medium-12 columns">
            <p class="step-titles">Step 2</p>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="dateForm">Desired date <span class="required">*</span></label>
            <date-picker @update-date="updateDate" v-once></date-picker>
            <small class="form-error">This field is required.</small>
          </div>
          <div class="small-12 medium-6 columns">
            <label for="">Desired time <span class="required">*</span></label>
            <select name="time" size="1" v-model="time" required>
              <option value="" selected="selected">--</option>
              <option value="Anytime">Anytime</option>
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
              <option value="Evening">Evening</option>
            </select>
          </div>
          <div class="small-12 medium-12 columns">
            <label for="">Desired treatment <span class="required">*</span></label>
            <button class="button small secondary dropdown" type="button" data-toggle="selfbooking-dropdown">Select procedures</button>
            <ul class="dropdown-pane no-bullet" id="selfbooking-dropdown" data-dropdown 
            data-options="
            autoFocus: true;
            closeOnClick: true;">
              <li v-for="t in treatments" :key="treatment.id">
                <input type="checkbox" :id="t.id" :value="t.name" v-model="treatment">
                <label :for="t.id">${ t.name }</label>
              </li>
              <input type="hidden" name="treatment" :value="treatment | spacing">
            </ul>
          </div>
          <div class="small-12 medium-12 columns">
            <label for="">Comments <span class="required">*</span></label>
            <textarea name="message" cols="30" rows="5"  v-model="message" required></textarea>
            <small class="form-error">This field is required.</small>
          </div>

          <div class="small-12 columns">
            <div class="row align-middle">
              <div class="small-6 columns">
                <button type="button" class="selfbooking-prev button large btn-light-blue">&#9664;&#xFE0E; Back</button>
              </div>
              <div class="small-6 columns text-right">
                <button type="button" :class="{'disabled' : !step_two}" class="selfbooking-next button large btn-light-blue" :disabled="!step_two">Next &#9654;&#xFE0E;</button>
              </div>
            </div>
          </div>

        </div>
      </div><!-- #step-2 -->

      <div class="selfbooking-slide" id="step-3">
        <div class="row">
          <div class="small-12 medium-12 columns">
            <p class="step-titles">Step 3</p>
          </div>
          <div class="small-12 columns">
            <p class="lead">Please confirm the following information</p>
            <table style="width: 100%">
              <tr>
                <td><h5>Date</h5></td>
                <td>${date}</td>
              </tr>
              <tr>
                <td><h5>Time</h5></td>
                <td>${time}</td>
              </tr>
              <tr>
                <td><h5>Treatment(s)</h5></td>
                <td>${treatment | spacing}</td>
              </tr>
              <tr>
                <td><h5>Name</h5></td>
                <td>${firstName} ${lastName}</td>
              </tr>
              <tr>
                <td><h5>Email</h5></td>
                <td>${email}</td>
              </tr>
              <tr>
                <td><h5>Contact number</h5></td>
                <td>${phone}</td>
              </tr>
            </table>
          </div>
          <div class="small-12 medium-12 columns">
            <p>By clicking on "Confirm" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</p>
          </div>

          <div class="small-12 columns">
            <div class="row align-middle">
              <div class="small-6 columns">
                <button type="button" class="selfbooking-prev button large btn-light-blue">&#9664;&#xFE0E; Back</button>
              </div>
              <div class="small-6 columns text-right">
                <button type="submit" class="button large btn-gold" v-if="step_three">Confirm</button>
              </div>
            </div>
          </div>

        </div>
      </div><!-- #step-3 -->

    </div>
  </div><!-- .selfbooking -->
</form>
</div><!-- #app -->