{% if request.get_full_path != blog_post.get_absolute_url %}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Sani Dental Group" />
<meta property="og:title" content="{{ page.meta_title }}"/>
<meta property="og:description" content="{{ page.description|striptags|truncatewords:30 }}" />
<meta property="og:url" content="https:{{ HOME_URL }}{{ request.path }}"/>
<meta property="og:image" content="https:{{ HOME_URL }}/static/img/logos/sani-dental-group_2x.png"/>
<meta property="fb:admins" content="702171953" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@SaniDentalGroup">
<meta name="twitter:url" content="https:{{ HOME_URL }}{{ request.path }}">
<meta name="twitter:title" content="{{ page.meta_title }}">
<meta name="twitter:description" content="{{ page.description|striptags|truncatewords:30 }}">
<meta name="twitter:image" content="https:{{ HOME_URL }}/static/img/logos/sani-dental-group_2x.png">
{% endif %}


