{% load staticfiles %}

<div class="row">
  <div class="small-12 columns text-center pagination-general">
    {% if pagination.previous_page %}
      <a href="{{ url }}{{ pagination.current_page|add:'-1' }}" title="Prev" class="previous">&#10094; Prev</a>
    {% endif %}
    {% for page in pagination.number_pages %}
    <a href="{{ url }}{{ page }}" title="{{ page }}" class="number">{{ page }}</a>
    {% endfor %}
    {% if pagination.next_page %}
      <a href="{{ url }}{{ pagination.current_page|add:'1' }}" title="Next" class="next"> Next &#10095;</a>
    {% endif %}
  </div>
</div>
