{% load staticfiles i18n %}

{% if current_page.has_previous or current_page.has_next %}
<ul class="pagination text-center" role="navigation" aria-label="Pagination">

  <li class="pagination-previous {% if not current_page.has_previous %}disabled{% endif %}">
  	<a {% if current_page.has_previous %} href="?{{ page_var }}={{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %} aria-label="Previous page">&#10094;</a>
  </li>

	{% for page in current_page.paginator.page_range %}
		{% if page == current_page.number %}
		<li class="current"><span class="show-for-sr">You're on page</span> {{ page }}</li>
		{% else %}
		<li><a href="?{{ page_var }}={{ page }}{% if querystring %}&{{ querystring }}{% endif %}" title="Page {{ page }}">{{ page }}</a></li>
		{% endif %}
	{% endfor %}

	<li class="pagination-next {% if not current_page.has_next %}disabled{% endif %}">
	  <a {% if current_page.has_next %} href="?{{ page_var }}={{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}"{% endif %} title="Next page" aria-label="Next page">&#10095;</a>
	</li>
</ul>
{% endif %}
