{% load staticfiles %}
<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<h4 class="sub-header text-blue">Reviews</h4>
	</div>

	<div class="small-12 medium-10 columns">
		<div class="review-content">
			<div class="review-info" itemscope itemtype="http://schema.org/Review">
				<div itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span class="name" itemprop="name">Eugene Hagburg</span> 
					<span class="place">Durango CO, USA</span>
				</div>
				<div class="review-rating">
					<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
						<span class="treatment" itemprop="name">Crowns</span>
					</div>
					<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<div class="star-holder">
							<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
							<!-- <span itemprop="bestRating">5</span> -->
						</div>
					</div>
				</div>
			</div>
			<p>Amazing Dentistry (…) This was the best dental experience I had in a lifetime…they strive for perfection…and finish the work on a fast schedule. They did 14 crowns (porcelain fused metal crowns) at $180 each….such would cost a minimum of $1500 each in US (…) Sani has its own Lab in town and they work around the clock… so no long term temporaries and multiple visits… get it done with perfection… now!</p>
		</div>
	</div>

	<div class="small-12 medium-10 columns">
		<div class="review-content">
			<div class="review-info" itemscope itemtype="http://schema.org/Review">
				<div itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span class="name" itemprop="name">Michael Wallace</span> 
					<span class="place">Phoeniz AZ, USA</span>
				</div>
				<div class="review-rating">
					<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
						<span class="treatment" itemprop="name">Crowns</span>
					</div>
					<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<div class="star-holder">
							<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
							<!-- <span itemprop="bestRating">5</span> -->
						</div>
					</div>
				</div>
			</div>
			<p>As always, outstanding care for enormous savings! Had a bone abscess that required surgery!!!!, Sani Dental fit me in the schedule for the very next day without an appointment. This was during a three day weekend in February for everyone in the US. It was also Snow Bird season… VERY BUSY TIME OF THE YEAR! Thanks again Sani Dental. I can’t imagine going anywhere else for dental work!</p>
		</div>
	</div>

	<div class="small-12 medium-10 columns">
		<div class="review-content">
			<div class="review-info" itemscope itemtype="http://schema.org/Review">
				<div itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span class="name" itemprop="name">Kathleen Stein</span> 
					<span class="place">Hermiston, USA</span>
				</div>
				<div class="review-rating">
					<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
						<span class="treatment" itemprop="name">Crowns</span>
					</div>
					<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<div class="star-holder">
							<span class="star-rating" itemprop="ratingValue" style="width: 100px;">5</span>
							<!-- <span itemprop="bestRating">5</span> -->
						</div>
					</div>
				</div>
			</div>
			<p>Quality work at great prices! The staff is kind and caring, and everything is explained and priced before any work is done. No surprises! Thank you for giving me my smile back! We will continue to use and highly recommend Sani Dental to our family and friends!</p>
		</div>
	</div>
</div>