{% load staticfiles %}
<div class="btn-search">
  <button class="float-left" type="button" data-toggle="search-dropdown">
    <i class="fa fa-search" aria-hidden="true"></i> Search
  </button>
  <div class="dropdown-pane bottom" id="search-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true">
    <form action="/search/" method="get">
      <input type="hidden" name="type" value="">
      <input type="search" name="q" aria-label="search" placeholder="Type to search…" autocomplete="off">
    </form>
  </div>
</div>