{% load staticfiles %}
<div class="form-contact sticky" data-sticky data-options="marginTop:0; anchor:content; stickyOn:large; ">
	<div class="row align-center">
		<div class="small-12 medium-10 columns">
			<h3>Get a Free Estimate by Filling the Form Below</h3>
			<p>Our team of patient coordinators will help you set your appointment and solve all your doubts.</p>
		</div>
	</div>
	<form action="/api/contact-APIView/" method="post" data-abide novalidate>
		{# Require #}
		{% csrf_token %}
		<input type="hidden" id="field_utm_need_help" name="field_utm_need_help" value="">
		{# /Require #}
		<div class="row align-center">
			<div class="small-12 medium-10 columns">
				<div data-abide-error class="alert callout" {% for message in messages %}{% empty %} style="display: none;" {% endfor %}>
					<p><i class="fi-alert"></i> There are some errors in your form.</p>
				</div>
			</div>
			<div class="small-12 medium-10 columns">
				<input type="text" name="name" aria-label="name" placeholder="Full Name" required>
			</div>
			<div class="small-12 medium-10 columns">
				<input type="email" name="email" aria-label="email" placeholder="Email" required>
			</div>
			<div class="small-12 medium-10 columns">
				<div class="row align-top align-center">
					<div class="padding-none-left small-4 columns">
						<input type="tel" name="area" aria-label="area" maxlength=3 placeholder="(760)" required>
					</div>
					<div class="padding-none-right small-8 columns">
						<input type="tel" name="number" aria-label="number" id="phone-number-field" maxlength=7 placeholder="123-4567" required>
					</div>
				</div>
			</div>
			<div class="small-12 medium-10 columns">
				<input type="text" name="location" aria-label="location" placeholder="Where do you come from? (City)" required>
			</div>
			<div class="small-12 medium-10 columns">
				<textarea  name="message" aria-label="message" cols="30" rows="4" placeholder="Your message" required></textarea>
			</div>
			<fieldset class="small-12 medium-12 columns text-center">
				<button class="button btn-purple" type="submit">I Want My Estimate</button>
			</fieldset>
		</div>
	</form>
</div>
