{% load staticfiles %}
<div class="form-financing sticky" data-sticky data-options="marginTop:0; anchor:content; stickyOn:large;">
  <div class="row align-center">
    <div class="small-12 medium-10 columns">
      <h3>Important</h3>
      <p>It’s important to have a Pre-estimate before contacting the Finance Company, this way you’ll have an idea of the balance of your dental treatment plan. All the Pre-estimates we send you prior to your visit are informative and must be confirmed by the Diagnosis Doctor after an oral examination. These pre-estimates may be subject to change.</p>
    </div>
  </div>
  <form action="/api/financing-APIView/" method="post" data-abide novalidate>
		{# Require #}
		{% csrf_token %}
		<input type="hidden" id="id_field_39" name="field_39" value="">
		{# /Require #}
  	<div class="row align-center">
  		<div class="small-12 medium-10 columns">
				<div data-abide-error class="alert callout" class="alert callout" {% for message in messages %}{% empty %} style="display: none;" {% endfor %}>
					<p><i class="fi-alert"></i> There are some errors in your form.</p>
				</div>
			</div>
  	</div>
		<div class="row align-center">
      <div class="small-12 medium-10 columns">
        <input name="name" type="text" placeholder="Full Name" required>
        <span class="form-error">Full name required.</span>
      </div>
    </div>
		<div class="row align-center">
			<div class="small-12 medium-5 columns">
				<input name="email" type="email" placeholder="Email Address" required pattern="">
				<span class="form-error">Email address required.</span>
			</div>
			<div class="small-12 medium-5 columns">
				<input name="phone" type="tel" placeholder="Phone Number" required>
				<span class="form-error">Phone number required.</span>
			</div>
		</div>
		<div class="row align-center">
			<fieldset class="small-12 medium-10 columns">
				<legend>Please select correct answer</legend>
				<input type="radio" name="residency" value="US Resident" id="#" required><label for="#">US Resident</label>
				<input type="radio" name="residency" value="Canadian Resident" id="#"><label for="#">Canadian Resident</label>
			</fieldset>
		</div>
		<div class="row align-center">
			<div class="small-12 medium-10 columns">
				<textarea name="message" cols="30" rows="4" placeholder="Your message" required></textarea>
				<span class="form-error">Message required.</span>
				<fieldset class="small-12 medium-12 columns text-center">
					<button class="button btn-pink" type="submit" value="Submit">I Want My Estimate</button>
				</fieldset>
			</div>
		</div>
  </form>
</div><!-- .form-financing -->