{% load staticfiles %}
<div class="sidebar-info" class="sticky" data-sticky data-options="marginTop:0; anchor:content; stickyOn:large;">
	<div class="mapa">
		<img src="{% static 'img/location/algodones-map-small.jpg' %}">
		<div class="reveal" id="mapClinics" data-reveal>
			<img src="{% static 'img/location/algodones-map-large.jpg' %}">
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="text-center">
			<button data-open="mapClinics" class="button btn-blue">Click me to enlarge map</button>
		</div>
	</div>
	<div class="row align-center">
		<div class="small-11 medium-10 columns">
			<dl>
				<dt class="text-aqua">Alamo</dt>
					<dd>Calle Alamo 287, Los Algodones</dd>
					<dd>Baja California, Mexico 21970</dd>
				<dt class="text-aqua">Platinum</dt>
					<dd>Calle Tercera 203-D, Los Algodones</dd>
					<dd>Baja California, Mexico 21970</dd>
			</dl>
			<div class="tel">
				<h6>TOLL FREE NUMBER</h6>
				<p><a href="tel:8557264337" title="TOLL FREE NUMBER">855 SANI-DDS</a></p>
			</div>
			<dl class="tel">
				<dt>In The U.S. Call</dt>
					<dd><a href="tel:9282571307" title="In The U.S. Call">(928) 257 1307</a></dd>
				<dt>Tel. Mexico</dt>
					<dd><a href="tel:011526585177363" title="Tel. Mexico">01152 (658) 517 7363</a></dd>
			</dl>
			<p class="mail"><a href="mailto:info@sanidentalgroup.com?Subject=Hello%20Sani" title="Send Mail">info@sanidentalgroup.com</a></p class="mail">
			<dl>
				<dt>Clinics Operation Hours</dt>
					<dd>Monday - Friday 8:30 a.m. to 5:00 p.m.</dd>
					<dd>Saturday 9:00 a.m. to 3:00 p.m.</dd>
					<dd>Sunday  With Appointment Only</dd>
				<dt>Customer Care Operation Hours</dt>
					<dd>Monday - Friday 7:00 a.m. to 7:00 p.m.</dd>
					<dd>Saturday  9:00 a.m. to 3:00 p.m.</dd>
					<dd>Sunday  Closed</dd>
				<dt>Borderline Hours of Operation</dt>
					<dd>Monday - Sunday 6:00 a.m. to 10:00 p.m.</dd>
			</dl>
		</div>
	</div>
</div>