{% load staticfiles %}
<div id="prices-div" class="form-free-quote" class="sticky" data-sticky data-options="marginTop:0; anchor:content; stickyOn:large;">
	<div class="row align-center">
		<div class="small-12 medium-10 columns">
			<p>Add all procedures you're interested in, and send this quote to your e-mail by filling this form below:</p>
		</div>
	</div>
	<div class="row align-center text-center comparisson-quotes">
		<div id="us-cost" class="small-6 medium-4 columns">
			<img src="{% static 'img/free-quote/usa-flag.png' %}">
			<p>US price<br/><span>$0</span></p>
		</div>
		<div id="our-cost" class="small-6 medium-4 columns">
			<img src="{% static 'img/free-quote/logo-quote.png' %}">
			<p class="text-purple">Our price<br/><span>$0</span></p>
		</div>
	</div>
	<div class="savings">
		<h3>SAVINGS</h3>
		<p>
			<span class="total-difference">$-,---</span>
			<span class="separator"></span>
			<span class="porcent">0%</span>
		</p>
	</div>
	<form action="{% url 'quote-list' %}" method="post" id="free-quote-form" data-abide novalidate>
		{% csrf_token %}
		<input type="hidden" name="procedures" value="">
		<input type="hidden" name="price" value="">
		<div class="row align-center">
			<div class="small-12 medium-10 columns">
				<div data-abide-error class="alert callout" style="display: none;">
					<p><i class="fi-alert"></i> There are some errors in your form.</p>
				</div>
			</div>
			<div class="small-12 medium-10 columns">
				<input type="text" name="name" placeholder="Full name" required pattern="[a-zA-Z]+">
				<input type="tel" name="telephone" placeholder="Contact number" required>
				<input type="email" name="email" placeholder="Email" required>
			</div>
		</div>
		<div class="row align-center">
			<div class="small-12 medium-10 columns">
				<p>By clicking on "Send" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</p>
			</div>
		</div>
		<div class="row align-center">
	    <fieldset class="large-5 columns">
	      <button class="button expanded btn-purple" type="reset" value="Reset">Reset</button>
	    </fieldset>
	    <fieldset class="large-5 columns">
	      <button class="button expanded btn-blue" type="submit" value="Submit">Submit</button>
	    </fieldset>
	  </div>
	</form>
</div>