{% load staticfiles %}
<!-- Sidebar Transportation -->
<div class="sidebar-transportation sticky" data-sticky data-options="marginTop:0; anchor:content; stickyOn:large;">
  <div class="row align-center">
    <div class="small-12 medium-10 columns">
      <h3>Travel to Los Algodones</h3>
      <p>From the closest cities by drive or a flight.</p>
      <h4>Flying</h4>
      <ul class="no-bullet">
        <li>
          <a href="{% url 'page' 'patient-resources/flight-information-san-diego' %}" title="Flight information San Diego">San Diego</a>
          <span> 164.9m</span>
        </li>
        <li>
          <a href="{% url 'page' 'patient-resources/flight-information-phoenix' %}" title="Flight information Phoenix">Phoenix</a>
          <span> 193.6m</span>
        </li>
        <li>
          <a href="{% url 'page' 'patient-resources/flight-information-yuma' %}" title="Flight information Yuma">Yuma</a>
          <span> 10.9m</span>
        </li>
      </ul>
    </div>
    <div class="small-12 medium-10 columns">
      <h4>Driving</h4>
      <ul class="no-bullet">
        <li>
          <a href="{% url 'page' 'patient-resources/driving-information-san-diego' %}" title="driving-information-san-diego">San Diego</a>
          <span> 164.9m</span>
        </li>
        <li>
          <a href="{% url 'page' 'patient-resources/driving-information-phoenix' %}" title="Driving Information Phoenix">Phoenix</a>
          <span> 193.6m</span>
        </li>
        <li>
          <a href="{% url 'page' 'patient-resources/driving-information-los-angeles' %}" title="Driving Information Los Angeles">Los Angeles</a>
          <span> 265m</span>
        </li>
        <li>
          <a href="{% url 'page' 'patient-resources/driving-information-las-vegas' %}" title="Driving Information Las Vegas">Las Vegas</a>
          <span> 288.6m</span>
        </li>
      </ul>
    </div>
    <div class="small-12 medium-10 columns">
      <a href="{% url 'page' 'patient-resources/lodging' %}" title="Lodging Options" class="button btn-gold expanded">Lodging Options</a>
    </div>
  </div>
</div><!-- .Sidebar Transportation -->