footer{
	background-color: $brand-dark-blue;
	background: linear-gradient( 180deg, $brand-dark-blue 61%, scale-color($brand-dark-blue, $lightness: -14%) 39%);
	padding: rem-calc(32 24 0);
	h3{
		color: $white;
		font-size: rem-calc(25);
	}
	nav{
		a{
			color: $medium-gray;
			font-weight: 700;
			font-size: rem-calc(22);
			display: block;
			line-height: 1.2;
			white-space: nowrap;
			margin-bottom: rem-calc(8);
			&:hover{
				color: $brand-pink;
			}
		}
		&:nth-of-type(1){
			margin-bottom: rem-calc(24);
		}
	}
	.footer-newsletter{
		margin-top: rem-calc(32);
		margin-bottom: rem-calc(32);
		color: $white;
		h4{
			font-size: rem-calc(22);
			margin-bottom: rem-calc(20);
		}
		button{
			text-transform: uppercase;
		}
	}
}

.cookie-msg{
	color: $white;
	font-size: rem-calc(11);
	a{
		color: $white;
		border-bottom: 1px dotted $white;
		&:hover{
			border-bottom-style: solid;
		}
	}
}

.footer-bottom{
	background-color: scale-color($brand-dark-blue, $lightness: 6%);
	padding: rem-calc(16);
	margin: 0;
	p{
		text-align: center;
		color:$white;
	}
	.social-icons{
		text-align: center;
		img{
			width: rem-calc(40);
			margin-left: rem-calc(4);
		}
	}
}

//Medium
@media screen and #{breakpoint(medium)} {
	footer{
		background: linear-gradient( 90deg, $brand-dark-blue 64%, scale-color($brand-dark-blue, $lightness: -14%) 37%);
		padding-top: rem-calc(64);
		// padding-bottom: rem-calc(64);
		h3{
			font-size: rem-calc(30);
		}
		nav{
			a{
				font-size: rem-calc(20);
			}
		}
	}
	.footer-bottom{
		p{
			text-align: left;
			margin-bottom: 0;
		}
		.social-icons{
			text-align: right;
		}
	}
}

@media screen and #{breakpoint(large)} {
	footer{
		background: linear-gradient( 90deg, $brand-dark-blue 58%, scale-color($brand-dark-blue, $lightness: -14%) 37%);;
	}
}