//
// Header
// --------------------------------------------------

.title-bar {
	background-color: $brand-dark-blue;
	justify-content: flex-end;
}

.navbar .phone {
    text-decoration: none;
    color: #3e465a;
    font-size: 1.25rem;
    display: block;
}

.navbar .phone small {
    font-size: .8125rem
}

.navbar .phone img {
    max-width: 2.8125rem
}

.top-bar {
	padding-left: rem-calc(15);
	padding-right: rem-calc(15);
	background-color: #FFF; 
	&-title {
		flex-basis: 35%;
		@include breakpoint(medium) {
			flex-basis: auto;
		}
		a {
			display: block;
		}
	}
	.top-bar-left {
		flex-basis: 60%;
		text-transform: uppercase;
		.phone {
			color: $brand-dark-blue;
			font-weight: bold;
			font-size: rem-calc(12);
			margin-bottom: 0;
			a {
				font-size: rem-calc(14);
				color: $brand-dark-blue;
			}
			&-sm {
				text-decoration: none;
		    color: $brand-dark-blue;
		    font-size: rem-calc(18);
		    display: block;
		    small {
		    	font-size: rem-calc(10)
		    }
		    img {
		    	max-width: rem-calc(30);
		    }
			}
		}
	}
	.top-bar-right {
		display: flex; 
		justify-content: space-around; 
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(10);
		.button {
			margin: 0;
			padding: rem-calc(10 15);
			text-transform: uppercase;
		}
	}
}


@media screen and #{breakpoint(medium)} {
	.top-bar{
		margin: 0 auto;
		justify-content: space-around;
		.top-bar-left{
			flex-basis: 30%;
			.phone{
				font-size: rem-calc(14);
				a{
					font-size: rem-calc(18);
				}
			}
		}
		.top-bar-right{;
			flex-basis: 45%;
			justify-content: flex-end;
			.button{
				margin-left: rem-calc(12);
				font-size: rem-calc(16); 
			}
		}
	}
}

@media screen and #{breakpoint(xxlarge)} {
	.top-bar{
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);
		.top-bar-left{
			.phone{
				margin-left: rem-calc(10);
				font-size: rem-calc(18);
				a{
					font-size: rem-calc(21);
				}
			}
		}
		.top-bar-right{;
			.button{
				margin-left: rem-calc(16);
				font-size: rem-calc(18); 
			}
		}
	}
}
