<template>
	<input type="text" name="date" id="dateForm" required>
</template>

<script>
export default {
  name: 'DatePicker',
  mounted() {
    var self = this;
    $(this.$el).datepicker({
      onSelect: function(date) {
      	dateFormat: 'yy-mm-dd',
        self.$emit('update-date', date);
      }
    });
  },
  destroyed() {
    $(this.$el).datepicker('hide').datepicker('destroy');
  }
}
</script>

