{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags blog_tags i18n keyword_tags %}

{% block title %}{% endblock %}

{% block content %}
	{% for blog_post in blog_posts.object_list %}
	<article class="blog-post">
		<header>
			{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
			{% block blog_post_list_post_featured_image %}
			<figure>
				<a href="{{ blog_post.get_absolute_url }}" title="{{ blog_post.title }}">
					<img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1000 429 %}" alt="{{ blog_post.title }}">
				</a>
			</figure>
			{% endblock %}
			{% endif %}
			<h2><a href="{{ blog_post.get_absolute_url }}" title="{{ blog_post.title }}">{{ blog_post.title }}</a></h2>
			<p class="byline">
				Published on:
				<time id="date" datetime="{{ blog_post.publish_date|date:'Y-m-d' }}">{{ blog_post.publish_date|date }}</time>
				{% with blog_post.user as author %}
					- By: <span class="author">{{ author.get_full_name|default:author.username }}</span>
				{% endwith %}
			</p>
		</header>
		<section class="article-content">
			{% block blog_post_list_post_content %}
			<p>{{ blog_post.description_from_content|striptags|safe }}</p>
			{% endblock %}
			<div class="text-right">
				<a href="{{ blog_post.get_absolute_url }}" title="{{ blog_post.title }}" class="button btn-light-blue">Read More</a>
			</div>
		</section>
	</article>
	{% endfor %}
	{% pagination_for blog_posts %}
{% endblock %}
