{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags comment_tags blog_tags i18n keyword_tags %}

{% block page_title %}{% endblock %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}<p></p>{% endblock %}

{% block extra_head %}{{ block.super }}
	<!-- Facebook Metadata -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ blog_post.title }}"/>
	<meta property="og:description" content="{{ blog_post.content|striptags|truncatewords:30 }}" />
	<meta property="og:url" content="https:{{ HOME_URL }}{{ blog_post.get_absolute_url }}"/>
	<meta property="og:image" content="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1200 1200 %}"/>
	<meta property="fb:admins" content="702171953" />
	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@SaniDentalGroup">
	<meta name="twitter:url" content="https:{{ HOME_URL }}{{ blog_post.get_absolute_url }}">
	<meta name="twitter:title" content="{{ blog_post.title }}">
	<meta name="twitter:description" content="{{ blog_post.content|striptags|truncatewords:30 }}">
	<meta name="twitter:image" content="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 700 300 %}">
{% endblock %}

{% block content %}
<article class="blog-post">
	<header>
		{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
		{% block blog_post_list_post_featured_image %}
		<figure>
			<a href="{{ blog_post.get_absolute_url }}" title="{{ blog_post.title }}">
				<img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1000 429 %}" alt="{{ blog_post.title }}">
			</a>
		</figure>
		{% endblock %}
		{% endif %}
		<h1>{{ blog_post.title }}</h1>
		<p class="byline">
			Published on:
			<time id="date" datetime="{{ blog_post.publish_date|date:'Y-m-d' }}">{{ blog_post.publish_date|date }}</time>
			{% with blog_post.user as author %}
				- By: <span class="author">{{ author.get_full_name|default:author.username }}</span>
			{% endwith %}
		</p>
	</header>
	<section class="article-content">
		{% block blog_post_list_post_content %}
			{{ blog_post.content|safe }}
			<div class="share">
				<ul>
					<li>
						<a href="//facebook.com/sharer.php?u={{ HOME_URL }}{{ blog_post.get_absolute_url }}" target="_blank" title="Share in Facebook">Facebook</a>
					</li>
					<li>
						<a href="//twitter.com/intent/tweet?url={{ HOME_URL }}{{ blog_post.get_absolute_url }}&text={{ blog_post.title }}&via=SaniDentalGroup" target="_blank" title="Share in  Twitter">Twitter</a>
					</li>
					<li>
						<a href="//plus.google.com/share?url={{ HOME_URL }}{{ blog_post.get_absolute_url }}" target="_blank" title="Share in Google">Google +1</a>
					</li>
					<li>
						<a href="//www.linkedin.com/cws/share?url={{ HOME_URL }}{{ blog_post.get_absolute_url }}" target="_blank" title="Share in Linkedin">Linkedin</a>
					</li>
				</ul>
			</div>
		{% endblock %}
	</section>
	
	{% with blog_post.user as author %}
	<div class="row align-center author">
		<div class="small-12 medium-2 columns">
			{% if author.photo %}
			<img src="{{ MEDIA_URL }}{% thumbnail author.photo 122 122 %}" alt="{{ author.get_full_name }}" class="thumbnail">
			{% else %}
			<img src="{% gravatar_url author.email 122 %}" alt="{{ author.get_full_name }}" class="thumbnail">
			{% endif %}
		</div>
		<div class="small-12 medium-10 columns">
			<h5>{{ author.get_full_name }}</h5>
			<p>
				{% if author.biography %}
					{{ author.biography|safe }}
				{% else %}
					No biography for this author.
				{% endif %}
			</p>
		</div>
	</div>
	{% endwith %}
	<div class="callout primary radius">
		<p><b>Disclaimer:</b> All content shown in this blog and in any linked materials are not intended and should not be construed as medical advice. Any recommendations are based on personal, not professional, opinion only. If the reader or any other person has a medical concern about their dental care and treatments, please contact us directly. For more information please read our <a href="/disclaimer" title="Disclaimer">Disclaimers</a> and <a href="/faq" title="FAQ">FAQ</a> pages.</p>
	</div>
</article>
<!-- {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %} -->
{% endblock %}
