{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
<div class="row event-container">
	<div class="medium-3 large-3 columns sani-sticky-menu" data-sticky-container>
	  <nav class="columns sticky" data-sticky data-anchor="event-list" data-sticky-on="medium">
	    <ul class="vertical menu" data-magellan>
	    	<li><a href="#2019-events" title="Sani Events 2019">2019</a></li>
	    	<li><a href="#2018-events" title="Sani Events 2018">2018</a></li>
	    	<li><a href="#2017-events" title="Sani Events 2017">2017</a></li>
	      <li><a href="#2016-events" title="Sani Events 2016">2016</a></li>
	      <li><a href="#2015-events" title="Sani Events 2015">2015</a></li>
	      <li><a href="#2014-events" title="Sani Events 2014">2014</a></li>
	      <li><a href="#2013-events" title="Sani Events 2013">2013</a></li>
	    </ul>
	  </nav>
	</div><!-- Menu -->
	<div class="small-12 medium-8 large-8 columns" id="event-list">
		<div id="2019-events" data-magellan-target="2019-events">
			<h2 class="text-pink">2019 Events</h2>
			<div class="row align-center align-middle" id="medical-tourism-congress-2019">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/logos/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">10th Medical Tourism Congress</h3><small>March 20th & 21st - 2019</small>
				</div>
				
				<div class="row">
					<div class="column">
						<p>Sani Medical Tourism was part of the largest and only event in Latin America concerning business on Medical Tourism.</p>
						<p>The 10th Medical Tourism Congress took place on the 20 and 21 of May 2019 in the beautiful island of Cozumel, Mexico.
						On the event, our chief operations Alejandro Gutierrez gave a conference on Connecting with International Patients in their place of Residence.</p>
						<p>Thank you to everyone who assisted, it was a pleasure!</p>
					</div>
				</div>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2019/medical-tourism-congress/smt.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2019/medical-tourism-congress/smt2.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2019/medical-tourism-congress/smt3.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2019/medical-tourism-congress/smt4.jpg' %}">
				</div>
			</div><!-- Gallery Event -->

			<div class="row align-center align-middle" id="hermes-prize-2019">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/logos/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Congrats Dr. Hermes Somonte on his award</h3><small>March 14th - 2019</small>
				</div>
				
				<p>We're very proud to share with you that Dr. Hermes Somonte, one of our Oral and Maxillofacial surgeons, has been chosen to receive the highest distinction prize from the International Society for Research, Health, Business Development, and Technology-SIISDET.</p>
				<p>The international society qualifies, recognizes, rewards, and promotes projects in health and research. In recognition of his achievements, merit, and continuous dedication. </p>
				<p>Dr. Somonte will be awarded with the prize in an exclusive ceremony that will take place on the 23-25 of May in the City of Medellin, Colombia.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-12 medium-12">
					<img src="{% static 'img/events/2019/hermes-prize/SDG-Hermes.jpg' %}">
				</div>
			</div><!-- Gallery Event -->

			<div class="row align-center align-middle" id="adventure-show-LA-2019">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/logos/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">14th Annual Los Angeles Travel and Adventure Show</h3><small>February 16th & 17th - 2019</small>
				</div>
			</div>
			<div class="row">
				<div class="column">
					<p>Sani Medical Tourism was part of The 14th Annual Los Angeles Travel and Adventure Show. We had the opportunity to participate in the largest consumer travel show in the United States. The event took place the weekend of February 16 and 17 of the present year in Los Angeles, where many travel stories were shared by travel experts and show executives on travel trends.</p>
					<p>We want to thank every travel lover that visit us at the event. What a great experience!</p>
				</div>
			</div>
			<div class="row gallery-events">
				<div class="small-12 medium-12">
					<img src="{% static 'img/events/2019/sani-adventure/SDG-adventure.jpg' %}">
				</div>
			</div><!-- Gallery Event -->
		</div>

		<div id="2018-events" data-magellan-target="2018-events">
			<h2 class="text-pink">2018 Events</h2>
			<div class="row align-center align-middle" id="golf-tournament-2018">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/logos/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">3rd Annual Golf Tournament at Mesa Del Sol Golf Club.</h3><small>April 21st - 2018</small>
				</div>
				<p>On April 21st, 2018 the Sani Dental Group team had the chance to be part of the 3rd Annual Golf Tournament at Mesa Del Sol Golf Club in Yuma, AZ. Each year, this tournament is organized by Right Turn for Yuma Veterans, an organization focused on returning homeless veterans to a permanent financial and social independence.</p>
				<p>It was not about winning the tournament, but to help the people who have helped the USA before.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-01.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-05.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-04.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-03.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-06.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2018/golf-tournament-2018-07.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div>
		<div id="2017-events" data-magellan-target="2017-events">
			<h2 class="text-pink">2017 Events</h2>
			<div class="row align-center align-middle" id="welcome-party-2017">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Los Algodones for the "Welcome Party"</h3><small>December 9th - 2017</small>
				</div>
				<p>Every year, Snowbirds leave their hometown for months in order to have a not so cold winter. Arizona, among other hot border states, turns to be their new home for a couple of months. Some of these snowbirds decide to spend their days at Los Algodones, where the warm of locals and other visitors make everybody feel like home.</p>
				<p>On December 9th Los Algodones celebrated its traditional Snowbirds Welcome Party, and as every year Sani Dental Group was there to welcome our beloved guests. Food, drinks and souvenirs where some of the things Snowbirds enjoyed in a beautiful Saturday morning.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-12 medium-12">
					<img src="{% static 'img/events/2017/welcome-party-2017-01.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle" id="yuma-expo-2017">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Mexicali & Yuma Expo at Quechan Casino Resort</h3><small>November 25th - 2017</small>
				</div>
				<p>This Saturtday November 25th, Sani Dental Group along with Giostar Mexico attended to the Mexicali and Yuma Expo in Quechan Casino & Resort.</p>
				<p>From 9:00 am to 2:00 pm attendants to the event could find among the expositors different medical and dental services, and artisans and agriculturist from the Baja California region. Also, we were all delighted with the cultural shows presented during the event, such as regional dances, Chinese Dragon Dance, Charros performance, and more. </p>
			</div>
			<div class="row gallery-events">
				<div class="small-12 medium-12">
					<img src="{% static 'img/events/2017/yuma-expo-2017-1.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle" id="#">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Day Of the Dead '17</h3><small>November 2nd - 2017</small>
				</div>
				<p>Día de Muertos is a Mexican holiday celebrated on the first two days of November. Each year, Mexicans families all over the country gather to celebrate life and death, and to demonstrate love and respect for their deceased family members and friends.</p>
				<p>This year, Sani Dental Group dressed in brilliant colors to continue with this beautiful tradition, and MediPlaza Los Algodones was happy to be part of this celebration. The plaza was decorated with paper flowers, a photo booth, and papel picado.</p>
				<p>For hours, a joyful Mariachi band was in charge of delighting our guests with traditional Mexican music, while some eat and chat, others where playing different games and activities such as Dress the Catrina and face painting, which was very popular. We had a lot of fun, and we hope our guests too.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-1.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-2.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-3.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-4.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-6.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-8.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-7.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/day-of-the-dead/day-of-the-dead-5.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle" id="#">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">WMTC in Los Angeles, CA</h3><small>October 2nd - 2017</small>
				</div>
				<p>The 10th World Medical Tourism & Global Healthcare Congress took place last October 2nd to 4th at the Los Angeles Convention Center. This event is organized with the purpose of letting companies and organizations stablish themselves as an international brand and position people’s brand as an industry leader.</p>
				<p>Sani Dental Group had the honor to have an exhibit, and to have one of their team members as a Keynote Speaker. “Don’t Sell a Service, Sell an Experience” was the subject Armando Rosas, Sani Dental Group’s Marketing Manager talked about during his presentation.</p>
				<p>Nutrition, Genetic Health, and different Wellness centers, were only a few of the hundreds of exhibitors and attendants to this event.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/wmtc-2017-01.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/wmtc-2017-03.jpg' %}">
				</div>
				<div class="small-6 medium-6">
					<img src="{% static 'img/events/2017/wmtc-2017-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div>
		<div id="2016-events" data-magellan-target="2016-events">
			<h2 class="text-pink">2016 Events</h2>
			<div class="row align-center align-middle" id="nobel-bio-care-course-2016">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/events/2016/nobel-bio-care/nobel-logo.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Nobel Biocare Course</h3><small>May 26 - 2016</small>
				</div>
				<p>Last Thursday, May 26th, our friends from Nobel BioCare visit us at one of the Sani Dental Group clinics to impart a course about dental implants and new techniques. Thank you Nobel BioCare, what we learned will help us to keep growing and innovating.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/nobel-bio-care/sani-nobel-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/nobel-bio-care/sani-nobel-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/nobel-bio-care/sani-nobel-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/nobel-bio-care/sani-nobel-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle" id="los-algodones-fundraising-event-2016">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Los Algodones Fundraising Event</h3><small>January 22 - 2016</small>
				</div>
				<p>On January 22nd, 2016, Sani Dental Group conducted the first Fundraising Event in Los Algodones. Under the name of "Los Algodones Fundraising Event 2016", this event gathered people from Mexico and the US to support a noble cause. The proceeds of the event were destined to Take My Hand, a daycare house which offers daycare service to children whose parents cannot afford it in Los Algodones. It was just the beginning, Sani Dental Group is compromised to support the causes that need it the most. Thanks to all the attendants, sponsors, and volunteer participants, this event wouldn't have been possible without you.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2016/fundraising/fundraising-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div><!-- 2016 Event -->
		<div id="2015-events" data-magellan-target="2015-events">
			<h2 class="text-pink">2015 Events</h2>
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">A Little Bit of Mexicali</h3><small>December 12 - 2015</small>
				</div>
				<p>On December 12th, Mexican culture was celebrated at El Centro, California. "A Little Bit of Mexicali" offered to dozens of people the opportunity to taste authentic Mexican food, hear Mariachi music, and have a wonderful time. The team of Sani Dental Group was present at the event. We made a raffle where the big winner took a basket full of gifts home. We thank all the attendees for letting us share with them a little bit of Mexico.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/bit-of-mexicali/mexicali-fest-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Welcome Party Winter Visitors</h3><small>December 5 - 2015</small>
				</div>
				<p>On December 5th, Los Algodones celebrated its traditional Snowbirds Welcome Party. There were food, music, offers, and a lot of fun. We were present at this amazing party and we carried games and prizes for all attendants. We at Sani Dental Group welcome all snowbirds that will visit us this season. Make yourself at home!</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/snowbirds/snowbirds-09.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Walk for Diabetes Awareness</h3><small>November 15 - 2015</small>
				</div>
				<p>On November 15th, Sani Dental Group had the honor of being part of the First Walk for Diabetes Awareness. We hope that this first walk is the beginning of a tradition on this important subject. Congratulations to all participants!</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/diabetes-walk/diabetes-walk-12.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Dia de los Muertos</h3><small>November 14 - 2015</small>
				</div>
				<p>On November 14, Sani Dental Group had the honor of being a proud participant of the annual Día de los Muertos Celebration at Los Algodones, Mexico. We took photos with the people who attended and had a great time celebrating this wonderful tradition. For Sani Dental Group, keeping alive our traditions is of vital importance, and we hope to be part of this celebration again next year.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-12.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-13.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-14.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-15.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-16.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/dia-muertos/dia-muertos-17.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">8th World Medical Tourism & Global Healthcare Congress in Orlando</h3><small>September 27-29 2015</small>
				</div>
				<p>For a third year in a row, Sani Dental Group had the opportunity to be a member of the World Medical Tourism & Global Healthcare Congress in Orlando, Florida. The World Medical Tourism & Global Healthcare Congress (WMTC) is organized by the Medical Tourism Association (MTA) and it’s the largest event in the healthcare industry. Thousands of people attended, from healthcare providers to professionals in the healthcare development and investment; all were present in the 8th World Medical Tourism & Global Healthcare Congress. The goal of this congress is to unite thousands, create good relationships, and to provide better services in the area of medical tourism.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/mta/mta-10.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">CAME BC</h3><small>September 18 2015</small>
				</div>
				<p>On September 18, our Doctors and several members of our staff attended a conference imparted by Dr. Ernesto Villegas, Secretary of the Medical Arbitration Committe of the state of Baja California (CAME B.C. for its acronym in spanish). He explained the credentials and regulations every Medical Clinic, including dental facilities, as well as any Medical Practitioner must have in order to provide medical services. Sani Dental Group is always keeping at the forefront in every aspect of the medical field to provide the best quality service for our patients.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/came/came-bc-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/came/came-bc-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/came/came-bc-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/came/came-bc-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">El Grito: Celebrating Independence Day in Coachella</h3><small>September 13 - 2015</small>
				</div>
				<p>On September 13th, thousands gathered around in Coachella with one same goal: to celebrate Mexico. Rancho Las Flores received food vendors, bands, and visitors of all ages. The red, white, and green were present all over the place, making of this event an amazing evening for all the presents. We participated offering our services and special offers; giving you the best service is our way to celebrate.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/coachella/coachella-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/coachella/coachella-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/coachella/coachella-03.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Third Health Tourism Regional Forum – Matamoros, Tamaulipas</h3><small>September 9-10 - 2015</small>
				</div>
				<p>Medical Tourism is growing in Mexico. Sani Dental Group, as a part of this industry, is updating constantly about the industry's advance. We participated in the third Health Tourism Forum, in the city of Matamoros, Tamaulipas. There, the leaders of the industry - including Sani - gave their forecast about the Medical Tourism in Mexico. Everyone that were there had the same goal: to offer the best service for the tourists that visit Mexico.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/foro-matamoros/foro-matamoros-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/foro-matamoros/foro-matamoros-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/foro-matamoros/foro-matamoros-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/foro-matamoros/foro-matamoros-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">First Aid Course</h3><small>September 5 - 2015</small>
				</div>
				<p>We at Sani Dental Group are always preparing and improving to offer you the best experience. As part of this preparation, our team took a First Aid course to be ready when an emergency presents. We want you to know that you're safe when you're on our hands. Offering you the most qualified staff is our way to thank you for giving us your trust and support.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/first-aid/first-aid-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/first-aid/first-aid-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/first-aid/first-aid-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/first-aid/first-aid-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Delivery of Funds for Mexicali's Medical District</h3><small>July 14 - 2015</small>
				</div>
				<p>Sani Dental Group is always looking to have a constant presence in the community. On last July, we assisted to the Delivery of Funds for Mexicali's Medical District. The goal of this funds is to develop a bigger medical industry in the state, and that's our goal too. We support efforts like this and we thank the Governor for its interest in this growing industry.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/distrito-medico/distrito-medico-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/distrito-medico/distrito-medico-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/distrito-medico/distrito-medico-03.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Global Patients Choice Award</h3><small>May - 2015</small>
				</div>
				<p>Once again, Sani Dental Group received Dental Departures: Global Patients Choice Award. This awards is given to the best dental clinic and what makes it special is that it’s the patient whom chooses and grants this award. We would like to thank all of our patients and visitors whom have given us their trust and support and thank you for choosing our dental clinic as the best dental clinic in Mexico.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/premio-dd/premio-dd-06.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Sani’s Family Day </h3><small>April 26 - 2015</small>
				</div>
				<p>The importance of family is important to Sani Dental Group. As every year, last May we had our traditional Family Day. It's an occasion for our team to bring their families and enjoy together. Food, piñatas, bouncy house, and even children's favorite characters were present on the event. We look forward to having more opportunities to be together and sharing our experience with you.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/familia-sani/familia-sani-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/familia-sani/familia-sani-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/familia-sani/familia-sani-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/familia-sani/familia-sani-04.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/events/2015/travel-show/travel-show-logo.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">LA Travel Show</h3><small>February - 2015</small>
				</div>
				<p>Medical Tourism is growing in Mexico. Sani Dental Group, as a part of this industry, is updating constantly about the industry's advance. We participated in the third Health Tourism Forum, in the city of Matamoros, Tamaulipas. There, the leaders of the industry - including Sani - gave their forecast about the Medical Tourism in Mexico. Everyone that were there had the same goal: to offer the best service for the tourists that visit Mexico.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/travel-show/travelshow-06.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Civic Center Event</h3><small>January 18 - 2015</small>
				</div>
				<p>On Sunday, January 18, 2015 Sani Dental Group invites you to visit the city, celebrates the vibrant culture and gracious hospitality of Yuma, Az. Come for the food, the entertainment and the many prizes. The event begins early in the morning and admission is free. Once in the city our guest saw the love and appreciation the city feels for them, our beloved visitors.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/civic-center/civic-center-06.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">2015 Business Showcase</h3><small>January 8 - 2015</small>
				</div>
				<p>On Thursday, January 8, 2015 the city of Imperial Valley invited business to the Preble Building to exhibit and offer their services. Thousands of visitors travel to Imperial Valley and attended the 2015 Business Showcase, here the visitors receive information of the many services offer in the city and surrounding cities for example: Mexicali, Los Algodones and Yuma.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2015/health-care/health-care-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div><!-- 2015 Event -->
		<div id="2014-events" data-magellan-target="2014-events">
			<h2 class="text-pink">2014 Events</h2>
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Medical and Cultural Expo</h3><small>December 6 - 2014</small>
				</div>
				<p>Thousands and thousands of snowbirds and RVers witness the love and appreciation that El Centro feels for them, the Desert Trails RV Park and Golf Course open their doors and welcome their guest to the annual: Medical and Cultural Expo RV Desert Trails.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-12.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/medical-expo/medical-expo-13.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Los Algodones Welcome Party</h3><small>December 6 - 2014</small>
				</div>
				<p>The town of Los Algodones, Mexico wants to welcomed Canadian and American citizens to the town, Los Algodones. Once in the city our guest saw the love and appreciation the city feels for them, our beloved Snowbirds.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-12.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-13.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Dia de los Muertos</h3><small>November 8 - 2014</small>
				</div>
				<p>Sani Dental Group has been present in all mayor dental events and also all mayor cultural events celebrated in Los Algodones. One of these celebration is El Dia de los Muertos (Day of the Dead) during this cultural event Los Algodones hosted several activities. Tourist were able to witness part of Mexico tradition and were able to understand the importance of this tradition. Visitors saw many “Altares de Muertos” throughout the main streets of Los Algodones, in addition to Catrinas and several food stands.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/dia-muertos/dia-muertos-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Washington D.C.: World Medical Tourism & Global Healthcare Congress 2014</h3><small>September 21 - 23</small>
				</div>
				<p>The World Medical Tourism & Global Healthcare Congress (WMTC), is organized by the Medical Tourism Association (MTA) and in 2014, from Sunday 21st to Tuesday 23rd, Sani Dental Group had the opportunity to be part of this event in Washington D.C. at the Gaylord National Resort and Convention Center.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-09.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/mta/mta-12.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Los Algodones Food Festival</h3><small>April 26 - 2014</small>
				</div>
				<p>On April 26.2014 the city of Los Algodones had its first Food Festival; offering tourist sights, food, a dance contest and other entertainments. Sani Dental Group also participated on this event, offering free Margaritas, stingray tacos and the profesional customer service we are known to offered.
				<br/><br/>
				The attendants were able to feel both the city of Los Algodones and COTUCO love, hospitality and security. <a href="http://sanidentalgroup.com/blog/los-algodones-food-festival/" title="Los Algodones Food Festival">Read more about this event in our blog</a></p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-10.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-11.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-12.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-13.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-14.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-15.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-16.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-17.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-18.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/food-festival/food-festival-19.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div><!-- 2014 Event -->
		<div id="2013-events" data-magellan-target="2013-events">
			<h2 class="text-pink">2013 Events</h2>
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Los Algodones Winter Visitors Welcome Party</h3><small>December 2013</small>
				</div>
				<p>Every year Los Algodones thanks it’s winter visitors by throwing a big colorful party for everyone to enjoy; 2013 was not different , dental tourists from all over the world had the opportunity to enjoy music, Mexican food and of course the traditional Margaritas for free. As the most representative group among Los Algodones Dentists Sani Dental Group participated on this party, and we had as much fun as our winter visitors.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2014/welcome/welcome-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/sani-dental-group.png' %}" srcset="{% static 'img/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Vegas: World Medical Tourism & Global Healthcare Congress 2013</h3><small>November 3-6 - 2013</small>
				</div>
				<p>Sani Dental Group had the opportunity to be a member of the 6th World Medical Tourism & Global Healthcare Congress in Las Vegas, Nevada. The Congress is one of the largest events in the industry for healthcare providers, employers and insurance companies, as well as professionals in the healthcare development and investment, medical tourism, wellness and hospitality, travel insurance and medical technology industries. The principal objective of this Congress is to create good relationships between people fom all over the world, to provide a better service for the medical tourism.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/vegas-congress/vegas-congress-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-logo.jpg' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Mexico: Global Summit on Medical Tourism Business 2013</h3><small>October 16 - 18 - 2013</small>
				</div>
				<p>Sani Dental Group had the opportunity to be a member of the 6th World Medical Tourism & Global Healthcare Congress in Las Vegas, Nevada. The Congress is one of the largest events in the industry for healthcare providers, employers and insurance companies, as well as professionals in the healthcare development and investment, medical tourism, wellness and hospitality, travel insurance and medical technology industries. The principal objective of this Congress is to create good relationships between people fom all over the world, to provide a better service for the medical tourism.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/mexico-summit/mexico-summit-09.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/events/2013/implant-dentistry/harvard-logo.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Evidence - Based Implant Dentistry 2013</h3><small>Harvard April 23-28 - 2013</small>
				</div>
				<p>Principles of evidence-based clinical decision-making to the management of implant practices.<br />
				<b>Participants:</b> Dr. Enrique Jiménez, Dr. José Manuel Jiménez.<br />
				<b>Speakers:</b> Dr. Thomas Dodson, Dr. Sung-Kiang Chuang, Dr. Robert R Wright, Dr. Nadeem Karimbux, Dr. Mark Y Wang, Dr. Miguel Vidal, Dr. Samuel Lee, Dr. Gary Finelle, Dr. Sang J Lee.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/implant-dentistry/implant-dentistry-08.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
			<div class="row align-center align-middle">
				<div class="small-6 medium-3 columns">
					<img src="{% static 'img/events/2016/nobel-bio-care/nobel-logo.png' %}">
				</div>
				<div class="small-6 medium-9">
					<h3 class="text-aqua">Nobel BioCare Global Symposium 2013</h3><small>NY</small>
				</div>
				<p>Explorative seminar on the boundaries of science and learning in addressing the broad context of eficacious implant therapy for our patient's dental life journeys. The event took place at Waldorf Astoria New York. <br />
				<b>Participants:</b> Dr. Enrique Jiménez.</p>
			</div>
			<div class="row gallery-events">
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-01.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-02.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-03.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-04.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-05.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-06.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-07.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-08.jpg' %}">
				</div>
				<div class="small-6 medium-3">
					<img src="{% static 'img/events/2013/biocare/biocare-09.jpg' %}">
				</div>
				<div class="show-for-small-only go-back-list">
					<a href="#promotions-menu" title="Go Back To Menu">Go Back To Menu</a>
				</div>
			</div><!-- Gallery Event -->
		</div><!-- 2013 Event -->
	</div><!-- Events -->
</div><!-- Event Container -->
{% endblock%}