{% extends 'pages/page.html' %}
{% load staticfiles %}

{% block included_right_panel %}
	{% include 'includes/sidebar-contact.html' %}
{% endblock %}

{% block content %}
	<p>Sani Dental Group offers dental care for everyone at almost any budget.</p>

	<div class="facilities-block">
		<div class="facilities-img">
			<img src="{% static 'img/facilities/sani-alamo.jpg' %}" alt="sani dental group alamo">
			<div class="facilities-caption">
				<h2>SDG Alamo</h2>
			</div>
		</div>
		<h3 class="page-sub">Sani Dental Group Alamo</h3>
		<p>For most people, Sani Dental Group “Alamo”, main dental center in Los Algodones, is the perfect fit. A large dental clinic with more than 35 dentists and an on-site dental lab makes it clear why Sani Dental Group is the Best Value in Dental Care. When you want it all at a price you can afford, people in the “know” choose Sani Dental Group “Alamo”.</p>
		<div class="row facilities-gallery">
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-alamo-01.jpg' %}" alt="dental clinic in los algodones">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-alamo-02.jpg' %}" alt="los algodones best dentists">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-alamo-03.jpg' %}" alt="dental clinic in mexico">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-alamo-04.jpg' %}" alt="sani dental">
			</div>
		</div>
	</div><!-- Alamo -->

	<div class="facilities-block">
		<div class="facilities-img">
			<img src="{%static 'img/facilities/sani-platinum.jpg' %}" alt="sani dental group platinium">
			<div class="facilities-caption">
				<h2>SDG Platinum</h2>
			</div>
		</div>
		<h3 class="page-sub">Sani Dental Group Platinum</h3>
		<p>For those who want a little more personal and attentive personal care, in an upscale cutting edge environment, may find that Sani Dental Group “Platinum” offers the perfect blend of luxury and affordability. Sani’s newest facility offers a modern appeal, personal service and the outstanding dental care at surprisingly affordable prices.</p>
		<div class="row facilities-gallery">
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-platinum-01.jpg' %}" alt="sani dental group facilities">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-platinum-02.jpg' %}" alt="sani dental group dental chairs">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-platinum-03.jpg' %}" alt="sani dental group front desk">
			</div>
			<div class="small-6 medium-3">
				<img src="{% static 'img/facilities/sani-platinum-04.jpg' %}" alt="dental clinics">
			</div>
		</div>
	</div><!-- Platinum -->

{% endblock %}