{% load pages_tags mezzanine_tags sani_tags i18n staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<title>{% block meta_title %}{{ page.meta_title }}{% endblock %}</title>
	<link rel="canonical" href="https:{{ HOME_URL }}{{ request.path }}" />
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'landing.css' %}" />
</head>
<body id="promotors">

	<header class="navbar" role="header">
		<div class="row align-justify align-middle">
			<div class="small-4 medium-8 large-9 columns">
				<img src="{% static 'img/logos/sani-dental-group.png' %}" srcset="{% static 'img/logos/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
			</div>
			<div class="small-8 medium-4 large-3 columns">
				<a href="tel:8557264337" title="Get Immediate Assistance" class="phone">
					<span class="row align-middle">
						<span class="shrink">
							<img src="{% static 'img/landings/phone.png' %}" alt="{{ page.title }}">
						</span>
						<span class="column">
							<small>Get Immediate Assistance</small><br>
							<b>	(855)-726-4337</b>
						</span>
					</span>
				</a>
			</div>
		</div>
	</header><!-- .navbar -->

	<div class="jumbotron">
		<div class="row align-middle">
			<div class="small-8 columns">
				<h1>Save up to 70% <br><span>on your Dental Treatment and get your smile back!</span></h1>
			</div>
			<div class="small-4 columns">
				<img src="{% static 'img/landings/jody-robinson.jpg' %}" alt="" class="pic">
			</div>
		</div>
	</div><!-- .jumbotron -->

	<div class="row" role="container">
		<div class="small-12 medium-8 columns">
			<div class="content">
				<h3>Jody Robinson</h3>
				<p>Here in America, the concept of dental treatment immediately triggers fear coupled with ‘dental anxiety’ and ‘dental phobia’.  It’s not just from the physical pain or negative past experiences that puts us into dread, undeniably it’s the financial helplessness and loss of control we fear most when we develop a toothache.</p>
				<p>How would you like to change that? How would you like to take control of your Dental Care and finally live with complete Oral Health and experience Holistic well-being?</p>
				<p>You Can! You've heard about Dental vacations and leaving the USA to get your dental work done right?  You know it’s so much cheaper and most Americans that do go get great results, right?  So why haven't you done it yet? … Because it can be confusing, scary, and YOU HAVEN'T FOUND ME YET!</p>
				<p>I know it can be really confusing going into another country to get any work done. That's where I come in! I take the confusion and fear out of it.  No longer will you not know what to expect, where to go, how to get there, which dentists are really the specialists you need, who to trust etc...</p>
				<p>I will be with you like a guardian, I stay with you through the entire process ensuring that you get the BEST OVERALL PERSONAL CARE from start to finish. I make it easy for you to get your much needed dental work done and save the thousands of dollars that others have successfully done.  AND if you have insurance, get your max reimbursed to you!</p>
				<p>As your dental liaison:</p>
				<ul>
					<li>I make sure you fully understand the procedures and pricing BEFORE you get there. We determine your dental needs then choose the best specialists available while making sure you are getting the best prices for the work you need done.</li>
					<li>I will coordinate all your travel, lodging, and I accompany you throughout the entire process beginning from the airport and ending at the airport.</li>
					<li>I'll be at the same hotel and will schedule all your daily appointments, provide your transportation to and from your appointments, fill any prescriptions, and deliver meals...</li>
					<li>Basically I make sure you feel safe, secure and as physically comfortable as possible throughout the entire trip. This type of assistance is priceless, although my fees are minimal... Guaranteed!</li>
				</ul>
				<p>The Trips are monthly and I limit each trip to 3-4 people at a time, this allows my attention to be specifically focused on your needs. So call and reserve your spot!</p>
				<p>Don't wait, call me and together we can inexpensively and comfortably get the smile back into your life!</p>
				<ul class="no-bullet">
					<li>The Dental Liaison</li>
					<li>Jody Robinson</li>
					<li>Acworth, Georgia</li>
					<li><a href="tel:770-653-3832" title="The Dental Liaison">(770) 653-3832</a></li>
				</ul>
				
				<div class="prices">
					<h3>Our prices</h3>
					<div class="row collapse">
						<div class="small-12 medium-6 columns">
							<table>
								<tr>
									<td>Initial Examination / Consultation</td>
									<td>FREE</td>
								</tr>
								<tr>
									<td>Dental Crowns starting at</td>
									<td>$180</td>
								</tr>
								<tr>
									<td>Dentures starting at</td>
									<td>$250</td>
								</tr>
								<tr>
									<td>Titanium Dental Implant (implant only) starting at</td>
									<td>$750</td>
								</tr>
								<tr>
									<td>Implant Crown (including abutment) starting at</td>
									<td>$470</td>
								</tr>
								<tr>
									<td>Bone graft (per unit)</td>
									<td>$400</td>
								</tr>
							</table>
						</div>
						<div class="row show-for-small-only cta-middle text-center">
							<div class="small-12 medium-10 columns">
								<h3>Get the smile you deserve at a price you can pay</h3>
								<a href="#ctaInit" title="I Want An Estimate" class="btn-purple">I Want An Estimate</a>
							</div>
						</div><!-- .cta-middle -->
						<div class="small-12 medium-6 columns">
							<table>
								<tr>
									<td>Sinus Lifting starting at</td>
									<td>$700</td>
								</tr>
								<tr>
									<td>Root canal (any tooth)</td>
									<td>$220</td>
								</tr>
								<tr>
									<td>Extraction (simple)</td>
									<td>$48</td>
								</tr>
								<tr>
									<td>Deep Cleaning, Scaling & Root Planing (per quadrant)</td>
									<td>$60</td>
								</tr>
								<tr>
									<td>LANAP (per quadrant)<br><br></td>
									<td>$150</td>
								</tr>
								<tr>
									<td>Teeth Whitening, starting at</td>
									<td>$170</td>
								</tr>
							</table>
						</div>
					</div>
				</div><!-- .prices -->
				
				<div class="payment">
					<div class="row align-middle">
						<div class="small-8 columns">
							<h3>Payment Methods</h3>
							<p>We accept different payment methods: credit & debit cards (with a 4% fee), personal checks, traveler’s checks, wire transfers, and cash. You can also apply for the financing options we offer so you can pay for your dental treatment in the most convenient way.</p>
						</div>
						<div class="small-4 columns">
							<img src="{% static 'img/landings/payment.png' %}" alt="">
						</div>
					</div>
				</div><!-- .payment -->

			</div><!-- .content -->
		</div>
		<div class="small-12 medium-4 columns">
			<aside class="sidebar" id="ctaInit">
				<h2 class="title text-center">Contact us now and get a Free Quote</h2>
				<form class="form-generic" action="{% url 'landing-list' %}" method="post" data-abide novalidate>
					{% csrf_token %}
					<label for="url" class="hide">
						<input autocomplete="off" type="text" id="url" name="url">
					</label>
					<input type="hidden" id="field_utm_landing" name="field_utm_landing" value="">
					<input type="hidden" name="origin" value="Jody Robinson Promotor">
					<div class="row">
						<div class="small-12 columns">
							<label for="">Full name <span class="required">*</span></label>
							<input type="text" name="name" required pattern="[a-zA-Z]+">
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Email <span class="required">*</span></label>
							<input type="email" name="email" required>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Contact Number</label>
							<input type="tel" name="phone">
						</div>
						<div class="small-12 columns">
							<label>Your Message <span class="required">*</span></label>
							<textarea name="message" cols="30" rows="4" required></textarea>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<p><small>By clicking on "Send Mail" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</small></p>
						</div>
						<div class="small-12 columns medium-text-right text-center">
							<button type="submit" class="btn-pink">Send Mail</button>
						</div>
					</div>
				</form>
			</aside><!-- .sidebar -->
		</div>
	</div>
	
	<div class="review">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="responsive-embed widescreen">
					<iframe width="560" height="315" src="//www.youtube.com/embed/2hmPk6AQwbQ?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="review-content">
					<div class="review-info" itemscope="" itemtype="http://schema.org/Review">
						<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<span class="name" itemprop="name"><strong>Ernest Randolph</strong></span> 
							<small>
								<span class="place">Phoenix, AZ, USA / 
								<meta itemprop="datePublished" content="17-08-2015"> 17 Aug 2015</span>
							</small>
						</div>
						<div class="review-rating">
							<div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
								<span class="score" itemprop="name">Overall Score</span>
							</div>
							<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
								<div class="star-holder">
									<span class="star-rating" itemprop="ratingValue" style="width: 100px">5</span>
									<!-- <span itemprop="bestRating">5</span> -->
								</div>
							</div>
						</div>
					</div>
					<p>My wife and I had appointments at the same time. The office personnel and dentist were very helpful in keeping our appointments timed together. The service of both the office staff and the dentist was EXCELLENT. We were well informed of the procedures, the cost the post procedure care - the best of any dental office that has served us. The facility is very clean, the staff is pleasant and personable, the dentists are very efficient. We are extremely pleased with the complete process - neither of us had been to a dentist in years.</p>
				</div>
			</div>
		</div>
	</div><!-- .review -->

	<footer>
		<div class="row align-middle align-center">
			<div class="small-12 medium-6 columns">
				<p class="text-center">&copy;  1985 - {% now "Y" %} Sani Dental Group</p>
			</div>
		</div>
	</footer>
	
	<script src="{% static 'landing.js' %}"></script>
	{% if not debug %}
	<!-- Analitycs -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-37592575-1', 'auto');
	ga('send', 'pageview');
	</script>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK9D26"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PK9D26');</script>
	<!-- End Google Tag Manager -->
	{% endif %}
</body>
</html>