{% load pages_tags mezzanine_tags sani_tags i18n staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<title>{% block meta_title %}{{ page.meta_title }}{% endblock %}</title>
	<link rel="canonical" href="https:{{ HOME_URL }}{{ request.path }}" />
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'landing.css' %}" />
</head>
<body id="promotors">

	<header class="navbar" role="header">
		<div class="row align-justify align-middle">
			<div class="small-4 medium-8 large-9 columns">
				<img src="{% static 'img/logos/sani-dental-group.png' %}" srcset="{% static 'img/logos/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
			</div>
			<div class="small-8 medium-4 large-3 columns">
				<a href="tel:8557264337" title="Get Immediate Assistance" class="phone">
					<span class="row align-middle">
						<span class="shrink">
							<img src="{% static 'img/landings/phone.png' %}" alt="{{ page.title }}">
						</span>
						<span class="column">
							<small>Get Immediate Assistance</small><br>
							<b>	(855)-726-4337</b>
						</span>
					</span>
				</a>
			</div>
		</div>
	</header><!-- .navbar -->

	<div class="jumbotron">
		<div class="row align-middle">
			<div class="small-8 columns">
				<h1>Save up to 70% <br><span>on dental implants by visiting Los Algodones, Mexico</span></h1>
			</div>
			<div class="small-4 columns">
				<img src="{% static 'img/landings/larry-linda.jpg' %}" alt="" class="pic">
			</div>
		</div>
	</div><!-- .jumbotron -->

	<div class="row" role="container">
		<div class="small-12 medium-8 columns">
			<div class="content">
				<h3>Larry and Linda Bachel</h3>
				<p>Located in Baja California, Mexico, Los Algodones is a small town known to be the capital of dental tourism. If you’re looking for high-quality dental care at affordable prices, Sani Dental Group is your best option. With more than 35 years of experience and 3 clinics in town, they will give you the smile you’ve been dreaming of.</p>
				<p>If you’d like to know more about Sani Dental Group, please call us for detailed information about their treatments and the entire experience they have prepared for you.</p>
				<ul class="no-bullet">
					<li>L&amp;L Promotors</li>
					<li>Larry &amp; Linda Bachel</li>
					<li>Tucson, AZ</li>
					<li><a href="tel:520395-2620" title="L&amp;L Promotors">(520) 395-2620</a></li>
				</ul>
				
				<div class="prices">
					<h3>Our prices</h3>
					<div class="row collapse">
						<div class="small-12 medium-6 columns">
							<table>
								<tr>
									<td>Initial Examination / Consultation</td>
									<td>FREE</td>
								</tr>
								<tr>
									<td>Dental Crowns starting at</td>
									<td>$180</td>
								</tr>
								<tr>
									<td>Dentures starting at</td>
									<td>$250</td>
								</tr>
								<tr>
									<td>Titanium Dental Implant (implant only) starting at</td>
									<td>$750</td>
								</tr>
								<tr>
									<td>Implant Crown (including abutment) starting at</td>
									<td>$470</td>
								</tr>
								<tr>
									<td>Bone graft (per unit)</td>
									<td>$400</td>
								</tr>
							</table>
						</div>
						<div class="row show-for-small-only cta-middle text-center">
							<div class="small-12 medium-10 columns">
								<h3>Get the smile you deserve at a price you can pay</h3>
								<a href="#ctaInit" title="I Want An Estimate" class="btn-purple">I Want An Estimate</a>
							</div>
						</div><!-- .cta-middle -->
						<div class="small-12 medium-6 columns">
							<table>
								<tr>
									<td>Sinus Lifting starting at</td>
									<td>$700</td>
								</tr>
								<tr>
									<td>Root canal (any tooth)</td>
									<td>$220</td>
								</tr>
								<tr>
									<td>Extraction (simple)</td>
									<td>$48</td>
								</tr>
								<tr>
									<td>Deep Cleaning, Scaling & Root Planing (per quadrant)</td>
									<td>$60</td>
								</tr>
								<tr>
									<td>LANAP (per quadrant)<br><br></td>
									<td>$150</td>
								</tr>
								<tr>
									<td>Teeth Whitening, starting at</td>
									<td>$170</td>
								</tr>
							</table>
						</div>
					</div>
				</div><!-- .prices -->

				<h3>We Make Everything Easier for You</h3>
				<p>Sani Dental Group offers you a complete package, whether your customers need a minor oral surgery or a full mouth reconstruction, our dental clinics have everything you need at your disposal, like:</p>
				
				<div class="icons">
					<div class="row small-up-3 align-center text-center">
						<div class="column">
							<img src="{% static 'img/landings/ico-lodging.png' %}" alt="">
							<h4>Lodging</h4>
							<p>Discounts at hotel Hacienda Los Algodones plus at several hotels in Yuma, Az.</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/ico-shuttle.png' %}" alt="">
							<h4>Shuttle service</h4>
							<p>Complimentary transportation to/from the Yuma Airport, US border, and clinics.</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/ico-callcenter.png' %}" alt="">
							<h4>Call center</h4>
							<p>Team of Patient Coordinators ready to assist you.</p>
						</div>
					</div>
				</div><!-- .icons -->
				
				<div class="payment">
					<div class="row align-middle">
						<div class="small-8 columns">
							<h3>Payment Methods</h3>
							<p>We accept different payment methods: credit & debit cards (with a 4% fee), personal checks, traveler’s checks, wire transfers, and cash. You can also apply for the financing options we offer so you can pay for your dental treatment in the most convenient way.</p>
						</div>
						<div class="small-4 columns">
							<img src="{% static 'img/landings/payment.png' %}" alt="">
						</div>
					</div>
				</div><!-- .payment -->

			</div><!-- .content -->
		</div>
		<div class="small-12 medium-4 columns">
			<aside class="sidebar" id="ctaInit">
				<h2 class="title text-center">Contact us now and get a Free Quote</h2>
				<form class="form-generic" action="{% url 'landing-list' %}" method="post" data-abide novalidate>
					{% csrf_token %}
					<label for="url" class="hide">
						<input autocomplete="off" type="text" id="url" name="url">
					</label>
					<input type="hidden" id="field_utm_landing" name="field_utm_landing" value="">
					<input type="hidden" name="origin" value="L&L Promotors">
					<div class="row">
						<div class="small-12 columns">
							<label for="">Full name <span class="required">*</span></label>
							<input type="text" name="name" required pattern="[a-zA-Z]+">
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Email <span class="required">*</span></label>
							<input type="email" name="email" required>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Contact Number</label>
							<input type="tel" name="phone">
						</div>
						<div class="small-12 columns">
							<label>Your Message <span class="required">*</span></label>
							<textarea name="message" cols="30" rows="4" required></textarea>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<p><small>By clicking on "Send Mail" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</small></p>
						</div>
						<div class="small-12 columns medium-text-right text-center">
							<button type="submit" class="btn-pink">Send Mail</button>
						</div>
					</div>
				</form>
			</aside><!-- .sidebar -->
		</div>
	</div>
	
	<div class="review">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="responsive-embed widescreen">
					<iframe width="560" height="315" src="//www.youtube.com/embed/2hmPk6AQwbQ?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="review-content">
					<div class="review-info" itemscope="" itemtype="http://schema.org/Review">
						<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<span class="name" itemprop="name"><strong>Ernest Randolph</strong></span> 
							<small>
								<span class="place">Phoenix, AZ, USA / 
								<meta itemprop="datePublished" content="17-08-2015"> 17 Aug 2015</span>
							</small>
						</div>
						<div class="review-rating">
							<div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
								<span class="score" itemprop="name">Overall Score</span>
							</div>
							<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
								<div class="star-holder">
									<span class="star-rating" itemprop="ratingValue" style="width: 100px">5</span>
									<!-- <span itemprop="bestRating">5</span> -->
								</div>
							</div>
						</div>
					</div>
					<p>My wife and I had appointments at the same time. The office personnel and dentist were very helpful in keeping our appointments timed together. The service of both the office staff and the dentist was EXCELLENT. We were well informed of the procedures, the cost the post procedure care - the best of any dental office that has served us. The facility is very clean, the staff is pleasant and personable, the dentists are very efficient. We are extremely pleased with the complete process - neither of us had been to a dentist in years.</p>
				</div>
			</div>
		</div>
	</div><!-- .review -->

	<footer>
		<div class="row align-middle align-center">
			<div class="small-12 medium-6 columns">
				<p class="text-center">&copy;  1985 - {% now "Y" %} Sani Dental Group</p>
			</div>
		</div>
	</footer>
	
	<script src="{% static 'landing.js' %}"></script>
	{% if not debug %}
	<!-- Analitycs -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-37592575-1', 'auto');
	ga('send', 'pageview');
	</script>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK9D26"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PK9D26');</script>
	<!-- End Google Tag Manager -->
	{% endif %}
</body>
</html>