{% load pages_tags mezzanine_tags sani_tags i18n staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <title>{% block meta_title %}{{ page.meta_title }}{% endblock %}</title>
  <link rel="canonical" href="https:{{ HOME_URL }}{{ request.path }}" />
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'newlanding.css' %}" >
</head>
<body>

  <main id="app">

    <div class="section is-cover is-cover--la">
      <div class="container">
        <div class="columns is-vcentered">

          <div class="column is-5 is-offset-2 has-text-centered">
            <div class="columns is-multiline is-mobile">
              <div class="column is-12">
                <img 
                  src="{% static 'img/landings/2019/sani-dental-group.png' %}" 
                  alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
              </div>
              <div class="column is-12">
                <h1 class="is-cover__title">
                  <span>Save up to 70%</span> on dental implants by visiting Los Algodones, Mexico
                </h1>
              </div>
            </div>


            <div class="columns is-hidden-mobile">
              <div class="column is-3">
                <img 
                  src="{% static 'img/landings/2019/GCR.png' %}" 
                  alt="Sani Dental Group BBB Certification">
              </div>
              <div class="column is-3">
                <img 
                  src="{% static 'img/landings/2019/BBB.png' %}" 
                  alt="Sani Dental Group ADA Certification">
              </div>
              <div class="column is-3">
                <img 
                  src="{% static 'img/landings/2019/ADA.png' %}" 
                  alt="Sani Dental Group ADA Certification">
              </div>
              <div class="column is-3">
                <img 
                  src="{% static 'img/landings/2019/1985.png' %}" 
                  alt="Sani Dental Group Since 1985">
              </div>
            </div>

          </div>

          <div class="column is-4 is-offset-1">
            <div class="columns is-multiline is-centered">
              <div class="column is-full">
                <a href="tel:+19282571307" class="contact-phone">
                  <span class="columns is-vcentered is-gapless is-mobile">
                    <span class="column">
                      <img src="{% static 'img/landings/2019/phone.png' %}" alt="{{ page.title }}">
                    </span>
                    <span class="column is-four-fifths">
                      <small>Get Immediate Assistance</small><br>
                      <b> (928)-257-1307</b>
                    </span>
                  </span>
                </a>
              </div>
              <div class="column is-full contact-form contact-form--la">
                <h2 class="contact-form__title has-text-centered is-uppercase is-hidden-mobile">CONTACT US NOW AND GET AN ESTIMATE</h2>
                <div class="notification is-danger"
                     v-if="submitStatus === 'ERROR'">
                  Please fill the form correctly.
                </div>
                <div class="notification is-success"
                     v-if="submitStatus === 'OK'">
                  Thanks for your submission!
                </div>
                <form @submit.prevent="submit" novalidate>
                  <input type="hidden" value="Los Algodones Dentists" ref="source">
                  <input type="hidden" 
                         name="field_utm_landing" 
                         value="" 
                         ref="utm">
                  <div class="field">
                    <label class="label">Full Name</label>
                    <div class="control">
                      <input class="input" 
                             :class="{ 'is-danger': $v.formData.name.$error }" 
                             type="text"
                             v-model.trim="$v.formData.name.$model">
                    </div>
                    <p class="help is-danger" 
                       :class="{ 'is-hidden': !$v.formData.name.$error }"
                       v-if="!$v.formData.name.required">This Full Name field is required.</p>
                    <p class="help is-danger" 
                       :class="{ 'is-hidden': !$v.formData.name.$error }"
                       v-if="!$v.formData.name.minLength">Name must have at least ${$v.formData.name.$params.minLength.min} letters.</p>
                  </div>
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" 
                             :class="{ 'is-danger': $v.formData.email.$error }" 
                             type="text"
                             v-model.trim="$v.formData.email.$model">
                    </div>
                    <p class="help is-danger" 
                       :class="{ 'is-hidden': !$v.formData.email.$error }"
                       v-if="!$v.formData.email.required">The Email field is required.</p>
                    <p class="help is-danger" 
                       :class="{ 'is-hidden': !$v.formData.email.$error }"
                       v-if="!$v.formData.email.email">The Email field is invalid.</p>
                  </div>
                  <div class="field">
                    <label class="label">Contact number</label>
                    <div class="control">
                      <input class="input" type="tel" v-model="formData.phone">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label" for="message">Your message</label>
                    <div class="control">
                      <textarea id="message" 
                                cols="30" 
                                rows="5" 
                                class="textarea"
                                :class="{ 'is-danger': $v.formData.message.$error }" 
                                v-model.trim="$v.formData.message.$model"></textarea>
                      <p class="help is-danger" 
                         :class="{ 'is-hidden': !$v.formData.message.$error }"
                         v-if="!$v.formData.message.required">The Message field is required.</p>
                      <p class="help is-danger" 
                         :class="{ 'is-hidden': !$v.formData.message.$error }"
                         v-if="!$v.formData.message.minLength">Name must have at least ${$v.formData.message.$params.minLength.min} letters.</p>
                    </div>
                  </div>
                  <div class="field">
                    <p>
                      <small>By clicking on "Send Mail" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank" class="contact-form__link">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank" class="contact-form__link">Privacy Policy</a>.</small>
                    </p>
                  </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" 
                              class="button is-pink is-medium" 
                              :class="{ 'is-loading' : submitStatus === 'PENDING' }"
                              :disabled="submitStatus === 'PENDING'">Send Mail</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- .is-cover -->

    <div class="section is-offer is-offer--la">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-three-fifths has-text-centered">
            <h3 class="title has-text-purple is-hidden-mobile">At Sani Dental Group, we'll take care of <strong class="is-size-1">everything you need</strong></h3>
            <h3 class="title is-hidden-tablet has-text-purple is-offer__title--mobile">Everything you need</h3>
          </div>
          <div class="column is-two-fifths has-text-purple is-offer__icons">
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <img src="{% static 'img/landings/2019/shuttle.png' %}" alt="">
              </div>
              <div class="column is-four-fifths">
                <p>Shuttle service from the Yuma Airport and the border to our clinics and hotel.</p>
              </div>
            </div>
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <img src="{% static 'img/landings/2019/lodging.png' %}" alt="">
              </div>
              <div class="column is-four-fifths">
                <p>Enjoy complimentary nights at Cielito Lindo and Hacienda Los Algodones. *When you spend over $1,000 USD</p>
              </div>
            </div>
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <img src="{% static 'img/landings/2019/doctors.png' %}" alt="">
              </div>
              <div class="column is-four-fifths">
                <p>A team of 30+ dentists specialized on the highest-quality universities</p>
              </div>
            </div>
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <img src="{% static 'img/landings/2019/warranty.png' %}" alt="">
              </div>
              <div class="column is-four-fifths">
                <p>Up to 5 years warranty on our dental procedures</p>
              </div>
            </div>
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                <img src="{% static 'img/landings/2019/call-center.png' %}" alt="">
              </div>
              <div class="column is-four-fifths">
                <p>Our patient coordinator are more than happy to solve all your questions and concerns</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .is-offer -->

    <div class="section is-prices">
      <div class="container">
        <div class="columns">
          <div class="column is-full">
            <h3 class="title is-size-4 has-text-purple has-text-centered is-hidden-mobile">Trust us, there's no better way to get dental work <br><span class="is-size-1">in Mexico that Sani Dental Group</span></h3>
            <h3 class="title is-hidden-tablet has-text-purple">Our Prices</h3>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <table class="table is-striped is-fullwidth">
              <tbody>
                <tr v-for="treatment in treatments.slice(0,6)" :key="treatment.id">
                  <td>${ treatment.name }</td>
                  <td><span v-if="treatment.price.toLowerCase() !== 'free'">$</span>${ treatment.price }</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="column">
            <table class="table is-striped is-fullwidth">
              <tbody>
                <tr v-for="treatment in treatments.slice(6,12)" :key="treatment.id">
                  <td>${ treatment.name }</td>
                  <td><span v-if="treatment.price.toLowerCase() !== 'free'">$</span>${ treatment.price }</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- .is-prices -->

    <div class="section is-reviews">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="video-container">
              <iframe width="100%" height="auto" src="//www.youtube.com/embed/aRrHtbI4hP4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="column">
            <div class="review" itemscope="" itemtype="http://schema.org/Review">
              <div class="review__info" itemscope="" itemtype="http://schema.org/Review">
                <div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                  <strong class="has-text-purple" itemprop="name">Catherine Bilsky</strong>
                  <small class="has-text-grey">
                    <span>-</span>
                    <span>Hawaii, United States</span>
                    <span class="is-hidden-mobile">/</span>
                    <span class="is-hidden-mobile"><meta itemprop="datePublished" content="23-08-2015"> 23 Apr 2018</span>
                  </small>
                </div>
              </div>
              <div class="review__rating">
                <div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
                  <span itemprop="name">Overall Score</span>
                </div>
                <div class="rating" itemprop="ratingValue">
                  <span class="rating__star has-background-warning"></span>
                  <span class="rating__star has-background-warning"></span>
                  <span class="rating__star has-background-warning"></span>
                  <span class="rating__star has-background-warning"></span>
                  <span class="rating__star has-background-warning"></span>
                </div>
              </div>
              <p itemscope="" itemtype="http://schema.org/Text">It was affordable, I did a lot of work and research before I came down here.You know the United States they have cleared you when they want to charge you $56 000 dollars to get your teeth done, and I thought that was a little excessive so I had to look over and for me it’s like Mexico seemed like a better place to go to, I did a lot of checking around, a lot of the dentistry I liked Algodones, because it’s the holder capital of the world it’s where all the dentist start, and after I did all my research, I found out that Sani Dental was the most professional; they called me back, they answered all my questions, they’ve worked with me on everything I needed and Oh my god! I need the work. Twenty crowns, three pull teeth, two root canals, a denture, and of course you know you get the x-rays. I’m so happy, I mean, see my teeth, I can smile again.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <script src="{% static 'newlanding.js' %}"></script>
  {% if not debug %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37592575-1', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK9D26"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PK9D26');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</body>
</html>
