{% load pages_tags mezzanine_tags sani_tags i18n staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="UTF-8">
	<title>{% block meta_title %}{{ page.meta_title }}{% endblock %}</title>
	<link rel="canonical" href="https:{{ HOME_URL }}{{ request.path }}" />
	<meta name="description" content="{{ page.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'landing.css' %}" />
</head>
<body id="landing">

	<header class="navbar" role="header">
		<div class="row align-justify align-middle">
			<div class="small-4 medium-8 large-9 columns">
				<img src="{% static 'img/logos/sani-dental-group.png' %}" srcset="{% static 'img/logos/sani-dental-group.png' %} 1x, {% static 'img/logos/sani-dental-group_2x.png' %} 2x" alt="Sani Dental Group Best Dentists in Los Algodones Mexico">
			</div>
			<div class="small-8 medium-4 large-3 columns">
				<a href="tel:8557264337" title="Get Immediate Assistance" class="phone">
					<span class="row align-middle">
						<span class="shrink">
							<img src="{% static 'img/landings/phone.png' %}" alt="{{ page.title }}">
						</span>
						<span class="column">
							<small>Get Immediate Assistance</small><br>
							<b>	(855)-726-4337</b>
						</span>
					</span>
				</a>
			</div>
		</div>
	</header><!-- .navbar -->

	<div class="jumbotron">
		<div class="row align-middle">
			<div class="small-12 columns">
				<h1>Don't let Dentures<br><span>be your last option</span></h1>
			</div>
		</div>
	</div><!-- .jumbotron -->

	<div class="row" role="container">
		<div class="small-12 medium-8 columns">
			<div class="content">
				<h3>Stop Searching, Your Best Option is Here</h3>
				<p>Dental implants have helped thousands of people to recover their smile, and their many advantages have inspired people to improve their looks and lifestyle.</p>
				<p>These implants are anchored in the upper jawbone, which is close to the dense zygoma bone (cheek bone). Zygomatic Implants are much longer in comparison with traditional implants, which are drilled directly into the jawbone.</p>
				<p>They take the anchorage from the zygoma bone, which is denser in quality and more cortical in nature than posterior maxillary bone, and is found in the back part of the upper jaw.</p>
				<p>One of the main goals of these type of Zygomatic dental implants is to provide a secure foundation for people with deteriorated jaws who have not been able to get traditional dental implants.</p>
				
				<div class="icons">
					<div class="row small-up-2 medium-up-5 collapse align-center text-center">
						<div class="column">
							<img src="{% static 'img/landings/ico-doctors.png' %}" alt="">
							<p>Doctors with different specialities</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/ico-lodging.png' %}" alt="">
							<p>Lodging</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/ico-shuttle.png' %}" alt="">
							<p>Shuttle service</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/ico-callcenter.png' %}" alt="">
							<p>Call center</p>
						</div>
						<div class="column">
							<img src="{% static 'img/landings/five-year-warranty.png' %}" alt="">
							<p>Up to 5 year warranty</p>
						</div>
					</div>
				</div><!-- .icons -->
				
				<div class="review-content">
					<div class="review-info" itemscope="" itemtype="http://schema.org/Review">
						<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<span class="name" itemprop="name"><strong>Jeff Putnam</strong></span> 
							<small>
								<span class="place">Texas, USA 
							</small>
						</div>
						<div class="review-rating">
							<div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
								<span class="score" itemprop="name">Overall Score</span>
							</div>
							<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
								<div class="star-holder">
									<span class="star-rating" itemprop="ratingValue" style="width: 100px">5</span>
									<!-- <span itemprop="bestRating">5</span> -->
								</div>
							</div>
						</div>
					</div>
					<p>They gave me a new mouth, which was <b>exactly what i wanted.</b></p>
				</div>

				<div class="review-content">
					<div class="review-info" itemscope="" itemtype="http://schema.org/Review">
						<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<span class="name" itemprop="name"><strong>Terry McBride</strong></span> 
							<small>
								<span class="place">Arizona, USA 
							</small>
						</div>
						<div class="review-rating">
							<div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
								<span class="score" itemprop="name">Overall Score</span>
							</div>
							<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
								<div class="star-holder">
									<span class="star-rating" itemprop="ratingValue" style="width: 100px">5</span>
									<!-- <span itemprop="bestRating">5</span> -->
								</div>
							</div>
						</div>
					</div>
					<p>The whole thing for my whole mouth was <b>under 9,000 dollars</b>. Up in the States, I would have had to mortgage my home.</p>
				</div>

				<div class="review-content">
					<div class="review-info" itemscope="" itemtype="http://schema.org/Review">
						<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
							<span class="name" itemprop="name"><strong>Terri Hastings</strong></span> 
							<small>
								<span class="place">California, USA 
							</small>
						</div>
						<div class="review-rating">
							<div itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Thing">
								<span class="score" itemprop="name">Overall Score</span>
							</div>
							<div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
								<div class="star-holder">
									<span class="star-rating" itemprop="ratingValue" style="width: 100px">5</span>
									<!-- <span itemprop="bestRating">5</span> -->
								</div>
							</div>
						</div>
					</div>
					<p>I still can't believe that i have a <b>brand new smile</b>, I haven't smiled in so long.</p>
				</div>

			</div><!-- .content -->
		</div>
		<div class="small-12 medium-4 columns">
			<aside class="sidebar" id="ctaInit">
				<h2 class="title text-center">Our team of patient coordinators will help you set your appointment</h2>
				<form class="form-generic" action="{% url 'landing-list' %}" method="post" data-abide novalidate>
					{% csrf_token %}
					<label for="url" class="hide">
						<input autocomplete="off" type="text" id="url" name="url">
					</label>
					<input type="hidden" id="field_utm_landing" name="field_utm_landing" value="">
					<input type="hidden" name="origin" value="Contact from Landing Zygomatic Implants">
					<div class="row">
						<div class="small-12 columns">
							<label for="">Full name <span class="required">*</span></label>
							<input type="text" name="name" required pattern="[a-zA-Z]+">
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Email <span class="required">*</span></label>
							<input type="text" name="email" required>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<label for="">Contact Number</label>
							<input type="tel" name="phone">
						</div>
						<div class="small-12 columns">
							<label>Your Message <span class="required">*</span></label>
							<textarea name="message" cols="30" rows="4" required></textarea>
							<small class="form-error">This field is required.</small>
						</div>
						<div class="small-12 columns">
							<p><small>By clicking on "Send Mail" you are confirming that you have read, understood, and accept the <a href="/terms-and-conditions/" title="Terms and Conditions" target="_blank">Terms and Conditions</a> and the <a href="/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>.</small></p>
						</div>
						<div class="small-12 columns medium-text-right text-center">
							<button type="submit" class="btn-pink">Send Mail</button>
						</div>
					</div>
				</form>
			</aside><!-- .sidebar -->
		</div>
	</div>

	<footer style="margin-top: 3rem;">
		<div class="row align-middle">
			<div class="small-12 medium-6 columns">
				<p class="text-center medium-text-left">&copy;  1985 - {% now "Y" %} Sani Dental Group</p>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="social-icons text-center medium-text-right">
					<a href="//facebook.com/sanidentalmexico" title="Facebook">
						<img src="{% static 'img/icons/facebook.svg' %}">
					</a>
					<a href="//twitter.com/SaniDentalGroup" title="Twitter">
						<img src="{% static 'img/icons/twitter.svg' %}">
					</a>
					<a href="//www.youtube.com/sanidentalgroup" title="Youtube">
						<img src="{% static 'img/icons/youtube.svg' %}">
					</a>
					<a href="//plus.google.com/102206110701134622150" title="Google">
						<img src="{% static 'img/icons/google-plus.svg' %}">
					</a>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="{% static 'landing.js' %}"></script>
	{% if not debug %}
	<!-- Analitycs -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-37592575-1', 'auto');
	ga('send', 'pageview');
	</script>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK9D26"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PK9D26');</script>
	<!-- End Google Tag Manager -->
	{% endif%}
</body>
</html>