//
// Before and After
// --------------------------------------------------

.ba-list{
	a{
		color: $brand-dark-blue;
		&:hover,
		&:focus{
			color: $brand-blue;
		}
	}
}

.ba-pics{
	margin-bottom: rem-calc(50);
	p{
		font-size: 125%;
		width: 100%; 
		text-align: center;
		padding: rem-calc(8 15);
		background-color: $brand-dark-blue;
		color: $white;
		margin-bottom: 0;
	}
	img{
		margin-bottom: rem-calc(20);
	}
}

.ba-content{
	.lead{
  	font-weight: bold;
  	margin-bottom: 0;
	}
	small{
		color: $dark-gray;
	}
}