//
// Blog
// --------------------------------------------------

.blog-post{
	margin-bottom: rem-calc(32);
	figure{
		margin-bottom: rem-calc(16);
		a{
			display: block;
		}
	}
	h2{
		a{
			color: $brand-dark-blue;
		}
	}
	.byline{
		color: $dark-gray;
		font-size: rem-calc(13);
	}

	.article-content{
		margin-bottom: rem-calc(34);
	}

	.author{
		text-align: center;
		color: $dark-gray;
		margin-bottom: rem-calc(20);
		.thumbnail{
			border-radius: 50%;
		}
	}

}

//Medium
@media screen and #{breakpoint(medium)} {
	.blog-post{
		h1,
		h2{
			font-size: rem-calc(28);
		}
		.author{
			text-align: left;
		}
	}
}