//
// Clinical Cases
// --------------------------------------------------

$clinical-case-link: $brand-dark-blue;

.clinical-case-list{
	img{
		border-radius: 50%;
	}
	.lead{
		margin-bottom: 0;
		> a{
			color: $clinical-case-link;
		}
	}
}

.treatments-list{
	@include leftborder(3, $brand-aqua, 10);
}

.cover-clinical{
	background-image: url('../img/covers/base-bg.jpg');
	background-position: center 40%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	// min-height: 10vh;
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(-28);
	padding: rem-calc(15);
	margin-left: rem-calc(-15);
	margin-right: rem-calc(-15);
	.caption-clinical-cases{
		color: $white;
		line-height: 1;
		margin-bottom: 0;
		text-align: center;
		span:nth-child(1){
			font-size: rem-calc(18);
		}
		span:nth-child(2){
			font-size: rem-calc(30);
			font-style: italic;
			font-weight: bold;
		}
		span:nth-child(3){
			font-size: rem-calc(13);
		}
		span:nth-child(4){
			font-size: rem-calc(15);
			font-weight: bold;
		}
	}	
	img{
		border: rem-calc(4) solid $brand-aqua ;
		border-radius: 50%;
	}
}

.clinical-case-content{
	margin-bottom: rem-calc(50);
	.lead{
  	font-weight: bold;
  	margin-bottom: 0;
	}
	small{
		color: $dark-gray;
	}
}

// Medium
@media screen and #{breakpoint(medium)} {
	.cover-clinical{
		margin-left: -10.66667%;
		margin-right: -10.66667%;
  	.caption-clinical-cases{
  		span:nth-child(1){
				font-size: rem-calc(40);
			}
			span:nth-child(2){
				font-size: rem-calc(90);
				font-style: italic;
			}
			span:nth-child(3){
				font-size: rem-calc(30);
			}
			span:nth-child(4){
				font-size: rem-calc(28);
			}
  	}
  	img{
  		border-width: rem-calc(7);
  	}
	}
}


// large
@media screen and #{breakpoint(xxlarge)} {
	.cover-clinical{
		margin-left: -10.66667%;
		margin-right: -25.66667%;
  	.caption-clinical-cases{
  		padding-left: rem-calc(60);
  		span:nth-child(1){
				font-size: rem-calc(40);
			}
			span:nth-child(2){
				font-size: rem-calc(90);
				font-style: italic;
			}
			span:nth-child(3){
				font-size: rem-calc(30);
			}
			span:nth-child(4){
				font-size: rem-calc(28);
			}
  	}
  	img{
  		border-width: rem-calc(7);
  	}
	}
}