//
// Doctors
// --------------------------------------------------

.doctors-info{
	margin-bottom: rem-calc(28);
	border-bottom: 1px solid $global-border-color;
	padding-top: rem-calc(24);
  padding-bottom: rem-calc(24);
	.doctor-img{
		border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 2px;
    margin-bottom: rem-calc(15);
    width: 100%;
	}
	h3{
		margin-bottom: 0;
	}
	a{
		color: $brand-dark-blue;
		&:hover,
		&:focus{
			color: scale-color($brand-dark-blue, $lightness: 14%)
		}
	}
	p{
		color: $dark-gray;
	}
	.gallery-credentials{
		margin: rem-calc(15 0 0);
	}
}

.credentials{
	img{
		padding-bottom: rem-calc(15);
	}
}

//Medium
@media screen and #{breakpoint(medium)} {
	.credentials{
		h3{
			font-size: rem-calc(20);
		}
	}
}