// Events
///////////////////////

.event-container{
	margin: rem-calc(20 0);
	p{
		margin: rem-calc(15 0);
	}
}

.gallery-events,
.events-menu{
	margin-bottom: rem-calc(30);
	padding-bottom: rem-calc(30);
}

.gallery-events{
	border-bottom: 1px solid $global-border-color;
	.go-back-list{
		padding-top: rem-calc(20);
		a{
			color: $dark-gray;
		}
	}
}