// Facilities
///////////////////////

.facilities-block{
	margin-bottom: rem-calc(30);
	border-bottom: 1px solid $global-border-color;
	padding-bottom: rem-calc(28);
	.facilities-img{
		position:relative;
		margin-bottom: rem-calc(20);
		.facilities-caption{
			@include imagecaption(0, 0, rem-calc(8 15), rgba($aqua-bg-color, .8));
			h2{
				color: $white;
			}
		}
	}
	.facilities-gallery{
		padding-left: rem-calc(15);
		padding-right: rem-calc(15);
	}
}



