.free-quote{

	.table-prices{
		margin-bottom: rem-calc(40);
		padding: rem-calc(15);
		border: 1px solid $medium-gray;
	}

	.quantity{
		input{
			margin:0;
			width:rem-calc(33);
			max-height: rem-calc(32);
			text-align: center;
			background-color: $light-gray;
			border-radius: 0;
			padding: 0;
		}
	}

	.procedure-box{
		margin-bottom: rem-calc(30);
		.procedure{
			border-bottom: 1px solid #ccc;
			margin-bottom: rem-calc(4);
		}
		.us-quote-price{
  		font-style: italic;
			float: left;
		}
		.our-quote-price{
			color: $brand-pink;
			font-weight: bold;
			float: right;
		}
	}
}

.plus{
	border-radius: 100% 100% 0 0;
	border-bottom: 0;
	margin: 0;
	color: $brand-purple;
}

.minus{
	border-radius: 0 0 100% 100%;
	border-top: 0;
	margin: 0;
	color: $brand-aqua;
}