// Homepage
///////////////////////
$cover-bg-color:      $brand-purple;
$cover-caption-height: rem-calc(55);
$cover-caption-height-medium: rem-calc(95);


#homepage{
  h2{
    font-weight: normal;
  }
  .cover {
    background-image: url('../img/covers/cover-home.jpg');
    background-position: center 80%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 30vh;
    margin-bottom: rem-calc(20);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    // &:before {
    //  content: '';
    //  background-color: $cover-bg-color;
    //  position: absolute;
    //  width: 100%;
   //   height: $cover-caption-height;
   //   bottom: 0;
   //   left: 0;
   //   mix-blend-mode: multiply; 
    // }
    &--cancun {
      background-image: url('../img/covers/cover-home-cancun.jpg');
    }
    .cover-caption {
      // position: absolute;
      // width: 100%;
      // bottom: 0;
      // left: 0;
      // height: $cover-caption-height;
      // padding: rem-calc(8 10);
      h1 {
        // font-size: rem-calc(14);
        color: $white;
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0px 10px 12px #061421, 0px 2px 10px #010b13;
        margin-bottom: 1rem;
        line-height: 1.1;
      }
      &__sm { font-size: 80%; }
      &__location {
        color: #f3ef28;
        background-color: #034ea2;
        padding: 5px;
        text-shadow: none;
        transform: skew(-10deg);
        display: inline-block;
      }
    }
  }
  .cancun-cta {
    font-size: rem-calc(20);
    color: $brand-blue;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin-bottom: 1rem;
    display: block;
    &:hover {
      text-decoration-style: solid;
    }
  }
}

//CTA Middle
//////////////////////////////////
.cta-middle{
  background-color: $brand-aqua;
  color: $white;
  margin: rem-calc(30 -15);
  padding: rem-calc(20 10);
  h3{
    font-weight: bold;
    text-transform: uppercase;
  }
}

//Treatments
////////////////////////////////
.home-treatments{
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(30);
  .treatment{
    text-align: center;
    margin-bottom: rem-calc(20);
    img{
      width: rem-calc(80);
      margin-bottom: rem-calc(10);
    }
    h3{
      color: $brand-purple;
      text-transform: uppercase;
      margin:0;
    }
    p{
      color: $brand-dark-blue;
    }
  }
}

//About Sani
////////////////////////////
.about-content{
  margin-bottom: rem-calc(40);
  h3{
    font-size: rem-calc(24);
    color: $brand-blue;
    // text-transform: uppercase;
  } 
}


//Medium
@media screen and #{breakpoint(medium)} {
  #homepage {
    h2 {
      font-size: rem-calc(20);
    }
    .cover{
      min-height: 50vh;
      // &:before{
     //   height: $cover-caption-height-medium;
      // }
      .cover-caption{
       // height: $cover-caption-height-medium;
       // padding: rem-calc(10 15);
       h1 {
         font-size: rem-calc(36);
       }
      }
    }
  }
  .home-treatments {
    .treatment {
      margin-bottom: rem-calc(44);
      text-align: left;
      h3{
        font-size: rem-calc(20);
      }
    }
  }
}



// @media screen and #{breakpoint(large)} {
//  #homepage{
//    .cover{
//      .cover-caption{
//        padding: rem-calc(26 15);
//      }
//    }
//  }
// }



