//Lodging
////////////////////////////////

.lodging-city{
	margin-bottom: rem-calc(30);
	h3{
		margin-bottom: rem-calc(50);
	}
}

.lodging-item{
	padding-bottom: rem-calc(12);
	margin-bottom: rem-calc(32);
	border-bottom: 1px dashed $global-border-color;
}
		

//Medium
@media screen and #{breakpoint(medium)} {}