// Promotions
////////////////////////////

// class promotions move to '@price-list'

.tabs-promotions{
	margin-bottom: rem-calc(40);
	padding: rem-calc(15);
	border: 1px solid $global-border-color;
	h3{
		color: $brand-purple;
	}
}
