//
// Reviews
// --------------------------------------------------


// List
.review-content{
	@include leftborder( 6, $brand-aqua, 12);
	margin-bottom: rem-calc(36);
	.review-info{
		.name{
			color: $brand-purple;
			font-weight: bold;
		}
		.place{
			// color: $dark-gray;
			&:before{
				content: '- ';
			}
		}
		.treatment,
		.score{
			font-style: italic;
			margin-right: rem-calc(10);
		}
		.treatment{
			color: $brand-aqua;
		}
	}
	.review-rating{
		justify-content: flex-start;
	}
}

// Single
.review-patient-info{
	@include leftborder( 4, $brand-purple, 10);
	p{
		color: $brand-purple;
		font-size: rem-calc(18);
		font-weight: bold;
		small{
			color: $dark-gray;
			font-weight: normal;
			&:before{
				content: '- ';
			}
		}
	}
}




