//
// Self Booking
// --------------------------------------------------

.selfbooking{
	position: relative;
	.selfbooking-container{
		position: relative;
	  // height: 0;
	  min-height: rem-calc(750) !important;
	  margin: 0;
	  list-style: none;
	  overflow: hidden;
	  @include breakpoint(medium) {
	    min-height: rem-calc(650) !important;
	  }
	  &:focus{
			outline: none;
		}
	}
	.selfbooking-slide{
		width: 100%;
	}
	.step-titles{
		font-size: rem-calc(22);
		color: $brand-aqua;
	}
}

#selfbooking-dropdown{
	width: rem-calc(218);
	max-height: rem-calc(225);
	overflow-y: scroll;
}

// Datepicker
.ui-datepicker{
	a{
		color: $brand-dark-blue;
	}
	&.ui-widget-content{
		border: 1px solid $medium-gray;
		padding: 0;
		background-color: $white;
	}
	.ui-datepicker-header{
	}
	.ui-datepicker-title{
		select{
			border-radius: 0;
			&:first-child{
				border-right: none;
			}
		}
	}
	.ui-datepicker-calendar{
		margin: 0;
		.ui-state-hover{
			background-color: scale-color($brand-dark-blue, $lightness: 72%);
		}
		.ui-state-active{
			background-color: $brand-pink;
			color: $white;
		}
	}
	.ui-datepicker-prev{
		width: rem-calc(43);
  	height: rem-calc(39);
  	right: 2px;
		top: 4px;
		border-radius: $global-radius;
		span{
		  width: 0;
		  height: 0;
		  border: inset 6px;
		  border-left-width: 0;
		  border-left-style: solid;
		  border-color: transparent $brand-blue transparent;
			margin-left: -4px;
			margin-top: -6px;
		}
	}
	.ui-datepicker-prev-hover{
		background-color: $brand-blue;
		span{
			border-color: transparent $white transparent;
		}
	}
	.ui-datepicker-next{
		width: rem-calc(43);
  	height: rem-calc(39);
  	right: 2px;
		top: 4px;
		border-radius: $global-radius;
		span{
		  width: 0;
		  height: 0;
		  border: inset 6px;
		  border-right-width: 0;
		  border-left-style: solid;
		  border-color: transparent transparent transparent $brand-blue;
			margin-left: -4px;
			margin-top: -6px;
		}
	}
	.ui-datepicker-next-hover{
		background-color: $brand-blue;
		span{
			border-color: transparent transparent transparent $white;
		}
	}
}

@media screen and #{breakpoint(medium)} {

}
