//
// Video Reviews
// --------------------------------------------------

.video-review-content{
	margin-bottom: rem-calc(50);
	.lead{
  	font-weight: bold;
  	margin-bottom: 0;
	}
	small{
		color: $dark-gray;
	}
}