{% extends 'pages/page.html' %}
{% load staticfiles reviews_tags %}

{% block meta_title %}{{ review.first_name }} {{ review.last_name }}'s review about the experience at Sani Dental Group{% endblock %}

{% block meta_description %}{{ review.comment|truncatewords:30 }}{% endblock %}

{% block content %}

<div class="row align-center">
  <div class="small-12 medium-12 columns">
    <div class="review-patient-info">
      <p>{{ review.first_name }} {{ review.last_name }} <small>{{ review.city }}, {{ review.country }} / {{ review.created|date:"d M Y" }}</small></p>
    </div>
  </div>
</div>

<div class="row align-middle">
  <div class="small-12 medium-6 columns">
    <div class="review-rating">
      <span>Quality</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.quality %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Service</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.service %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Communication</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.communication %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Cleanliness</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.cleanliness %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Price</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.price %}"></div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <div class="review-rating">
      <span>Comfort</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.comfort %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Value</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.value %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Location</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.location %}"></div>
      </div>
    </div>
    <div class="review-rating">
      <span>Satisfaction</span>
      <div class="star-holder">
        <div class="star-rating" style="width: {% calc_stars review.satisfaction %}"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="review-patient">
  <p>"{{ review.comment }}"</p>
</div>
{% endblock %}