{% extends 'pages/page.html' %}
{% load reviews_tags mezzanine_tags %}

{% block content %}
<div class="row">
	<div class="small-12 medium-12 columns">
		<p class="text-right">
			<a href="{% url 'page' 'write-review' %}" title="Write Review" class="btn-pink button large">Write a Review</a>
		</p>
	</div>
</div>
{% for review in reviews %}
<div class="row align-middle">
	<div class="small-12 medium-10 columns">

		<div class="review-content">
			<div class="review-info" itemscope itemtype="http://schema.org/Review">
				<div itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span class="name" itemprop="name"><strong>{{ review.first_name }} {{ review.last_name }}</strong></span> 
					<small>
						<span class="place">{{ review.city }}, {{ review.country }} / 
						<meta itemprop="datePublished" content="{{ review.created|date:"d-m-Y" }}"> {{ review.created|date:"d M Y" }}</span>
					</small>
				</div>
				<div class="review-rating">
					<div itemprop="itemReviewed" itemscope itemtype="http://schema.org/Thing">
						<span class="score" itemprop="name">Overall Score</span>
					</div>
					<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
						<div class="star-holder">
							<span class="star-rating" itemprop="ratingValue" style="width: {% calc_stars review.average %}">5</span>
							<!-- <span itemprop="bestRating">5</span> -->
						</div>
					</div>
				</div>
			</div>
			<p>{{ review.comment|truncatewords:45 }} <a href="{% url 'review' review.pk %}" title="Read full review" class="read-more-link">Read full review...</a></p>
		</div><!-- .review-home-->

	</div>
</div>
{% endfor %}

<!--begin paginator -->
{% pagination_for page_obj %}
<!--end paginator-->

{% endblock %}