<div class="row align-center">
  
  <div class="small-12 medium-3 columns sani-sticky-menu" id="promotions-menu" data-sticky-container>
    <nav class="sticky" data-sticky data-anchor="promotions-list" data-sticky-on="medium">
      <ul class="vertical menu" data-magellan>
        {% for promotion in promotions %}
        <li><a href="#id-promo-{{ promotion.pk }}" title="{{ promotion.name }}">{{ promotion.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="small-12 medium-9 columns" id="promotions-list">
    {% for promotion in promotions %}
    <div id="id-promo-{{ promotion.pk }}" data-magellan-target="id-promo-{{ promotion.pk }}" class="sani-sticky-container">
      <h4>{{ promotion.name }}</h4>
      <p>{{ promotion.description|safe }}</p>
      <p><b>Restrictions:</b></p>
      <ul>
        {% for restriction in promotion.restrictions %}
        <li>{{ restriction.description }}</li>
        {% endfor %}
      </ul>
      <a href="#promotions-menu" title="Go Back To Menu" class="show-for-small-only go-back">Go Back To Menu</a>
    </div>
  {% endfor %}
  </div>

</div>


