{% load pages_tags mezzanine_tags sani_tags i18n staticfiles %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8">
		<title>{% block meta_title %}{{ settings.SITE_TITLE }}{% endblock %}</title>
		<link rel="canonical" href="https:{{ HOME_URL }}{{ request.path }}" />
		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
		<link rel="stylesheet" href="{% static 'app.css' %}" />
		<!-- Verification -->
		<meta name="google-site-verification" content="v49FGlNNOkJeo4MasADu6um6NDTX_0CSAzhlEXvg-Mk" />
		<meta property="fb:pages" content="134536706585743" />
		<meta name="msvalidate.01" content="C09368C0AF606FC8255E61A84476CEEE" />
		<!-- End Verification -->
		{% block open_graph %}{% endblock open_graph %}
		{% block extra_head %}{% endblock %}
		{% block extra_css %}{% endblock %}
		{% if not debug %}
    <!-- Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-37592575-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK9D26"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PK9D26');</script>
		
		{% endif %}
	</head>
  <body>
		{% include 'includes/header.html' %}
		{% block main %}{% endblock %}
		{% include 'includes/footer.html' %}
    <script src="{% static 'app.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
