{% extends 'base.html' %}
{% load staticfiles %}

{% block meta_description %}{{ SITE_HOME_DESCRIPTION }}{% endblock %}
{% block meta_keywords %}{{ SITE_HOME_KEYWORDS }}{% endblock %}

{% block open_graph %}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Sani Dental Group" />
<meta property="og:title" content="{{ settings.SITE_TITLE }}"/>
<meta property="og:description" content="{{ SITE_HOME_DESCRIPTION }}" />
<meta property="og:url" content="https:{{ HOME_URL }}{{ request.path }}"/>
<meta property="og:image" content="https:{{ HOME_URL }}/static/img/logos/sani-dental-group_2x.png"/>
<meta property="fb:admins" content="702171953" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@SaniDentalGroup">
<meta name="twitter:url" content="https:{{ HOME_URL }}{{ request.path }}">
<meta name="twitter:title" content="{{ settings.SITE_TITLE }}">
<meta name="twitter:description" content="{{ SITE_HOME_DESCRIPTION }}">
<meta name="twitter:image" content="https:{{ HOME_URL }}/static/img/logos/sani-dental-group_2x.png">
{% endblock %}

{% block main %}
<section class="row expanded" role="main" id="homepage">
	<main id="content" class="small-12 medium-12 large-8" role="main">
		<div class="cover cover--cancun">
			<div class="cover-caption">
				<h1>Embracing <span class="cover-caption__location">Cancun Riviera</span> <br><span class="cover-caption__sm">as our new dental destination</span></h1>
			</div>
		</div><!-- .cover -->

		<div class="container">
			<div class="row align-center">
				<div class="small-12 medium-10 columns">
					<h2>With more than 35 dentists, three clinics in two different locations, and more than 30 years of experience committed to providing high-quality dental procedures our patients deserve.</h2>
					<a href="/landing/cancun-dentists" class="cancun-cta">Get to know our new location Cancun Riviera.</a>
					<div class="row align-center align-middle">
						<div class="small-12 columns">
							<p class="text-aqua"><b>Our Certifications:</b></p>
						</div>
						<div class="small-3 medium-2 columns">
							<img src="{% static 'img/logos/BBB.png' %}" alt="BBB Accredited business">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="{% static 'img/logos/GCR.png' %}" alt="GCR International Accredited Clinic">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="{% static 'img/logos/ADA.png' %}" alt="American Dental Association">
						</div>
						<div class="small-3 medium-2 columns">
							<img src="{% static 'img/logos/sani-dental-since-1985.png' %}" alt="Sani Dental Group Since 1985">
						</div>
		 			</div>
				</div>
			</div>
			<div class="show-for-small-only cta-middle">
				<div class="row text-center">
					<div class="small-12 medium-10 columns">
						<h3>Get the smile you deserve at a price you can pay</h3>
						<a href="{% url 'page' 'free-quote' %}" title="Free Quote" class="button btn-purple">I Want An Estimate</a>
					</div>
				</div>
			</div><!-- .cta-middle -->

			{% include 'includes/list-treatments.html' %}
			<div class="row align-center">
				<div class="small-12 medium-10 columns">
					<div class="about-content">
						<h2>About Sani Dental Group</h2>
						<p>Sani Dental Group is the largest dental group in Los Algodones, Mexico. Established in 1985, it has grown from a 2-chair office to a group with more than 30 dentists with 3 different offices. Our specialists are graduates from the best universities in Mexico, and they have taken courses in several prestigious institutions, including Harvard School of Dental Medicine, International Center of Laser Education and MegaíGen Implants Factory in Seoul, Korea.</p>
					</div>
					<div class="about-content">
						<h2>Dental Tourism in Mexico</h2>
						<p>Dental Tourism has become the new way for North American and Canadian citizens to take care of their dental needs. One of the biggest advantages and main reasons why people are resorting to dental tourism in Mexico is because of its very affordable prices.</p>
						<p>Sani Dental Groupís team will help you during your complete <i>dental vacation experience</i>. Offering the <b>best dental work in Los Algodones, Mexico</b> is just part of our job.  You are not only saving thousands of dollars, youíre also traveling, relaxing and creating a brighter future with a new functional smile.</p>
						<p>Los Algodones, Mexico it¥s known as the capital of Dental Tourism for their great treat in any dental care procedure and also for their affordable prices</p>
					</div>
					<div class="about-content">
						<h2>Los Algodones Dentists</h2>
						<p>Named for some as the <b>dental capital of the world,</b> Los Algodones, Mexico is known worldwide as the place to travel to get excellent dental work at a very reasonable cost. A calm and colorful town as Los Algodones has a lot to offer to our dental tourists, accommodation, clinics, restaurants, bars, traditional Mexican ìcuriousî and more. Everything within a walking distance in a town made for you.</p>
					</div>
					<div class="about-content">
						<h2>What to expect from Dental work In Los Algodones Mexico</h2>
						<p>You'll be amazed by the Sani Dental Group's quality, which is not compromised by the affordable prices. Our dentist received training in the best schools of Mexico and the US, such as Harvard and Loma Linda. You'll be in the best hands. During your visit, you'll have the opportunity to know people from around the world that are also looking for a unique dental experience in Los Algodones, Mexico. So get ready to come back home with not only a new smile but with new friends.</p>
					</div>
				</div>
			</div>

			{% include 'includes/events-home.html' %}

			{% include 'includes/reviews-home.html' %}

		</div><!-- .container -->

	</main><!-- #content -->

	<aside id="sidebar" class="small-12 medium-12 large-4" data-sticky-container>
		{% include 'includes/sidebar-contact.html' %}
	</aside><!-- #sidebar -->

</section>
{% endblock %}
