{% extends 'pages/page.html' %}
{% load mezzanine_tags %}
{% load staticfiles %}

{% block meta_title %}Search Results{% endblock %}
{% block title %}Search Results{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}
<div class="row align-center">
	<div class="small-12 medium-10 columns">
		<div class="page-title">
			<h1>Results</h1>
		</div>
	</div>
</div>

<div class="row align-center">
	<div class="small-12 medium-10 columns">
	{% if results.paginator.count == 0 %}
		<p>No results were found in {{ search_type }} matching your query: {{ query }}</p>
	{% else %}

	{% with start=results.start_index end=results.end_index total=results.paginator.count %}
		<p>Showing <b>{{ start }}</b> to <b>{{ end }}</b> of <b>{{ total }}</b> results in {{ search_type }} matching your search: <b>{{ query }}</b></p>
	{% endwith %}

	{% for result in results.object_list %}
		<p class="lead"><a href="{{ result.get_absolute_url }}" title="Result for search">{{ result }}</a></p>
		<p><p>{{ result.description|truncatewords_html:20|safe }}</p></p>
	{% endfor %}
	</div>
</div>

{% endif %}

<div class="row align-center">
	<div class="small-12 medium-10 columns text-center">
		{% pagination_for results %}
	</div>
</div>
<!--=========== SPAN ===========-->
{% endblock %}
