{% extends 'pages/page.html' %}
{% load reviews_tags mezzanine_tags %}

{% block content %}

<div class="row">
	<div class="small-12 columns">
		<ul class="ba-list">
			{% for group in groups %}
			<li class="lead"><a href="{{ group.slug }}" title="{{ group.name }}">{{ group.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}