{% extends 'pages/page.html' %}
{% load staticfiles reviews_tags mezzanine_tags %}

{% block content %}

  {% if  group.procedures|length > 1 %}
  <p>
    <strong class="treatments-list lead">Procedures applied for {{ group.name }}: </strong>
    {% for procedure in group.procedures %}
      {% if forloop.last %}
        {{ procedure.name }}.
      {% else %}
        {{ procedure.name }}, 
      {% endif %}
    {% endfor %}
  </p>
  {% endif %}

  {% for before_after in before_and_afters %}
  <div class="ba-content">
    <p class="lead">{{ before_after.full_name }}</p>
    <p><small>{{ before_after.city }}, {{ before_after.country }}, {{ before_after.date|date:"d M Y" }}</small></p>
    <div class="ba-pics">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <p>Before</p>
          <img src="{{ MEDIA_URL }}{{ before_after.before }}" >
        </div>
        <div class="small-12 medium-6 columns">
          <p>After</p>
          <img src="{{ MEDIA_URL }}{{ before_after.after }}" >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% include 'includes/pagination-general.html'%}

{% endblock %}